openapi: 3.1.0
info:
  title: Microsoft Graph Admin API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft
    Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet
    Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people
    insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and
    admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Administration
  description: Core administrative operations for managing the admin singleton
- name: Microsoft 365 Apps
  description: Operations for managing Microsoft 365 Apps installation options
- name: Report Settings
  description: Operations for managing administrative report settings
- name: Edge Browser
  description: Operations for managing Microsoft Edge browser settings
- name: Internet Explorer Mode
  description: Operations for managing Internet Explorer mode configurations
- name: Browser Site Lists
  description: Operations for managing browser site lists
- name: Browser Sites
  description: Operations for managing individual browser sites
- name: Browser Shared Cookies
  description: Operations for managing shared cookies
- name: People Administration
  description: Operations for managing people insights
- name: Service Announcements
  description: Operations for managing service health and messages
- name: SharePoint
  description: Operations for managing SharePoint settings
- name: Copilot Administration
  description: Operations for managing Microsoft Copilot settings
- name: Administrative Units
  description: Operations for managing directory administrative units
- name: Admin Consent Policy
  description: Operations for managing admin consent request policies
paths:
  /admin:
    description: Provides operations to manage the admin singleton.
    get:
      tags:
      - Administration
      summary: Get admin singleton
      description: Retrieve the admin singleton entity containing all administrative
        configuration settings.
      operationId: getAdmin
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
              examples:
                GetAdminResponse:
                  $ref: '#/components/examples/GetAdminResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Administration
      summary: Update admin singleton
      description: Update the properties of the admin singleton entity.
      operationId: updateAdmin
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Admin'
            examples:
              UpdateAdminRequest:
                $ref: '#/components/examples/UpdateAdminRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
              examples:
                UpdateAdminResponse:
                  $ref: '#/components/examples/UpdateAdminResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/edge:
    description: Provides operations to manage the edge property of the admin entity.
    get:
      tags:
      - Edge Browser
      summary: Get Edge settings
      description: Retrieve the Microsoft Edge browser settings container.
      operationId: getAdminEdge
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
              examples:
                GetEdgeResponse:
                  $ref: '#/components/examples/GetEdgeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Edge Browser
      summary: Update Edge settings
      description: Update the Microsoft Edge browser settings.
      operationId: updateAdminEdge
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edge'
            examples:
              UpdateEdgeRequest:
                $ref: '#/components/examples/UpdateEdgeRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
              examples:
                UpdateEdgeResponse:
                  $ref: '#/components/examples/UpdateEdgeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Edge Browser
      summary: Delete Edge settings
      description: Delete the Microsoft Edge browser settings navigation property.
      operationId: deleteAdminEdge
      parameters:
      - name: If-Match
        in: header
        description: ETag for optimistic concurrency control
        schema:
          type: string
      responses:
        '204':
          description: Success - No content returned
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/edge/internetExplorerMode:
    description: Provides operations to manage Internet Explorer mode settings.
    get:
      tags:
      - Internet Explorer Mode
      summary: Get Internet Explorer mode settings
      description: Retrieve the Internet Explorer mode configuration container.
      operationId: getEdgeInternetExplorerMode
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternetExplorerMode'
              examples:
                GetInternetExplorerModeResponse:
                  $ref: '#/components/examples/GetInternetExplorerModeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Internet Explorer Mode
      summary: Update Internet Explorer mode settings
      description: Update the Internet Explorer mode configuration.
      operationId: updateEdgeInternetExplorerMode
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternetExplorerMode'
            examples:
              UpdateInternetExplorerModeRequest:
                $ref: '#/components/examples/UpdateInternetExplorerModeRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternetExplorerMode'
              examples:
                UpdateInternetExplorerModeResponse:
                  $ref: '#/components/examples/UpdateInternetExplorerModeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Internet Explorer Mode
      summary: Delete Internet Explorer mode settings
      description: Delete the Internet Explorer mode configuration.
      operationId: deleteEdgeInternetExplorerMode
      parameters:
      - name: If-Match
        in: header
        description: ETag for optimistic concurrency control
        schema:
          type: string
      responses:
        '204':
          description: Success - No content returned
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/edge/internetExplorerMode/siteLists:
    description: Provides operations to manage site lists for Internet Explorer mode.
    get:
      tags:
      - Browser Site Lists
      summary: List browser site lists
      description: Get a list of the browserSiteList objects and their properties.
      operationId: listBrowserSiteLists
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      responses:
        2XX:
          $ref: '#/components/responses/BrowserSiteListCollectionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    post:
      tags:
      - Browser Site Lists
      summary: Create browser site list
      description: Create a new browserSiteList object.
      operationId: createBrowserSiteList
      requestBody:
        description: New browser site list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserSiteList'
            examples:
              CreateBrowserSiteListRequest:
                $ref: '#/components/examples/CreateBrowserSiteListRequest'
        required: true
      responses:
        2XX:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSiteList'
              examples:
                CreateBrowserSiteListResponse:
                  $ref: '#/components/examples/CreateBrowserSiteListResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}:
    description: Provides operations to manage a specific browser site list.
    parameters:
    - $ref: '#/components/parameters/BrowserSiteListId'
    get:
      tags:
      - Browser Site Lists
      summary: Get browser site list
      description: Get a browserSiteList that contains browserSite and browserSharedCookie
        resources.
      operationId: getBrowserSiteList
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSiteList'
              examples:
                GetBrowserSiteListResponse:
                  $ref: '#/components/examples/GetBrowserSiteListResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Browser Site Lists
      summary: Update browser site list
      description: Update the properties of a browserSiteList object.
      operationId: updateBrowserSiteList
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserSiteList'
            examples:
              UpdateBrowserSiteListRequest:
                $ref: '#/components/examples/UpdateBrowserSiteListRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSiteList'
              examples:
                UpdateBrowserSiteListResponse:
                  $ref: '#/components/examples/UpdateBrowserSiteListResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Browser Site Lists
      summary: Delete browser site list
      description: Delete a browserSiteList object.
      operationId: deleteBrowserSiteList
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/microsoft365Apps:
    description: Provides operations to manage Microsoft 365 Apps settings.
    get:
      tags:
      - Microsoft 365 Apps
      summary: Get Microsoft 365 Apps settings
      description: Retrieve the Microsoft 365 Apps administration settings.
      operationId: getMicrosoft365Apps
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMicrosoft365Apps'
              examples:
                GetMicrosoft365AppsResponse:
                  $ref: '#/components/examples/GetMicrosoft365AppsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Microsoft 365 Apps
      summary: Update Microsoft 365 Apps settings
      description: Update the Microsoft 365 Apps administration settings.
      operationId: updateMicrosoft365Apps
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMicrosoft365Apps'
            examples:
              UpdateMicrosoft365AppsRequest:
                $ref: '#/components/examples/UpdateMicrosoft365AppsRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMicrosoft365Apps'
              examples:
                UpdateMicrosoft365AppsResponse:
                  $ref: '#/components/examples/UpdateMicrosoft365AppsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/reportSettings:
    description: Provides operations to manage report settings.
    get:
      tags:
      - Report Settings
      summary: Get report settings
      description: Retrieve the administrative report settings.
      operationId: getReportSettings
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReportSettings'
              examples:
                GetReportSettingsResponse:
                  $ref: '#/components/examples/GetReportSettingsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Report Settings
      summary: Update report settings
      description: Update the administrative report settings.
      operationId: updateReportSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminReportSettings'
            examples:
              UpdateReportSettingsRequest:
                $ref: '#/components/examples/UpdateReportSettingsRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReportSettings'
              examples:
                UpdateReportSettingsResponse:
                  $ref: '#/components/examples/UpdateReportSettingsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/serviceAnnouncement:
    description: Provides operations to manage service announcement settings.
    get:
      tags:
      - Service Announcements
      summary: Get service announcement
      description: Retrieve the service announcement container.
      operationId: getServiceAnnouncement
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAnnouncement'
              examples:
                GetServiceAnnouncementResponse:
                  $ref: '#/components/examples/GetServiceAnnouncementResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/sharepoint:
    description: Provides operations to manage SharePoint settings.
    get:
      tags:
      - SharePoint
      summary: Get SharePoint settings
      description: Retrieve the SharePoint administration settings.
      operationId: getSharePointSettings
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharePoint'
              examples:
                GetSharePointResponse:
                  $ref: '#/components/examples/GetSharePointResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - SharePoint
      summary: Update SharePoint settings
      description: Update the SharePoint administration settings.
      operationId: updateSharePointSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharePoint'
            examples:
              UpdateSharePointRequest:
                $ref: '#/components/examples/UpdateSharePointRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharePoint'
              examples:
                UpdateSharePointResponse:
                  $ref: '#/components/examples/UpdateSharePointResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /copilot/admin:
    description: Provides operations to manage Copilot administration settings.
    get:
      tags:
      - Copilot Administration
      summary: Get Copilot admin settings
      description: Retrieve the Microsoft Copilot administration settings.
      operationId: getCopilotAdmin
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopilotAdmin'
              examples:
                GetCopilotAdminResponse:
                  $ref: '#/components/examples/GetCopilotAdminResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /directory/administrativeUnits:
    description: Provides operations to manage administrative units.
    get:
      tags:
      - Administrative Units
      summary: List administrative units
      description: Get a list of all administrative units.
      operationId: listAdministrativeUnits
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      responses:
        2XX:
          $ref: '#/components/responses/AdministrativeUnitCollectionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    post:
      tags:
      - Administrative Units
      summary: Create administrative unit
      description: Create a new administrative unit.
      operationId: createAdministrativeUnit
      requestBody:
        description: New administrative unit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdministrativeUnit'
            examples:
              CreateAdministrativeUnitRequest:
                $ref: '#/components/examples/CreateAdministrativeUnitRequest'
        required: true
      responses:
        2XX:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeUnit'
              examples:
                CreateAdministrativeUnitResponse:
                  $ref: '#/components/examples/CreateAdministrativeUnitResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /directory/administrativeUnits/{administrativeUnit-id}:
    description: Provides operations to manage a specific administrative unit.
    parameters:
    - $ref: '#/components/parameters/AdministrativeUnitId'
    get:
      tags:
      - Administrative Units
      summary: Get administrative unit
      description: Retrieve a specific administrative unit.
      operationId: getAdministrativeUnit
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeUnit'
              examples:
                GetAdministrativeUnitResponse:
                  $ref: '#/components/examples/GetAdministrativeUnitResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Administrative Units
      summary: Update administrative unit
      description: Update the properties of an administrative unit.
      operationId: updateAdministrativeUnit
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdministrativeUnit'
            examples:
              UpdateAdministrativeUnitRequest:
                $ref: '#/components/examples/UpdateAdministrativeUnitRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeUnit'
              examples:
                UpdateAdministrativeUnitResponse:
                  $ref: '#/components/examples/UpdateAdministrativeUnitResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Administrative Units
      summary: Delete administrative unit
      description: Delete an administrative unit.
      operationId: deleteAdministrativeUnit
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /policies/adminConsentRequestPolicy:
    description: Provides operations to manage admin consent request policy.
    get:
      tags:
      - Admin Consent Policy
      summary: Get admin consent request policy
      description: Retrieve the admin consent request policy.
      operationId: getAdminConsentRequestPolicy
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConsentRequestPolicy'
              examples:
                GetAdminConsentRequestPolicyResponse:
                  $ref: '#/components/examples/GetAdminConsentRequestPolicyResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Admin Consent Policy
      summary: Update admin consent request policy
      description: Update the admin consent request policy.
      operationId: updateAdminConsentRequestPolicy
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConsentRequestPolicy'
            examples:
              UpdateAdminConsentRequestPolicyRequest:
                $ref: '#/components/examples/UpdateAdminConsentRequestPolicyRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConsentRequestPolicy'
              examples:
                UpdateAdminConsentRequestPolicyResponse:
                  $ref: '#/components/examples/UpdateAdminConsentRequestPolicyResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  schemas:
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    Admin:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: Admin
        type: object
        properties:
          edge:
            $ref: '#/components/schemas/Edge'
          microsoft365Apps:
            $ref: '#/components/schemas/AdminMicrosoft365Apps'
          reportSettings:
            $ref: '#/components/schemas/AdminReportSettings'
          serviceAnnouncement:
            $ref: '#/components/schemas/ServiceAnnouncement'
          sharepoint:
            $ref: '#/components/schemas/SharePoint'
          '@odata.type':
            type: string
    Edge:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: Edge
        type: object
        properties:
          internetExplorerMode:
            $ref: '#/components/schemas/InternetExplorerMode'
          '@odata.type':
            type: string
    InternetExplorerMode:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: InternetExplorerMode
        type: object
        properties:
          siteLists:
            type: array
            items:
              $ref: '#/components/schemas/BrowserSiteList'
          '@odata.type':
            type: string
    BrowserSiteList:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: BrowserSiteList
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
          lastModifiedDateTime:
            type: string
            format: date-time
          revision:
            type: string
          status:
            $ref: '#/components/schemas/BrowserSiteListStatus'
          '@odata.type':
            type: string
    BrowserSiteListStatus:
      title: BrowserSiteListStatus
      type: string
      enum:
      - draft
      - published
      - pending
      - unknownFutureValue
    AdminMicrosoft365Apps:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminMicrosoft365Apps
        type: object
        properties:
          '@odata.type':
            type: string
    AdminReportSettings:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminReportSettings
        type: object
        properties:
          displayConcealedNames:
            type: boolean
          '@odata.type':
            type: string
    ServiceAnnouncement:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: ServiceAnnouncement
        type: object
        properties:
          '@odata.type':
            type: string
    SharePoint:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: SharePoint
        type: object
        properties:
          '@odata.type':
            type: string
    CopilotAdmin:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: CopilotAdmin
        type: object
        properties:
          '@odata.type':
            type: string
    AdministrativeUnit:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdministrativeUnit
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
            nullable: true
          visibility:
            type: string
            nullable: true
          '@odata.type':
            type: string
    AdminConsentRequestPolicy:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminConsentRequestPolicy
        type: object
        properties:
          isEnabled:
            type: boolean
          notifyReviewers:
            type: boolean
          remindersEnabled:
            type: boolean
          requestDurationInDays:
            type: integer
            format: int32
          version:
            type: integer
            format: int32
          '@odata.type':
            type: string
    BrowserSiteListCollectionResponse:
      title: BrowserSiteListCollectionResponse
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BrowserSiteList'
        '@odata.nextLink':
          type: string
          nullable: true
        '@odata.count':
          type: integer
          format: int32
    AdministrativeUnitCollectionResponse:
      title: AdministrativeUnitCollectionResponse
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AdministrativeUnit'
        '@odata.nextLink':
          type: string
          nullable: true
        '@odata.count':
          type: integer
          format: int32
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
  parameters:
    Top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    Count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
    BrowserSiteListId:
      name: browserSiteList-id
      in: path
      description: The unique identifier of the browser site list
      required: true
      schema:
        type: string
    AdministrativeUnitId:
      name: administrativeUnit-id
      in: path
      description: The unique identifier of the administrative unit
      required: true
      schema:
        type: string
  examples:
    GetAdminResponse:
      summary: Example response for getting admin singleton
      value:
        id: admin
        '@odata.type': '#microsoft.graph.admin'
    UpdateAdminRequest:
      summary: Example request for updating admin singleton
      value:
        '@odata.type': '#microsoft.graph.admin'
    UpdateAdminResponse:
      summary: Example response for updated admin singleton
      value:
        id: admin
        '@odata.type': '#microsoft.graph.admin'
    GetEdgeResponse:
      summary: Example response for getting Edge settings
      value:
        id: edge
        '@odata.type': '#microsoft.graph.edge'
    UpdateEdgeRequest:
      summary: Example request for updating Edge settings
      value:
        '@odata.type': '#microsoft.graph.edge'
    UpdateEdgeResponse:
      summary: Example response for updated Edge settings
      value:
        id: edge
        '@odata.type': '#microsoft.graph.edge'
    GetInternetExplorerModeResponse:
      summary: Example response for getting Internet Explorer mode settings
      value:
        id: internetExplorerMode
        siteLists: []
        '@odata.type': '#microsoft.graph.internetExplorerMode'
    UpdateInternetExplorerModeRequest:
      summary: Example request for updating Internet Explorer mode settings
      value:
        '@odata.type': '#microsoft.graph.internetExplorerMode'
    UpdateInternetExplorerModeResponse:
      summary: Example response for updated Internet Explorer mode settings
      value:
        id: internetExplorerMode
        siteLists: []
        '@odata.type': '#microsoft.graph.internetExplorerMode'
    CreateBrowserSiteListRequest:
      summary: Example request for creating a browser site list
      value:
        displayName: Enterprise Mode Site List
        description: Site list for legacy web applications
        '@odata.type': '#microsoft.graph.browserSiteList'
    CreateBrowserSiteListResponse:
      summary: Example response for created browser site list
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Enterprise Mode Site List
        description: Site list for legacy web applications
        status: draft
        revision: '1'
        '@odata.type': '#microsoft.graph.browserSiteList'
    GetBrowserSiteListResponse:
      summary: Example response for getting a browser site list
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Enterprise Mode Site List
        description: Site list for legacy web applications
        status: draft
        revision: '1'
        '@odata.type': '#microsoft.graph.browserSiteList'
    UpdateBrowserSiteListRequest:
      summary: Example request for updating a browser site list
      value:
        displayName: Updated Enterprise Mode Site List
        '@odata.type': '#microsoft.graph.browserSiteList'
    UpdateBrowserSiteListResponse:
      summary: Example response for updated browser site list
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Updated Enterprise Mode Site List
        status: draft
        revision: '2'
        '@odata.type': '#microsoft.graph.browserSiteList'
    GetMicrosoft365AppsResponse:
      summary: Example response for getting Microsoft 365 Apps settings
      value:
        id: microsoft365Apps
        '@odata.type': '#microsoft.graph.adminMicrosoft365Apps'
    UpdateMicrosoft365AppsRequest:
      summary: Example request for updating Microsoft 365 Apps settings
      value:
        '@odata.type': '#microsoft.graph.adminMicrosoft365Apps'
    UpdateMicrosoft365AppsResponse:
      summary: Example response for updated Microsoft 365 Apps settings
      value:
        id: microsoft365Apps
        '@odata.type': '#microsoft.graph.adminMicrosoft365Apps'
    GetReportSettingsResponse:
      summary: Example response for getting report settings
      value:
        id: reportSettings
        displayConcealedNames: false
        '@odata.type': '#microsoft.graph.adminReportSettings'
    UpdateReportSettingsRequest:
      summary: Example request for updating report settings
      value:
        displayConcealedNames: true
        '@odata.type': '#microsoft.graph.adminReportSettings'
    UpdateReportSettingsResponse:
      summary: Example response for updated report settings
      value:
        id: reportSettings
        displayConcealedNames: true
        '@odata.type': '#microsoft.graph.adminReportSettings'
    GetServiceAnnouncementResponse:
      summary: Example response for getting service announcement
      value:
        id: serviceAnnouncement
        '@odata.type': '#microsoft.graph.serviceAnnouncement'
    GetSharePointResponse:
      summary: Example response for getting SharePoint settings
      value:
        id: sharepoint
        '@odata.type': '#microsoft.graph.sharepoint'
    UpdateSharePointRequest:
      summary: Example request for updating SharePoint settings
      value:
        '@odata.type': '#microsoft.graph.sharepoint'
    UpdateSharePointResponse:
      summary: Example response for updated SharePoint settings
      value:
        id: sharepoint
        '@odata.type': '#microsoft.graph.sharepoint'
    GetCopilotAdminResponse:
      summary: Example response for getting Copilot admin settings
      value:
        id: copilotAdmin
        '@odata.type': '#microsoft.graph.copilotAdmin'
    CreateAdministrativeUnitRequest:
      summary: Example request for creating an administrative unit
      value:
        displayName: Marketing Department
        description: Administrative unit for the marketing team
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    CreateAdministrativeUnitResponse:
      summary: Example response for created administrative unit
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Marketing Department
        description: Administrative unit for the marketing team
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    GetAdministrativeUnitResponse:
      summary: Example response for getting an administrative unit
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Marketing Department
        description: Administrative unit for the marketing team
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    UpdateAdministrativeUnitRequest:
      summary: Example request for updating an administrative unit
      value:
        displayName: Updated Marketing Department
        '@odata.type': '#microsoft.graph.administrativeUnit'
    UpdateAdministrativeUnitResponse:
      summary: Example response for updated administrative unit
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Updated Marketing Department
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    GetAdminConsentRequestPolicyResponse:
      summary: Example response for getting admin consent request policy
      value:
        id: adminConsentRequestPolicy
        isEnabled: true
        notifyReviewers: true
        remindersEnabled: true
        requestDurationInDays: 30
        version: 1
        '@odata.type': '#microsoft.graph.adminConsentRequestPolicy'
    UpdateAdminConsentRequestPolicyRequest:
      summary: Example request for updating admin consent request policy
      value:
        isEnabled: true
        notifyReviewers: false
        '@odata.type': '#microsoft.graph.adminConsentRequestPolicy'
    UpdateAdminConsentRequestPolicyResponse:
      summary: Example response for updated admin consent request policy
      value:
        id: adminConsentRequestPolicy
        isEnabled: true
        notifyReviewers: false
        remindersEnabled: true
        requestDurationInDays: 30
        version: 2
        '@odata.type': '#microsoft.graph.adminConsentRequestPolicy'
    BrowserSiteListCollectionExample:
      summary: Example collection of browser site lists
      value:
        value:
        - id: 00000000-0000-0000-0000-000000000001
          displayName: Enterprise Mode Site List
          status: draft
          '@odata.type': '#microsoft.graph.browserSiteList'
        '@odata.count': 1
    AdministrativeUnitCollectionExample:
      summary: Example collection of administrative units
      value:
        value:
        - id: 00000000-0000-0000-0000-000000000001
          displayName: Marketing Department
          visibility: public
          '@odata.type': '#microsoft.graph.administrativeUnit'
        '@odata.count': 1
  responses:
    BrowserSiteListCollectionResponse:
      description: Retrieved collection of browser site lists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BrowserSiteListCollectionResponse'
          examples:
            BrowserSiteListCollectionExample:
              $ref: '#/components/examples/BrowserSiteListCollectionExample'
    AdministrativeUnitCollectionResponse:
      description: Retrieved collection of administrative units
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdministrativeUnitCollectionResponse'
          examples:
            AdministrativeUnitCollectionExample:
              $ref: '#/components/examples/AdministrativeUnitCollectionExample'
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
