openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin tenantRelationships.tenantRelationship.Functions API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: tenantRelationships.tenantRelationship.Functions
  x-ms-docs-toc-type: container
paths:
  /tenantRelationships/findTenantInformationByDomainName(domainName='{domainName}'):
    description: Provides operations to call the findTenantInformationByDomainName method.
    parameters:
    - name: domainName
      in: path
      description: 'Usage: domainName=''{domainName}'''
      required: true
      schema:
        type: string
        nullable: true
    get:
      tags:
      - tenantRelationships.tenantRelationship.Functions
      summary: Microsoft Graph Invoke function findTenantInformationByDomainName
      description: Given a domain name, search for a tenant and read its tenantInformation. You can use this API to validate tenant information and use the tenantId to configure cross-tenant access settings between you and the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tenantrelationship-findtenantinformationbydomainname?view=graph-rest-1.0
      operationId: tenantRelationships.findTenantInformationByDomainName
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.tenantInformation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /tenantRelationships/findTenantInformationByTenantId(tenantId='{tenantId}'):
    description: Provides operations to call the findTenantInformationByTenantId method.
    parameters:
    - name: tenantId
      in: path
      description: 'Usage: tenantId=''{tenantId}'''
      required: true
      schema:
        type: string
        nullable: true
    get:
      tags:
      - tenantRelationships.tenantRelationship.Functions
      summary: Microsoft Graph Invoke function findTenantInformationByTenantId
      description: Given a tenant ID, search for a tenant and read its tenantInformation. You can use this API to validate tenant information and use the tenantId to configure cross-tenant cross-tenant access settings between you and the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tenantrelationship-findtenantinformationbytenantid?view=graph-rest-1.0
      operationId: tenantRelationships.findTenantInformationByTenantId
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.tenantInformation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.tenantInformation:
      title: tenantInformation
      required:
      - '@odata.type'
      type: object
      properties:
        defaultDomainName:
          type: string
          description: Primary domain name of a Microsoft Entra tenant.
          nullable: true
        displayName:
          type: string
          description: Display name of a Microsoft Entra tenant.
          nullable: true
        federationBrandName:
          type: string
          description: Name shown to users that sign in to a Microsoft Entra tenant.
          nullable: true
        tenantId:
          type: string
          description: Unique identifier of a Microsoft Entra tenant.
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
