openapi: 3.2.0
info:
  title: Microsoft Graph OData Service for namespace microsoft.graph…
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
- url: https://graph.microsoft.com/v1.0
tags:
- name: Groups.drive
  x-ms-docs-toc-type: page
paths:
  /groups/{group-id}/drive:
    description: Provides operations to manage the drive property of the microsoft.graph.group entity.
    parameters:
    - name: group-id
      in: path
      description: The unique identifier of group
      required: true
      schema:
        type: string
      x-ms-docs-key-type: group
    get:
      tags:
      - Groups.drive
      summary: Microsoft Graph Get drive from groups
      description: The group's default drive. Read-only.
      operationId: groups.GetDrive
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/drives:
    description: Provides operations to manage the drives property of the microsoft.graph.group entity.
    parameters:
    - name: group-id
      in: path
      description: The unique identifier of group
      required: true
      schema:
        type: string
      x-ms-docs-key-type: group
    get:
      tags:
      - Groups.drive
      summary: Microsoft Graph Get drives from groups
      description: The group's drives. Read-only.
      operationId: groups.ListDrives
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /groups/{group-id}/drives/{drive-id}:
    description: Provides operations to manage the drives property of the microsoft.graph.group entity.
    parameters:
    - name: group-id
      in: path
      description: The unique identifier of group
      required: true
      schema:
        type: string
      x-ms-docs-key-type: group
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      schema:
        type: string
      x-ms-docs-key-type: drive
    get:
      tags:
      - Groups.drive
      summary: Microsoft Graph Get drives from groups
      description: The group's drives. Read-only.
      operationId: groups.GetDrives
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/drives/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: group-id
      in: path
      description: The unique identifier of group
      required: true
      schema:
        type: string
      x-ms-docs-key-type: group
    get:
      tags:
      - Groups.drive
      summary: Microsoft Graph Get the number of the resource
      operationId: groups.drives.GetCount-9ca4
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.phoneAuthenticationMethod:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
      - title: phoneAuthenticationMethod
        required:
        - '@odata.type'
        type: object
        properties:
          phoneNumber:
            type:
            - string
            - 'null'
            description: The phone number to text or call for authentication. Phone numbers use the format +{country code} {number}x{extension}, with extension optional. For example, +1 5555551234 or +1 5555551234x123 are valid. Numbers are rejected when creating or updating if they don't match the required format.
          phoneType:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.authenticationPhoneType'
            - type:
              - object
              - 'null'
            description: 'The type of this phone. The possible values are: mobile, alternateMobile, or office.'
          smsSignInState:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.authenticationMethodSignInState'
            - type:
              - object
              - 'null'
            description: 'Whether a phone is ready to be used for SMS sign-in or not. The possible values are: notSupported, notAllowedByPolicy, notEnabled, phoneNumberNotUnique, ready, or notConfigured, unknownFutureValue.'
          '@odata.type':
            type: string
            default: '#microsoft.graph.phoneAuthenticationMethod'
      x-ms-discriminator-value: '#microsoft.graph.phoneAuthenticationMethod'
    microsoft.graph.locationType:
      title: locationType
      enum:
      - default
      - conferenceRoom
      - homeAddress
      - businessAddress
      - geoCoordinates
      - streetAddress
      - hotel
      - restaurant
      - localBusiness
      - postalAddress
      type: string
    microsoft.graph.teamsAsyncOperationType:
      title: teamsAsyncOperationType
      enum:
      - invalid
      - cloneTeam
      - archiveTeam
      - unarchiveTeam
      - createTeam
      - unknownFutureValue
      - teamifyGroup
      - createChannel
      - archiveChannel
      - unarchiveChannel
      type: string
    microsoft.graph.teamsTab:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: teamsTab
        required:
        - '@odata.type'
        type: object
        properties:
          configuration:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsTabConfiguration'
            - type:
              - object
              - 'null'
            description: Container for custom settings applied to a tab. The tab is considered configured only once this property is set.
          displayName:
            type:
            - string
            - 'null'
            description: Name of the tab.
          webUrl:
            type:
            - string
            - 'null'
            description: Deep link URL of the tab instance. Read-only.
          teamsApp:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsApp'
            - type:
              - object
              - 'null'
            description: The application that is linked to the tab. This can't be changed after tab creation.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.teamsTab'
    microsoft.graph.bodyType:
      title: bodyType
      enum:
      - text
      - html
      type: string
    microsoft.graph.termColumn:
      title: termColumn
      required:
      - '@odata.type'
      type: object
      properties:
        allowMultipleValues:
          type:
          - boolean
          - 'null'
          description: Specifies whether the column allows more than one value.
        showFullyQualifiedName:
          type:
          - boolean
          - 'null'
          description: Specifies whether to display the entire term path or only the term label.
        parentTerm:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.termStore.term'
          - type:
            - object
            - 'null'
          x-ms-navigationProperty: true
        termSet:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.termStore.set'
          - type:
            - object
            - 'null'
          x-ms-navigationProperty: true
        '@odata.type':
          type: string
    microsoft.graph.printerProcessingStateDetail:
      title: printerProcessingStateDetail
      enum:
      - paused
      - mediaJam
      - mediaNeeded
      - mediaLow
      - mediaEmpty
      - coverOpen
      - interlockOpen
      - outputTrayMissing
      - outputAreaFull
      - markerSupplyLow
      - markerSupplyEmpty
      - inputTrayMissing
      - outputAreaAlmostFull
      - markerWasteAlmostFull
      - markerWasteFull
      - fuserOverTemp
      - fuserUnderTemp
      - other
      - none
      - movingToPaused
      - shutdown
      - connectingToDevice
      - timedOut
      - stopping
      - stoppedPartially
      - tonerLow
      - tonerEmpty
      - spoolAreaFull
      - doorOpen
      - opticalPhotoConductorNearEndOfLife
      - opticalPhotoConductorLifeOver
      - developerLow
      - developerEmpty
      - interpreterResourceUnavailable
      - unknownFutureValue
      - alertRemovalOfBinaryChangeEntry
      - banderAdded
      - banderAlmostEmpty
      - banderAlmostFull
      - banderAtLimit
      - banderClosed
      - banderConfigurationChange
      - banderCoverClosed
      - banderCoverOpen
      - banderEmpty
      - banderFull
      - banderInterlockClosed
      - banderInterlockOpen
      - banderJam
      - banderLifeAlmostOver
      - banderLifeOver
      - banderMemoryExhausted
      - banderMissing
      - banderMotorFailure
      - banderNearLimit
      - banderOffline
      - banderOpened
      - banderOverTemperature
      - banderPowerSaver
      - banderRecoverableFailure
      - banderRecoverableStorage
      - banderRemoved
      - banderResourceAdded
      - banderResourceRemoved
      - banderThermistorFailure
      - banderTimingFailure
      - banderTurnedOff
      - banderTurnedOn
      - banderUnderTemperature
      - banderUnrecoverableFailure
      - banderUnrecoverableStorageError
      - banderWarmingUp
      - binderAdded
      - binderAlmostEmpty
      - binderAlmostFull
      - binderAtLimit
      - binderClosed
      - binderConfigurationChange
      - binderCoverClosed
      - binderCoverOpen
      - binderEmpty
      - binderFull
      - binderInterlockClosed
      - binderInterlockOpen
      - binderJam
      - binderLifeAlmostOver
      - binderLifeOver
      - binderMemoryExhausted
      - binderMissing
      - binderMotorFailure
      - binderNearLimit
      - binderOffline
      - binderOpened
      - binderOverTemperature
      - binderPowerSaver
      - binderRecoverableFailure
      - binderRecoverableStorage
      - binderRemoved
      - binderResourceAdded
      - binderResourceRemoved
      - binderThermistorFailure
      - binderTimingFailure
      - binderTurnedOff
      - binderTurnedOn
      - binderUnderTemperature
      - binderUnrecoverableFailure
      - binderUnrecoverableStorageError
      - binderWarmingUp
      - cameraFailure
      - chamberCooling
      - chamberFailure
      - chamberHeating
      - chamberTemperatureHigh
      - chamberTemperatureLow
      - cleanerLifeAlmostOver
      - cleanerLifeOver
      - configurationChange
      - deactivated
      - deleted
      - dieCutterAdded
      - dieCutterAlmostEmpty
      - dieCutterAlmostFull
      - dieCutterAtLimit
      - dieCutterClosed
      - dieCutterConfigurationChange
      - dieCutterCoverClosed
      - dieCutterCoverOpen
      - dieCutterEmpty
      - dieCutterFull
      - dieCutterInterlockClosed
      - dieCutterInterlockOpen
      - dieCutterJam
      - dieCutterLifeAlmostOver
      - dieCutterLifeOver
      - dieCutterMemoryExhausted
      - dieCutterMissing
      - dieCutterMotorFailure
      - dieCutterNearLimit
      - dieCutterOffline
      - dieCutterOpened
      - dieCutterOverTemperature
      - dieCutterPowerSaver
      - dieCutterRecoverableFailure
      - dieCutterRecoverableStorage
      - dieCutterRemoved
      - dieCutterResourceAdded
      - dieCutterResourceRemoved
      - dieCutterThermistorFailure
      - dieCutterTimingFailure
      - dieCutterTurnedOff
      - dieCutterTurnedOn
      - dieCutterUnderTemperature
      - dieCutterUnrecoverableFailure
      - dieCutterUnrecoverableStorageError
      - dieCutterWarmingUp
      - extruderCooling
      - extruderFailure
      - extruderHeating
      - extruderJam
      - extruderTemperatureHigh
      - extruderTemperatureLow
      - fanFailure
      - faxModemLifeAlmostOver
      - faxModemLifeOver
      - faxModemMissing
      - faxModemTurnedOff
      - faxModemTurnedOn
      - folderAdded
      - folderAlmostEmpty
      - folderAlmostFull
      - folderAtLimit
      - folderClosed
      - folderConfigurationChange
      - folderCoverClosed
      - folderCoverOpen
      - folderEmpty
      - folderFull
      - folderInterlockClosed
      - folderInterlockOpen
      - folderJam
      - folderLifeAlmostOver
      - folderLifeOver
      - folderMemoryExhausted
      - folderMissing
      - folderMotorFailure
      - folderNearLimit
      - folderOffline
      - folderOpened
      - folderOverTemperature
      - folderPowerSaver
      - folderRecoverableFailure
      - folderRecoverableStorage
      - folderRemoved
      - folderResourceAdded
      - folderResourceRemoved
      - folderThermistorFailure
      - folderTimingFailure
      - folderTurnedOff
      - folderTurnedOn
      - folderUnderTemperature
      - folderUnrecoverableFailure
      - folderUnrecoverableStorageError
      - folderWarmingUp
      - hibernate
      - holdNewJobs
      - identifyPrinterRequested
      - imprinterAdded
      - imprinterAlmostEmpty
      - imprinterAlmostFull
      - imprinterAtLimit
      - imprinterClosed
      - imprinterConfigurationChange
      - imprinterCoverClosed
      - imprinterCoverOpen
      - imprinterEmpty
      - imprinterFull
      - imprinterInterlockClosed
      - imprinterInterlockOpen
      - imprinterJam
      - imprinterLifeAlmostOver
      - imprinterLifeOver
      - imprinterMemoryExhausted
      - imprinterMissing
      - imprinterMotorFailure
      - imprinterNearLimit
      - imprinterOffline
      - imprinterOpened
      - imprinterOverTemperature
      - imprinterPowerSaver
      - imprinterRecoverableFailure
      - imprinterRecoverableStorage
      - imprinterRemoved
      - imprinterResourceAdded
      - imprinterResourceRemoved
      - imprinterThermistorFailure
      - imprinterTimingFailure
      - imprinterTurnedOff
      - imprinterTurnedOn
      - imprinterUnderTemperature
      - imprinterUnrecoverableFailure
      - imprinterUnrecoverableStorageError
      - imprinterWarmingUp
      - inputCannotFeedSizeSelected
      - inputManualInputRequest
      - inputMediaColorChange
      - inputMediaFormPartsChange
      - inputMediaSizeChange
      - inputMediaTrayFailure
      - inputMediaTrayFeedError
      - inputMediaTrayJam
      - inputMediaTypeChange
      - inputMediaWeightChange
      - inputPickRollerFailure
      - inputPickRollerLifeOver
      - inputPickRollerLifeWarn
      - inputPickRollerMissing
      - inputTrayElevationFailure
      - inputTrayPositionFailure
      - inserterAdded
      - inserterAlmostEmpty
      - inserterAlmostFull
      - inserterAtLimit
      - inserterClosed
      - inserterConfigurationChange
      - inserterCoverClosed
      - inserterCoverOpen
      - inserterEmpty
      - inserterFull
      - inserterInterlockClosed
      - inserterInterlockOpen
      - inserterJam
      - inserterLifeAlmostOver
      - inserterLifeOver
      - inserterMemoryExhausted
      - inserterMissing
      - inserterMotorFailure
      - inserterNearLimit
      - inserterOffline
      - inserterOpened
      - inserterOverTemperature
      - inserterPowerSaver
      - inserterRecoverableFailure
      - inserterRecoverableStorage
      - inserterRemoved
      - inserterResourceAdded
      - inserterResourceRemoved
      - inserterThermistorFailure
      - inserterTimingFailure
      - inserterTurnedOff
      - inserterTurnedOn
      - inserterUnderTemperature
      - inserterUnrecoverableFailure
      - inserterUnrecoverableStorageError
      - inserterWarmingUp
      - interlockClosed
      - interpreterCartridgeAdded
      - interpreterCartridgeDeleted
      - interpreterComplexPageEncountered
      - interpreterMemoryDecrease
      - interpreterMemoryIncrease
      - interpreterResourceAdded
      - interpreterResourceDeleted
      - lampAtEol
      - lampFailure
      - lampNearEol
      - laserAtEol
      - laserFailure
      - laserNearEol
      - makeEnvelopeAdded
      - makeEnvelopeAlmostEmpty
      - makeEnvelopeAlmostFull
      - makeEnvelopeAtLimit
      - makeEnvelopeClosed
      - makeEnvelopeConfigurationChange
      - makeEnvelopeCoverClosed
      - makeEnvelopeCoverOpen
      - makeEnvelopeEmpty
      - makeEnvelopeFull
      - makeEnvelopeInterlockClosed
      - makeEnvelopeInterlockOpen
      - makeEnvelopeJam
      - makeEnvelopeLifeAlmostOver
      - makeEnvelopeLifeOver
      - makeEnvelopeMemoryExhausted
      - makeEnvelopeMissing
      - makeEnvelopeMotorFailure
      - makeEnvelopeNearLimit
      - makeEnvelopeOffline
      - makeEnvelopeOpened
      - makeEnvelopeOverTemperature
      - makeEnvelopePowerSaver
      - makeEnvelopeRecoverableFailure
      - makeEnvelopeRecoverableStorage
      - makeEnvelopeRemoved
      - makeEnvelopeResourceAdded
      - makeEnvelopeResourceRemoved
      - makeEnvelopeThermistorFailure
      - makeEnvelopeTimingFailure
      - makeEnvelopeTurnedOff
      - makeEnvelopeTurnedOn
      - makeEnvelopeUnderTemperature
      - makeEnvelopeUnrecoverableFailure
      - makeEnvelopeUnrecoverableStorageError
      - makeEnvelopeWarmingUp
      - markerAdjustingPrintQuality
      - markerCleanerMissing
      - markerDeveloperAlmostEmpty
      - markerDeveloperEmpty
      - markerDeveloperMissing
      - markerFuserMissing
      - markerFuserThermistorFailure
      - markerFuserTimingFailure
      - markerInkAlmostEmpty
      - markerInkEmpty
      - markerInkMissing
      - markerOpcMissing
      - markerPrintRibbonAlmostEmpty
      - markerPrintRibbonEmpty
      - markerPrintRibbonMissing
      - markerSupplyAlmostEmpty
      - markerSupplyMissing
      - markerTonerCartridgeMissing
      - markerTonerMissing
      - markerWasteInkReceptacleAlmostFull
      - markerWasteInkReceptacleFull
      - markerWasteInkReceptacleMissing
      - markerWasteMissing
      - markerWasteTonerReceptacleAlmostFull
      - markerWasteTonerReceptacleFull
      - markerWasteTonerReceptacleMissing
      - materialEmpty
      - materialLow
      - materialNeeded
      - mediaDrying
      - mediaPathCannotDuplexMediaSelected
      - mediaPathFailure
      - mediaPathInputEmpty
      - mediaPathInputFeedError
      - mediaPathInputJam
      - mediaPathInputRequest
      - mediaPathJam
      - mediaPathMediaTrayAlmostFull
      - mediaPathMediaTrayFull
      - mediaPathMediaTrayMissing
      - mediaPathOutputFeedError
      - mediaPathOutputFull
      - mediaPathOutputJam
      - mediaPathPickRollerFailure
      - mediaPathPickRollerLifeOver
      - mediaPathPickRollerLifeWarn
      - mediaPathPickRollerMissing
      - motorFailure
      - outputMailboxSelectFailure
      - outputMediaTrayFailure
      - outputMediaTrayFeedError
      - outputMediaTrayJam
      - perforaterAdded
      - perforaterAlmostEmpty
      - perforaterAlmostFull
      - perforaterAtLimit
      - perforaterClosed
      - perforaterConfigurationChange
      - perforaterCoverClosed
      - perforaterCoverOpen
      - perforaterEmpty
      - perforaterFull
      - perforaterInterlockClosed
      - perforaterInterlockOpen
      - perforaterJam
      - perforaterLifeAlmostOver
      - perforaterLifeOver
      - perforaterMemoryExhausted
      - perforaterMissing
      - perforaterMotorFailure
      - perforaterNearLimit
      - perforaterOffline
      - perforaterOpened
      - perforaterOverTemperature
      - perforaterPowerSaver
      - perforaterRecoverableFailure
      - perforaterRecoverableStorage
      - perforaterRemoved
      - perforaterResourceAdded
      - perforaterResourceRemoved
      - perforaterThermistorFailure
      - perforaterTimingFailure
      - perforaterTurnedOff
      - perforaterTurnedOn
      - perforaterUnderTemperature
      - perforaterUnrecoverableFailure
      - perforaterUnrecoverableStorageError
      - perforaterWarmingUp
      - platformCooling
      - platformFailure
      - platformHeating
      - platformTemperatureHigh
      - platformTemperatureLow
      - powerDown
      - powerUp
      - printerManualReset
      - printerNmsReset
      - printerReadyToPrint
      - puncherAdded
      - puncherAlmostEmpty
      - puncherAlmostFull
      - puncherAtLimit
      - puncherClosed
      - puncherConfigurationChange
      - puncherCoverClosed
      - puncherCoverOpen
      - puncherEmpty
      - puncherFull
      - puncherInterlockClosed
      - puncherInterlockOpen
      - puncherJam
      - puncherLifeAlmostOver
      - puncherLifeOver
      - puncherMemoryExhausted
      - puncherMissing
      - puncherMotorFailure
      - puncherNearLimit
      - puncherOffline
      - puncherOpened
      - puncherOverTemperature
      - puncherPowerSaver
      - puncherRecoverableFailure
      - puncherRecoverableStorage
      - puncherRemoved
      - puncherResourceAdded
      - puncherResourceRemoved
      - puncherThermistorFailure
      - puncherTimingFailure
      - puncherTurnedOff
      - puncherTurnedOn
      - puncherUnderTemperature
      - puncherUnrecoverableFailure
      - puncherUnrecoverableStorageError
      - puncherWarmingUp
      - resuming
      - scanMediaPathFailure
      - scanMediaPathInputEmpty
      - scanMediaPathInputFeedError
      - scanMediaPathInputJam
      - scanMediaPathInputRequest
      - scanMediaPathJam
      - scanMediaPathOutputFeedError
      - scanMediaPathOutputFull
      - scanMediaPathOutputJam
      - scanMediaPathPickRollerFailure
      - scanMediaPathPickRollerLifeOver
      - scanMediaPathPickRollerLifeWarn
      - scanMediaPathPickRollerMissing
      - scanMediaPathTrayAlmostFull
      - scanMediaPathTrayFull
      - scanMediaPathTrayMissing
      - scannerLightFailure
      - scannerLightLifeAlmostOver
      - scannerLightLifeOver
      - scannerLightMissing
      - scannerSensorFailure
      - scannerSensorLifeAlmostOver
      - scannerSensorLifeOver
      - scannerSensorMissing
      - separationCutterAdded
      - separationCutterAlmostEmpty
      - separationCutterAlmostFull
      - separationCutterAtLimit
      - separationCutterClosed
      - separationCutterConfigurationChange
      - separationCutterCoverClosed
      - separationCutterCoverOpen
      - separationCutterEmpty
      - separationCutterFull
      - separationCutterInterlockClosed
      - separationCutterInterlockOpen
      - separationCutterJam
      - separationCutterLifeAlmostOver
      - separationCutterLifeOver
      - separationCutterMemoryExhausted
      - separationCutterMissing
      - separationCutterMotorFailure
      - separationCutterNearLimit
      - separationCutterOffline
      - separationCutterOpened
      - separationCutterOverTemperature
      - separationCutterPowerSaver
      - separationCutterRecoverableFailure
      - separationCutterRecoverableStorage
      - separationCutterRemoved
      - separationCutterResourceAdded
      - separationCutterResourceRemoved
      - separationCutterThermistorFailure
      - separationCutterTimingFailure
      - separationCutterTurnedOff
      - separationCutterTurnedOn
      - separationCutterUnderTemperature
      - separationCutterUnrecoverableFailure
      - separationCutterUnrecoverableStorageError
      - separationCutterWarmingUp
      - sheetRotatorAdded
      - sheetRotatorAlmostEmpty
      - sheetRotatorAlmostFull
      - sheetRotatorAtLimit
      - sheetRotatorClosed
      - sheetRotatorConfigurationChange
      - sheetRotatorCoverClosed
      - sheetRotatorCoverOpen
      - sheetRotatorEmpty
      - sheetRotatorFull
      - sheetRotatorInterlockClosed
      - sheetRotatorInterlockOpen
      - sheetRotatorJam
      - sheetRotatorLifeAlmostOver
      - sheetRotatorLifeOver
      - sheetRotatorMemoryExhausted
      - sheetRotatorMissing
      - sheetRotatorMotorFailure
      - sheetRotatorNearLimit
      - sheetRotatorOffline
      - sheetRotatorOpened
      - sheetRotatorOverTemperature
      - sheetRotatorPowerSaver
      - sheetRotatorRecoverableFailure
      - sheetRotatorRecoverableStorage
      - sheetRotatorRemoved
      - sheetRotatorResourceAdded
      - sheetRotatorResourceRemoved
      - sheetRotatorThermistorFailure
      - sheetRotatorTimingFailure
      - sheetRotatorTurnedOff
      - sheetRotatorTurnedOn
      - sheetRotatorUnderTemperature
      - sheetRotatorUnrecoverableFailure
      - sheetRotatorUnrecoverableStorageError
      - sheetRotatorWarmingUp
      - slitterAdded
      - slitterAlmostEmpty
      - slitterAlmostFull
      - slitterAtLimit
      - slitterClosed
      - slitterConfigurationChange
      - slitterCoverClosed
      - slitterCoverOpen
      - slitterEmpty
      - slitterFull
      - slitterInterlockClosed
      - slitterInterlockOpen
      - slitterJam
      - slitterLifeAlmostOver
      - slitterLifeOver
      - slitterMemoryExhausted
      - slitterMissing
      - slitterMotorFailure
      - slitterNearLimit
      - slitterOffline
      - slitterOpened
      - slitterOverTemperature
      - slitterPowerSaver
      - slitterRecoverableFailure
      - slitterRecoverableStorage
      - slitterRemoved
      - slitterResourceAdded
      - slitterResourceRemoved
      - slitterThermistorFailure
      - slitterTimingFailure
      - slitterTurnedOff
      - slitterTurnedOn
      - slitterUnderTemperature
      - slitterUnrecoverableFailure
      - slitterUnrecoverableStorageError
      - slitterWarmingUp
      - stackerAdded
      - stackerAlmostEmpty
      - stackerAlmostFull
      - stackerAtLimit
      - stackerClosed
      - stackerConfigurationChange
      - stackerCoverClosed
      - stackerCoverOpen
      - stackerEmpty
      - stackerFull
      - stackerInterlockClosed
      - stackerInterlockOpen
      - stackerJam
      - stackerLifeAlmostOver
      - stackerLifeOver
      - stackerMemoryExhausted
      - stackerMissing
      - stackerMotorFailure
      - stackerNearLimit
      - stackerOffline
      - stackerOpened
      - stackerOverTemperature
      - stackerPowerSaver
      - stackerRecoverableFailure
      - stackerRecoverableStorage
      - stackerRemoved
      - stackerResourceAdded
      - stackerResourceRemoved
      - stackerThermistorFailure
      - stackerTimingFailure
      - stackerTurnedOff
      - stackerTurnedOn
      - stackerUnderTemperature
      - stackerUnrecoverableFailure
      - stackerUnrecoverableStorageError
      - stackerWarmingUp
      - standby
      - staplerAdded
      - staplerAlmostEmpty
      - staplerAlmostFull
      - staplerAtLimit
      - staplerClosed
      - staplerConfigurationChange
      - staplerCoverClosed
      - staplerCoverOpen
      - staplerEmpty
      - staplerFull
      - staplerInterlockClosed
      - staplerInterlockOpen
      - staplerJam
      - staplerLifeAlmostOver
      - staplerLifeOver
      - staplerMemoryExhausted
      - staplerMissing
      - staplerMotorFailure
      - staplerNearLimit
      - staplerOffline
      - staplerOpened
      - staplerOverTemperature
      - staplerPowerSaver
      - staplerRecoverableFailure
      - staplerRecoverableStorage
      - staplerRemoved
      - staplerResourceAdded
      - staplerResourceRemoved
      - staplerThermistorFailure
      - staplerTimingFailure
      - staplerTurnedOff
      - staplerTurnedOn
      - staplerUnderTemperature
      - staplerUnrecoverableFailure
      - staplerUnrecoverableStorageError
      - staplerWarmingUp
      - stitcherAdded
      - stitcherAlmostEmpty
      - stitcherAlmostFull
      - stitcherAtLimit
      - stitcherClosed
      - stitcherConfigurationChange
      - stitcherCoverClosed
      - stitcherCoverOpen
      - stitcherEmpty
      - stitcherFull
      - stitcherInterlockClosed
      - stitcherInterlockOpen
      - stitcherJam
      - stitcherLifeAlmostOver
      - stitcherLifeOver
      - stitcherMemoryExhausted
      - stitcherMissing
      - stitcherMotorFailure
      - stitcherNearLimit
      - stitcherOffline
      - stitcherOpened
      - stitcherOverTemperature
      - stitcherPowerSaver
      - stitcherRecoverableFailure
      - stitcherRecoverableStorage
      - stitcherRemoved
      - stitcherResourceAdded
      - stitcherResourceRemoved
      - stitcherThermistorFailure
      - stitcherTimingFailure
      - stitcherTurnedOff
      - stitcherTurnedOn
      - stitcherUnderTemperature
      - stitcherUnrecoverableFailure
      - stitcherUnrecoverableStorageError
      - stitcherWarmingUp
      - subunitAdded
      - subunitAlmostEmpty
      - subunitAlmostFull
      - subunitAtLimit
      - subunitClosed
      - subunitCoolingDown
      - subunitEmpty
      - subunitFull
      - subunitLifeAlmostOver
      - subunitLifeOver
      - subunitMemoryExhausted
      - subunitMissing
      - subunitMotorFailure
      - subunitNearLimit
      - subunitOffline
      - subunitOpened
      - subunitOverTemperature
      - subunitPowerSaver
      - subunitRecoverableFailure
      - subunitRecoverableStorage
      - subunitRemoved
      - subunitResourceAdded
      - subunitResourceRemoved
      - subunitThermistorFailure
      - subunitTimingFailure
      - subunitTurnedOff
      - subunitTurnedOn
      - subunitUnderTemperature
      - subunitUnrecoverableFailure
      - subunitUnrecoverableStorage
      - subunitWarmingUp
      - suspend
      - testing
      - trimmerAdded
      - trimmerAlmostEmpty
      - trimmerAlmostFull
      - trimmerAtLimit
      - trimmerClosed
      - trimmerConfigurationChange
      - trimmerCoverClosed
      - trimmerCoverOpen
      - trimmerEmpty
      - trimmerFull
      - trimmerInterlockClosed
      - trimmerInterlockOpen
      - trimmerJam
      - trimmerLifeAlmostOver
      - trimmerLifeOver
      - trimmerMemoryExhausted
      - trimmerMissing
      - trimmerMotorFailure
      - trimmerNearLimit
      - trimmerOffline
      - trimmerOpened
      - trimmerOverTemperature
      - trimmerPowerSaver
      - trimmerRecoverableFailure
      - trimmerRecoverableStorage
      - trimmerRemoved
      - trimmerResourceAdded
      - trimmerResourceRemoved
      - trimmerThermistorFailure
      - trimmerTimingFailure
      - trimmerTurnedOff
      - trimmerTurnedOn
      - trimmerUnderTemperature
      - trimmerUnrecoverableFailure
      - trimmerUnrecoverableStorageError
      - trimmerWarmingUp
      - unknown
      - wrapperAdded
      - wrapperAlmostEmpty
      - wrapperAlmostFull
      - wrapperAtLimit
      - wrapperClosed
      - wrapperConfigurationChange
      - wrapperCoverClosed
      - wrapperCoverOpen
      - wrapperEmpty
      - wrapperFull
      - wrapperInterlockClosed
      - wrapperInterlockOpen
      - wrapperJam
      - wrapperLifeAlmostOver
      - wrapperLifeOver
      - wrapperMemoryExhausted
      - wrapperMissing
      - wrapperMotorFailure
      - wrapperNearLimit
      - wrapperOffline
      - wrapperOpened
      - wrapperOverTemperature
      - wrapperPowerSaver
      - wrapperRecoverableFailure
      - wrapperRecoverableStorage
      - wrapperRemoved
      - wrapperResourceAdded
      - wrapperResourceRemoved
      - wrapperThermistorFailure
      - wrapperTimingFailure
      - wrapperTurnedOff
      - wrapperTurnedOn
      - wrapperUnderTemperature
      - wrapperUnrecoverableFailure
      - wrapperUnrecoverableStorageError
      - wrapperWarmingUp
      type: string
    microsoft.graph.pendingContentUpdate:
      title: pendingContentUpdate
      required:
      - '@odata.type'
      type: object
      properties:
        queuedDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Date and time the pending binary operation was queued in UTC time. Read-only.
          format: date-time
        '@odata.type':
          type: string
    microsoft.graph.workbookChart:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: workbookChart
        required:
        - '@odata.type'
        type: object
        properties:
          height:
            oneOf:
            - type:
              - number
              - 'null'
              format: double
            - type:
              - string
              - 'null'
            - $ref: '#/components/schemas/ReferenceNumeric'
            description: Represents the height, in points, of the chart object.
          left:
            oneOf:
            - type:
              - number
              - 'null'
              format: double
            - type:
              - string
              - 'null'
            - $ref: '#/components/schemas/ReferenceNumeric'
            description: The distance, in points, from the left side of the chart to the worksheet origin.
          name:
            type:
            - string
            - 'null'
            description: Represents the name of a chart object.
          top:
            oneOf:
            - type:
              - number
              - 'null'
              format: double
            - type:
              - string
              - 'null'
            - $ref: '#/components/schemas/ReferenceNumeric'
            description: Represents the distance, in points, from the top edge of the object to the top of row 1 (on a worksheet) or the top of the chart area (on a chart).
          width:
            oneOf:
            - type:
              - number
              - 'null'
              format: double
            - type:
              - string
              - 'null'
            - $ref: '#/components/schemas/ReferenceNumeric'
            description: Represents the width, in points, of the chart object.
          axes:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.workbookChartAxes'
            - type:
              - object
              - 'null'
            description: Represents chart axes. Read-only.
            x-ms-navigationProperty: true
          dataLabels:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.workbookChartDataLabels'
            - type:
              - object
              - 'null'
            description: Represents the data labels on the chart. Read-only.
            x-ms-navigationProperty: true
          format:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.workbookChartAreaFormat'
            - type:
              - object
              - 'null'
            description: Encapsulates the format properties for the chart area. Read-only.
            x-ms-navigationProperty: true
          legend:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.workbookChartLegend'
            - type:
              - object
              - 'null'
            description: Represents the legend for the chart. Read-only.
            x-ms-navigationProperty: true
          series:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.workbookChartSeries'
            description: Represents either a single series or collection of series in the chart. Read-only.
            x-ms-navigationProperty: true
          title:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.workbookChartTitle'
            - type:
              - object
              - 'null'
            description: Represents the title of the specified chart, including the text, visibility, position and formatting of the title. Read-only.
            x-ms-navigationProperty: true
          worksheet:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.workbookWorksheet'
            - type:
              - object
              - 'null'
            description: The worksheet containing the current chart. Read-only.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.workbookChart'
    microsoft.graph.printJobStateDetail:
      title: printJobStateDetail
      enum:
      - uploadPending
      - transforming
      - completedSuccessfully
      - completedWithWarnings
      - completedWithErrors
      - releaseWait
      - interpreting
      - unknownFutureValue
      type: string
    microsoft.graph.chatMessagePolicyViolationDlpActionTypes:
      title: chatMessagePolicyViolationDlpActionTypes
      enum:
      - none
      - notifySender
      - blockAccess
      - blockAccessExternal
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.baseItem:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: baseItem
        required:
        - '@odata.type'
        type: object
        properties:
          createdBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.identitySet'
            - type:
              - object
              - 'null'
            description: Identity of the user, device, or application that created the item. Read-only.
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time of item creation. Read-only.
            format: date-time
          description:
            type:
            - string
            - 'null'
            description: Provides a user-visible description of the item. Optional.
          eTag:
            type:
            - string
            - 'null'
            description: ETag for the item. Read-only.
          lastModifiedBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.identitySet'
            - type:
              - object
              - 'null'
            description: Identity of the user, device, and application that last modified the item. Read-only.
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time the item was last modified. Read-only.
            format: date-time
          name:
            type:
            - string
            - 'null'
            description: The name of the item. Read-write.
          parentReference:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.itemReference'
            - type:
              - object
              - 'null'
            description: Parent information, if the item has a parent. Read-write.
          webUrl:
            type:
            - string
            - 'null'
            description: URL that either displays the resource in the browser (for Office file formats), or is a direct link to the file (for other formats). Read-only.
          createdByUser:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.user'
            - type:
              - object
              - 'null'
            description: Identity of the user who created the item. Read-only.
            x-ms-navigationProperty: true
          lastModifiedByUser:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.user'
            - type:
              - object
              - 'null'
            description: Identity of the user who last modified the item. Read-only.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.baseSitePage': '#/components/schemas/microsoft.graph.baseSitePage'
            '#microsoft.graph.sitePage': '#/components/schemas/microsoft.graph.sitePage'
            '#microsoft.graph.drive': '#/components/schemas/microsoft.graph.drive'
            '#microsoft.graph.driveItem': '#/components/schemas/microsoft.graph.driveItem'
            '#microsoft.graph.list': '#/components/schemas/microsoft.graph.list'
            '#microsoft.graph.listItem': '#/components/schemas/microsoft.graph.listItem'
            '#microsoft.graph.recycleBin': '#/components/schemas/microsoft.graph.recycleBin'
            '#microsoft.graph.recycleBinItem': '#/components/schemas/microsoft.graph.recycleBinItem'
            '#microsoft.graph.sharedDriveItem': '#/components/schemas/microsoft.graph.sharedDriveItem'
            '#microsoft.graph.site': '#/components/schemas/microsoft.graph.site'
    microsoft.graph.teamsApp:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: teamsApp
        required:
        - '@odata.type'
        type: object
        properties:
          displayName:
            type:
            - string
            - 'null'
            description: The name of the catalog app provided by the app developer in the Microsoft Teams zip app package.
          distributionMethod:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsAppDistributionMethod'
            - type:
              - object
              - 'null'
            description: The method of distribution for the app. Read-only.
          externalId:
            type:
            - string
            - 'null'
            description: The ID of the catalog provided by the app developer in the Microsoft Teams zip app package.
          appDefinitions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
            description: The details for each version of the app.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.teamsApp'
    microsoft.graph.workbookWorksheetProtectionOptions:
      title: workbookWorksheetProtectionOptions
      required:
      - '@odata.type'
      type: object
      properties:
        allowAutoFilter:
          type: boolean
          description: Indicates whether the worksheet protection option to allow the use of the autofilter feature is enabled.
        allowDeleteColumns:
          type: boolean
          description: Indicates whether the worksheet protection option to allow deleting columns is enabled.
        allowDeleteRows:
          type: boolean
          description: Indicates whether the worksheet protection option to allow deleting rows is enabled.
        allowFormatCells:
          type: boolean
          description: Indicates whether the worksheet protection option to allow formatting cells is enabled.
        allowFormatColumns:
          type: boolean
          description: Indicates whether the worksheet protection option to allow formatting columns is enabled.
        allowFormatRows:
          type: boolean
          description: Indicates whether the worksheet protection option to allow formatting rows is enabled.
        allowInsertColumns:
          type: boolean
          description: Indicates whether the worksheet protection option to allow inserting columns is enabled.
        allowInsertHyperlinks:
          type: boolean
          description: Indicates whether the worksheet protection option to allow inserting hyperlinks is enabled.
        allowInsertRows:
          type: boolean
          description: Indicates whether the worksheet protection option to allow inserting rows is enabled.
        allowPivotTables:
          type: boolean
          description: Indicates whether the worksheet protection option to allow the use of the pivot table feature is enabled.
        allowSort:
          type: boolean
          description: Indicates whether the worksheet protection option to allow the use of the sort feature is enabled.
        '@odata.type':
          type: string
    microsoft.graph.deviceManagementExchangeAccessState:
      title: deviceManagementExchangeAccessState
      enum:
      - none
      - unknown
      - allowed
      - blocked
      - quarantined
      type: string
      description: Device Exchange Access State.
      x-ms-enum:
        name: deviceManagementExchangeAccessState
        modelAsString: false
        values:
        - value: none
          description: No access state discovered from Exchange
          name: none
        - value: unknown
          description: Device access state to Exchange is unknown
          name: unknown
        - value: allowed
          description: Device has access to Exchange
          name: allowed
        - value: blocked
          description: Device is Blocked in Exchange
          name: blocked
        - value: quarantined
          description: Device is Quarantined in Exchange
          name: quarantined
    microsoft.graph.imageInfo:
      title: imageInfo
      required:
      - '@odata.type'
      type: object
      properties:
        addImageQuery:
          type:
          - boolean
          - 'null'
          description: Optional; parameter used to indicate the server is able to render image dynamically in response to parameterization. For example – a high contrast image
        alternateText:
          type:
          - string
          - 'null'
          description: Optional; alt-text accessible content for the image
        alternativeText:
          type:
          - string
          - 'null'
        iconUrl:
          type:
          - string
          - 'null'
          description: Optional; URI that points to an icon which represents the application used to generate the activity
        '@odata.type':
          type: string
    microsoft.graph.plannerPlanContainer:
      title: plannerPlanContainer
      required:
      - '@odata.type'
      type: object
      properties:
        containerId:
          type:
          - string
          - 'null'
          description: The identifier of the resource that contains the plan. Optional.
        type:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.plannerContainerType'
          - type:
            - object
            - 'null'
          description: 'The type of the resource that contains the plan. For supported types, see the previous table. The possible values are: group, unknownFutureValue, roster. Use the Prefer: include-unknown-enum-members request header to get the following members in this evolvable enum: roster. Optional.'
        url:
          type:
          - string
          - 'null'
          description: The full canonical URL of the container. Optional.
        '@odata.type':
          type: string
    microsoft.graph.columnDefinition:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: columnDefinition
        required:
        - '@odata.type'
        type: object
        properties:
          boolean:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.booleanColumn'
            - type:
              - object
              - 'null'
            description: This column stores Boolean values.
          calculated:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.calculatedColumn'
            - type:
              - object
              - 'null'
            description: This column's data is calculated based on other columns.
          choice:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.choiceColumn'
            - type:
              - object
              - 'null'
            description: This column stores data from a list of choices.
          columnGroup:
            type:
            - string
            - 'null'
            description: For site columns, the name of the group this column belongs to. Helps organize related columns.
          contentApprovalStatus:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.contentApprovalStatusColumn'
            - type:
              - object
              - 'null'
            description: This column stores content approval status.
          currency:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.currencyColumn'
            - type:
              - object
              - 'null'
            description: This column stores currency values.
          dateTime:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.dateTimeColumn'
            - type:
              - object
              - 'null'
            description: This column stores DateTime values.
          defaultValue:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.defaultColumnValue'
            - type:
              - object
              - 'null'
            description: The default value for this column.
          description:
            type:
            - string
            - 'null'
            description: The user-facing description of the column.
          displayName:
            type:
            - string
            - 'null'
            description: The user-facing name of the column.
          enforceUniqueValues:
            type:
            - boolean
            - 'null'
            description: If true, no two list items may have the same value for this column.
          geolocation:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.geolocationColumn'
            - type:
              - object
              - 'null'
            description: This column stores a geolocation.
          hidden:
            type:
            - boolean
            - 'null'
            description: Specifies whether the column is displayed in the user interface.
          hyperlinkOrPicture:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.hyperlinkOrPictureColumn'
            - type:
              - object
              - 'null'
            description: This column stores hyperlink or picture values.
          indexed:
            type:
            - boolean
            - 'null'
            description: Specifies whether the column values can be used for sorting and searching.
          isDeletable:
            type:
            - boolean
            - 'null'
            description: Indicates whether this column can be deleted.
          isReorderable:
            type:
            - boolean
            - 'null'
            description: Indicates whether values in the column can be reordered. Read-only.
          isSealed:
            type:
            - boolean
            - 'null'
            description: Specifies whether the column can be changed.
          lookup:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.lookupColumn'
            - type:
              - object
              - 'null'
            description: This column's data is looked up from another source in the site.
          name:
            type:
            - string
            - 'null'
            description: The API-facing name of the column as it appears in the fields on a listItem. For the user-facing name, see displayName.
          number:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.numberColumn'
            - type:
              - object
              - 'null'
            description: This column stores number values.
          personOrGroup:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.personOrGroupColumn'
            - type:
              - object
              - 'null'
            description: This column stores Person or Group values.
          propagateChanges:
            type:
            - boolean
            - 'null'
            description: If 'true', changes to this column will be propagated to lists that implement the column.
          readOnly:
            type:
            - boolean
            - 'null'
            description: Specifies whether the column values can be modified.
          required:
            type:
            - boolean
            - 'null'
            description: Specifies whether the column value isn't optional.
          sourceContentType:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.contentTypeInfo'
            - type:
              - object
              - 'null'
            description: ContentType from which this column is inherited from. Present only in contentTypes columns response. Read-only.
          term:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.termColumn'
            - type:
              - object
              - 'null'
            description: This column stores taxonomy terms.
          text:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.textColumn'
            - type:
              - object
              - 'null'
            description: This column stores text values.
          thumbnail:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.thumbnailColumn'
            - type:
              - object
              - 'null'
            description: This column stores thumbnail values.
          type:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.columnTypes'
            - type:
              - object
              - 'null'
            description: For site columns, the type of column. Read-only.
          validation:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.columnValidation'
            - type:
              - object
              - 'null'
            description: This column stores validation formula and message for the column.
          sourceColumn:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.columnDefinition'
            - type:
              - object
              - 'null'
            description: The source column for the content type column.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.columnDefinition'
    microsoft.graph.onenoteResource:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.onenoteEntityBaseModel'
      - title: onenoteResource
        required:
        - '@odata.type'
        type: object
        properties:
          content:
            type:
            - string
            - 'null'
            description: The content stream
            format: base64url
          contentUrl:
            type:
            - string
            - 'null'
            description: The URL for downloading the content
          '@odata.type':
            type: string
            default: '#microsoft.graph.onenoteResource'
      x-ms-discriminator-value: '#microsoft.graph.onenoteResource'
    microsoft.graph.personType:
      title: personType
      required:
      - '@odata.type'
      type: object
      properties:
        class:
          type:
          - string
          - 'null'
          description: The type of data source, such as Person.
        subclass:
          type:
          - string
          - 'null'
          description: The secondary type of data source, such as OrganizationUser.
        '@odata.type':
          type: string
    microsoft.graph.outlookUser:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: outlookUser
        required:
        - '@odata.type'
        type: object
        properties:
          masterCategories:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
            description: A list of categories defined for the user.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.outlookUser'
    microsoft.graph.wellknownListName:
      title: wellknownListName
      enum:
      - none
      - defaultList
      - flaggedEmails
      - unknownFutureValue
      type: string
    microsoft.graph.pageLinks:
      title: pageLinks
      required:
      - '@odata.type'
      type: object
      properties:
        oneNoteClientUrl:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.externalLink'
          - type:
            - object
            - 'null'
          description: Opens the page in the OneNote native client if it's installed.
        oneNoteWebUrl:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.externalLink'
          - type:
            - object
            - 'null'
          description: Opens the page in OneNote on the web.
        '@odata.type':
          type: string
    microsoft.graph.incompleteData:
      title: incompleteData
      required:
      - '@odata.type'
      type: object
      properties:
        missingDataBeforeDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The service does not have source data before the specified time.
          format: date-time
        wasThrottled:
          type:
          - boolean
          - 'null'
          description: Some data was not recorded due to excessive activity.
        '@odata.type':
          type: string
    microsoft.graph.list:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.baseItem'
      - title: list
        required:
        - '@odata.type'
        type: object
        properties:
          displayName:
            type:
            - string
            - 'null'
            description: The displayable title of the list.
          list:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.listInfo'
            - type:
              - object
              - 'null'
            description: Contains more details about the list.
          sharepointIds:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.sharepointIds'
            - type:
              - object
              - 'null'
            description: Returns identifiers useful for SharePoint REST compatibility. Read-only.
          system:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.systemFacet'
            - type:
              - object
              - 'null'
            description: If present, indicates that the list is system-managed. Read-only.
          columns:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.columnDefinition'
            description: The collection of field definitions for this list.
            x-ms-navigationProperty: true
          contentTypes:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.contentType'
            description: The collection of content types present in this list.
            x-ms-navigationProperty: true
          drive:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.drive'
            - type:
              - object
              - 'null'
            description: Allows access to the list as a drive resource with driveItems. Only present on document libraries.
            x-ms-navigationProperty: true
          items:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.listItem'
            description: All items contained in the list.
            x-ms-navigationProperty: true
          operations:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.richLongRunningOperation'
            description: The collection of long-running operations on the list.
            x-ms-navigationProperty: true
          subscriptions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.subscription'
            description: The set of subscriptions on the list.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
            default: '#microsoft.graph.list'
      x-ms-discriminator-value: '#microsoft.graph.list'
    microsoft.graph.columnValidation:
      title: columnValidation
      required:
      - '@odata.type'
      type: object
      properties:
        defaultLanguage:
          type:
          - string
          - 'null'
          description: Default BCP 47 language tag for the description.
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.displayNameLocalization'
          description: Localized messages that explain what is needed for this column's value to be considered valid. User will be prompted with this message if validation fails.
        formula:
          type:
          - string
          - 'null'
          description: The formula to validate column value. For examples, see Examples of common formulas in lists.
        '@odata.type':
          type: string
    microsoft.graph.activityHistoryItem:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: activityHistoryItem
        required:
        - '@odata.type'
        type: object
        properties:
          activeDurationSeconds:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: Optional. The duration of active user engagement. if not supplied, this is calculated from the startedDateTime and lastActiveDateTime.
            format: int32
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Set by the server. DateTime in UTC when the object was created on the server.
            format: date-time
          expirationDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Optional. UTC DateTime when the activityHistoryItem will undergo hard-delete. Can be set by the client.
            format: date-time
          lastActiveDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Optional. UTC DateTime when the activityHistoryItem (activity session) was last understood as active or finished - if null, activityHistoryItem status should be Ongoing.
            format: date-time
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Set by the server. DateTime in UTC when the object was modified on the server.
            format: date-time
          startedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Required. UTC DateTime when the activityHistoryItem (activity session) was started. Required for timeline history.
            format: date-time
          status:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.status'
            - type:
              - object
              - 'null'
            description: 'Set by the server. A status code used to identify valid objects. Values: active, updated, deleted, ignored.'
          userTimezone:
            type:
            - string
            - 'null'
            description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time. Values supplied as Olson IDs in order to support cross-platform representation.
          activity:
            $ref: '#/components/schemas/microsoft.graph.userActivity'
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.activityHistoryItem'
    microsoft.graph.learningCourseActivity:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: learningCourseActivity
        required:
        - '@odata.type'
        type: object
        properties:
          completedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when the assignment was completed. Optional.
            format: date-time
          completionPercentage:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: The percentage completion value of the course activity. Optional.
            format: int32
          externalcourseActivityId:
            type:
            - string
            - 'null'
          learnerUserId:
            type: string
            description: The user ID of the learner to whom the activity is assigned. Required.
          learningContentId:
            type: string
            description: The ID of the learning content created in Viva Learning. Required.
          learningProviderId:
            type:
            - string
            - 'null'
            description: The registration ID of the provider. Required.
          status:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.courseStatus'
            - type:
              - object
              - 'null'
            description: 'The status of the course activity. The possible values are: notStarted, inProgress, completed. Required.'
          '@odata.type':
            type: string
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.learningAssignment': '#/components/schemas/microsoft.graph.learningAssignment'
            '#microsoft.graph.learningSelfInitiatedCourse': '#/components/schemas/microsoft.graph.learningSelfInitiatedCourse'
    microsoft.graph.hyperlinkOrPictureColumn:
      title: hyperlinkOrPictureColumn
      required:
      - '@odata.type'
      type: object
      properties:
        isPicture:
          type:
          - boolean
          - 'null'
          description: Specifies whether the display format used for URL columns is an image or a hyperlink.
        '@odata.type':
          type: string
    microsoft.graph.assignedLicense:
      title: assignedLicense
      required:
      - '@odata.type'
      type: object
      properties:
        disabledPlans:
          type: array
          items:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            format: uuid
          description: A collection of the unique identifiers for plans that have been disabled. IDs are available in servicePlans > servicePlanId in the tenant's subscribedSkus or serviceStatus > servicePlanId in the tenant's companySubscription.
        skuId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type:
          - string
          - 'null'
          description: The unique identifier for the SKU. Corresponds to the skuId from subscribedSkus or companySubscription.
          format: uuid
        '@odata.type':
          type: string
    microsoft.graph.timeSlot:
      title: timeSlot
      required:
      - '@odata.type'
      type: object
      properties:
        end:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        start:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        '@odata.type':
          type: string
    microsoft.graph.temporaryAccessPassAuthenticationMethod:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
      - title: temporaryAccessPassAuthenticationMethod
        required:
        - '@odata.type'
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when the Temporary Access Pass was created.
            format: date-time
          isUsable:
            type:
            - boolean
            - 'null'
            description: The state of the authentication method that indicates whether it's currently usable by the user.
          isUsableOnce:
            type:
            - boolean
            - 'null'
            description: Determines whether the pass is limited to a one-time use. If true, the pass can be used once; if false, the pass can be used multiple times within the Temporary Access Pass lifetime.
          lifetimeInMinutes:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: The lifetime of the Temporary Access Pass in minutes starting at startDateTime. Must be between 10 and 43200 inclusive (equivalent to 30 days).
            format: int32
          methodUsabilityReason:
            type:
            - string
            - 'null'
            description: 'Details about the usability state (isUsable). Reasons can include: EnabledByPolicy, DisabledByPolicy, Expired, NotYetValid, OneTimeUsed.'
          startDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when the Temporary Access Pass becomes available to use and when isUsable is true is enforced.
            format: date-time
          temporaryAccessPass:
            type:
            - string
            - 'null'
            description: The Temporary Access Pass used to authenticate. Returned only on creation of a new temporaryAccessPassAuthenticationMethod object; Hidden in subsequent read operations and returned as null with GET.
          '@odata.type':
            type: string
            default: '#microsoft.graph.temporaryAccessPassAuthenticationMethod'
      x-ms-discriminator-value: '#microsoft.graph.temporaryAccessPassAuthenticationMethod'
    microsoft.graph.teamsAppInstallation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: teamsAppInstallation
        required:
        - '@odata.type'
        type: object
        properties:
          consentedPermissionSet:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsAppPermissionSet'
            - type:
              - object
              - 'null'
            description: The set of resource-specific permissions consented to while installing or upgrading the teamsApp.
          teamsApp:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsApp'
            - type:
              - object
              - 'null'
            description: The app that is installed.
            x-ms-navigationProperty: true
          teamsAppDefinition:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
            - type:
              - object
              - 'null'
            description: The details of this version of the app.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.userScopeTeamsAppInstallation': '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
    microsoft.graph.attendanceRecord:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: attendanceRecord
        required:
        - '@odata.type'
        type: object
        properties:
          attendanceIntervals:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.attendanceInterval'
            description: List of time periods between joining and leaving a meeting.
          emailAddress:
            type:
            - string
            - 'null'
            description: Email address of the user associated with this attendance record.
          externalRegistrationInformation:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.virtualEventExternalRegistrationInformation'
            - type:
              - object
              - 'null'
            description: The external information for a virtualEventRegistration.
          identity:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.identity'
            - type:
              - object
              - 'null'
            description: 'The identity of the user associated with this attendance record. The specific type is one of the following derived types of identity, depending on the user type: communicationsUserIdentity, azureCommunicationServicesUserIdentity.'
          registrationId:
            type:
            - string
            - 'null'
            description: Unique identifier of a virtualEventRegistration that is available to all participants registered for the virtualEventWebinar.
          role:
            type:
            - string
            - 'null'
            description: 'Role of the attendee. The possible values are: None, Attendee, Presenter, and Organizer.'
          totalAttendanceInSeconds:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: Total duration of the attendances in seconds.
            format: int32
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.attendanceRecord'
    microsoft.graph.sharePointIdentitySet:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.identitySet'
      - title: sharePointIdentitySet
        required:
        - '@odata.type'
        type: object
        properties:
          group:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.identity'
            - type:
              - object
              - 'null'
            description: The group associated with this action. Optional.
          siteGroup:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.sharePointIdentity'
            - type:
              - object
              - 'null'
            description: The SharePoint group associated with this action. Optional.
          siteUser:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.sharePointIdentity'
            - type:
              - object
              - 'null'
            description: The SharePoint user associated with this action. Optional.
          '@odata.type':
            type: string
            default: '#microsoft.graph.sharePointIdentitySet'
      x-ms-discriminator-value: '#microsoft.graph.sharePointIdentitySet'
    microsoft.graph.teamsAppDefinition:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: teamsAppDefinition
        required:
        - '@odata.type'
        type: object
        properties:
          authorization:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsAppAuthorization'
            - type:
              - object
              - 'null'
            description: Authorization requirements specified in the Teams app manifest.
          createdBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.identitySet'
            - type:
              - object
              - 'null'
          description:
            type:
            - string
            - 'null'
            description: Verbose description of the application.
          displayName:
            type:
            - string
            - 'null'
            description: The name of the app provided by the app developer.
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            format: date-time
          publishingState:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamsAppPublishingState'
            - type:
              - object
              - 'null'
            description: The published status of a specific version of a Teams app. The possible values are:submitted—The specific version of the Teams app was submitted and is under review.published—The request to publish the specific version of the Teams app was approved by the admin and the app is published.rejected—The admin rejected the request to publish the specific version of the Teams app.
          shortDescription:
            type:
            - string
            - 'null'
            description: Short description of the application.
          teamsAppId:
            type:
            - string
            - 'null'
            description: The ID from the Teams app manifest.
          version:
            type:
            - string
            - 'null'
            description: The version number of the application.
          bot:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamworkBot'
            - type:
              - object
              - 'null'
            description: The details of the bot specified in the Teams app manifest.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.teamsAppDefinition'
    microsoft.graph.timeOffRequest:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.scheduleChangeRequest'
      - title: timeOffRequest
        required:
        - '@odata.type'
        type: object
        properties:
          endDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time the time off ends in ISO 8601 format and in UTC time.
            format: date-time
          startDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time the time off starts in ISO 8601 format and in UTC time.
            format: date-time
          timeOffReasonId:
            type:
            - string
            - 'null'
            description: The reason for the time off.
          '@odata.type':
            type: string
            default: '#microsoft.graph.timeOffRequest'
      x-ms-discriminator-value: '#microsoft.graph.timeOffRequest'
    microsoft.graph.scheduleChangeRequest:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.changeTrackedEntity'
      - title: scheduleChangeRequest
        required:
        - '@odata.type'
        type: object
        properties:
          assignedTo:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.scheduleChangeRequestActor'
            - type:
              - object
              - 'null'
            description: 'Indicates who the request is assigned to. The possible values are: sender, recipient, manager, system, unknownFutureValue.'
          managerActionDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when the manager approved or declined the scheduleChangeRequest. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            readOnly: true
          managerActionMessage:
            type:
            - string
            - 'null'
            description: The message sent by the manager regarding the scheduleChangeRequest. Optional.
          managerUserId:
            type:
            - string
            - 'null'
            description: The user ID of the manager who approved or declined the scheduleChangeRequest.
            readOnly: true
          senderDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when the sender sent the scheduleChangeRequest. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            readOnly: true
          senderMessage:
            type:
            - string
            - 'null'
            description: The message sent by the sender of the scheduleChangeRequest. Optional.
          senderUserId:
            type:
            - string
            - 'null'
            description: The user ID of the sender of the scheduleChangeRequest.
            readOnly: true
          state:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.scheduleChangeState'
            - type:
              - object
              - 'null'
            description: 'The state of the scheduleChangeRequest. The possible values are: pending, approved, declined, unknownFutureValue.'
          '@odata.type':
            type: string
            default: '#microsoft.graph.scheduleChangeRequest'
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.offerShiftRequest': '#/components/schemas/microsoft.graph.offerShiftRequest'
            '#microsoft.graph.swapShiftsChangeRequest': '#/components/schemas/microsoft.graph.swapShiftsChangeRequest'
            '#microsoft.graph.openShiftChangeRequest': '#/components/schemas/microsoft.graph.openShiftChangeRequest'
            '#microsoft.graph.timeOffRequest': '#/components/schemas/microsoft.graph.timeOffRequest'
    microsoft.graph.dateTimeColumn:
      title: dateTimeColumn
      required:
      - '@odata.type'
      type: object
      properties:
        displayAs:
          type:
          - string
          - 'null'
          description: How the value should be presented in the UX. Must be one of default, friendly, or standard. See below for more details. If unspecified, treated as default.
        format:
          type:
          - string
          - 'null'
          description: Indicates whether the value should be presented as a date only or a date and time. Must be one of dateOnly or dateTime
        '@odata.type':
          type: string
    microsoft.graph.deviceRegistrationState:
      title: deviceRegistrationState
      enum:
      - notRegistered
      - registered
      - revoked
      - keyConflict
      - approvalPending
      - certificateReset
      - notRegisteredPendingEnrollment
      - unknown
      type: string
      description: Device registration status.
      x-ms-enum:
        name: deviceRegistrationState
        modelAsString: false
        values:
        - value: notRegistered
          description: The device is not registered.
          name: notRegistered
        - value: registered
          description: The device is registered.
          name: registered
        - value: revoked
          description: The device has been blocked, wiped or retired.
          name: revoked
        - value: keyConflict
          description: The device has a key conflict.
          name: keyConflict
        - value: approvalPending
          description: The device is pending approval.
          name: approvalPending
        - value: certificateReset
          description: The device certificate has been reset.
          name: certificateReset
        - value: notRegisteredPendingEnrollment
          description: The device is not registered and pending enrollment.
          name: notRegisteredPendingEnrollment
        - value: unknown
          description: The device registration status is unknown.
          name: unknown
    microsoft.graph.calendar:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: calendar
        required:
        - '@odata.type'
        type: object
        properties:
          allowedOnlineMeetingProviders:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/microsoft.graph.onlineMeetingProviderType'
              - type:
                - object
                - 'null'
            description: 'Represent the online meeting service providers that can be used to create online meetings in this calendar. The possible values are: unknown, skypeForBusiness, skypeForConsumer, teamsForBusiness.'
          canEdit:
            type:
            - boolean
            - 'null'
            description: true if the user can write to the calendar, false otherwise. This property is true for the user who created the calendar. This property is also true for a user who shared a calendar and granted write access.
          canShare:
            type:
            - boolean
            - 'null'
            description: true if the user has permission to share the calendar, false otherwise. Only the user who created the calendar can share it.
          canViewPrivateItems:
            type:
            - boolean
            - 'null'
            description: If true, the user can read calendar items that have been marked private, false otherwise.
          changeKey:
            type:
            - string
            - 'null'
            description: Identifies the version of the calendar object. Every time the calendar is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.
          color:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.calendarColor'
            - type:
              - object
              - 'null'
            description: 'Specifies the color theme to distinguish the calendar from other calendars in a UI. The property values are: auto, lightBlue, lightGreen, lightOrange, lightGray, lightYellow, lightTeal, lightPink, lightBrown, lightRed, maxColor.'
          defaultOnlineMeetingProvider:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.onlineMeetingProviderType'
            - type:
              - object
              - 'null'
            description: 'The default online meeting provider for meetings sent from this calendar. The possible values are: unknown, skypeForBusiness, skypeForConsumer, teamsForBusiness.'
          hexColor:
            type:
            - string
            - 'null'
            description: The calendar color, expressed in a hex color code of three hexadecimal values, each ranging from 00 to FF and representing the red, green, or blue components of the color in the RGB color space. If the user has never explicitly set a color for the calendar, this property is empty. Read-only.
          isDefaultCalendar:
            type:
            - boolean
            - 'null'
            description: true if this is the default calendar where new events are created by default, false otherwise.
          isRemovable:
            type:
            - boolean
            - 'null'
            description: Indicates whether this user calendar can be deleted from the user mailbox.
          isTallyingResponses:
            type:
            - boolean
            - 'null'
            description: Indicates whether this user calendar supports tracking of meeting responses. Only meeting invites sent from users' primary calendars support tracking of meeting responses.
          name:
            type:
            - string
            - 'null'
            description: The calendar name.
          owner:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailAddress'
            - type:
              - object
              - 'null'
            description: If set, this represents the user who created or added the calendar. For a calendar that the user created or added, the owner property is set to the user. For a calendar shared with the user, the owner property is set to the person who shared that calendar with the user.
          calendarPermissions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
            description: The permissions of the users with whom the calendar is shared.
            x-ms-navigationProperty: true
          calendarView:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.event'
            description: The calendar view for the calendar. Navigation property. Read-only.
            x-ms-navigationProperty: true
          events:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.event'
            description: The events in the calendar. Navigation property. Read-only.
            x-ms-navigationProperty: true
          multiValueExtendedProperties:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
            description: The collection of multi-value extended properties defined for the calendar. Read-only. Nullable.
            x-ms-navigationProperty: true
          singleValueExtendedProperties:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            description: The collection of single-value extended properties defined for the calendar. Read-only. Nullable.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.calendar'
    microsoft.graph.taskStatus:
      title: taskStatus
      enum:
      - notStarted
      - inProgress
      - completed
      - waitingOnOthers
      - deferred
      type: string
    microsoft.graph.appLogUploadState:
      title: appLogUploadState
      enum:
      - pending
      - completed
      - failed
      - unknownFutureValue
      type: string
      description: AppLogUploadStatus
      x-ms-enum:
        name: appLogUploadState
        modelAsString: false
        values:
        - value: pending
          description: Default. Indicates that request is waiting to be processed or under processing.
          name: pending
        - value: completed
          description: Indicates that request is completed with file uploaded to Azure blob for download.
          name: completed
        - value: failed
          description: Indicates that request is completed with file uploaded to Azure blob for download.
          name: failed
        - value: unknownFutureValue
          description: Evolvable enumeration sentinel value. Do not use.
          name: unknownFutureValue
    microsoft.graph.userIdentity:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.identity'
      - title: userIdentity
        required:
        - '@odata.type'
        type: object
        properties:
          ipAddress:
            type:
            - string
            - 'null'
            description: Indicates the client IP address associated with the user performing the activity (audit log only).
          userPrincipalName:
            type:
            - string
            - 'null'
            description: The userPrincipalName attribute of the user.
          '@odata.type':
            type: string
            default: '#microsoft.graph.userIdentity'
      x-ms-discriminator-value: '#microsoft.graph.userIdentity'
    microsoft.graph.managedAppFlaggedReason:
      title: managedAppFlaggedReason
      enum:
      - none
      - rootedDevice
      type: string
      description: The reason for which a user has been flagged
      x-ms-enum:
        name: managedAppFlaggedReason
        modelAsString: false
        values:
        - value: none
          description: No issue.
          name: none
        - value: rootedDevice
          description: The app registration is running on a rooted/unlocked device.
          name: rootedDevice
    microsoft.graph.teamSummary:
      title: teamSummary
      required:
      - '@odata.type'
      type: object
      properties:
        guestsCount:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: Count of guests in a team.
          format: int32
        membersCount:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: Count of members in a team.
          format: int32
        ownersCount:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: Count of owners in a team.
          format: int32
        '@odata.type':
          type: string
    microsoft.graph.printQuality:
      title: printQuality
      enum:
      - low
      - medium
      - high
      - unknownFutureValue
      type: string
    microsoft.graph.workbookComment:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: workbookComment
        required:
        - '@odata.type'
        type: object
        properties:
          content:
            type:
            - string
            - 'null'
            description: The content of the comment.
          contentType:
            type: string
            description: The content type of the comment.
          replies:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.workbookCommentReply'
            description: The list of replies to the comment. Read-only. Nullable.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.workbookComment'
    microsoft.graph.userActivity:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: userActivity
        required:
        - '@odata.type'
        type: object
        properties:
          activationUrl:
            type: string
            description: Required. URL used to launch the activity in the best native experience represented by the appId. Might launch a web-based app if no native app exists.
          activitySourceHost:
            type: string
            description: 'Required. URL for the domain representing the cross-platform identity mapping for the app. Mapping is stored either as a JSON file hosted on the domain or configurable via Windows Dev Center. The JSON file is named cross-platform-app-identifiers and is hosted at root of your HTTPS domain, either at the top level domain or include a sub domain. For example: https://contoso.com or https://myapp.contoso.com but NOT https://myapp.contoso.com/somepath. You must have a unique file and domain (or sub domain) per cross-platform app identity. For example, a separate file and domain is needed for Word vs. PowerPoint.'
          appActivityId:
            type: string
            description: Required. The unique activity ID in the context of the app - supplied by caller and immutable thereafter.
          appDisplayName:
            type:
            - string
            - 'null'
            description: Optional. Short text description of the app used to generate the activity for use in cases when the app is not installed on the user’s local device.
          contentInfo:
[...]
