openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin teams.team.Actions API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: teams.team.Actions
  x-ms-docs-toc-type: container
paths:
  /teams/{team-id}/archive:
    description: Provides operations to call the archive method.
    parameters:
    - name: team-id
      in: path
      description: The unique identifier of team
      required: true
      schema:
        type: string
      x-ms-docs-key-type: team
    x-ms-docs-grouped-path:
    - /teams/{team-id}/channels/{channel-id}/archive
    - /teams/{team-id}/primaryChannel/archive
    post:
      tags:
      - teams.team.Actions
      summary: Microsoft Graph Invoke action archive
      description: "Archive the specified team. \r\nWhen a team is archived, users can no longer make most changes to the team. For example, users can no longer: send or like messages on any channel in the team; edit the team's name or description; nor edit other settings. However, membership changes to the team are still allowed. Archiving is an async operation. A team is archived once the async operation completes successfully, which might occur subsequent to a response from this API. To archive a team, the team and group must have an owner. To restore a team from its archived state, use the API to unarchive."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-archive?view=graph-rest-1.0
      operationId: teams.team.archive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                shouldSetSpoSiteReadOnlyForMembers:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /teams/{team-id}/clone:
    description: Provides operations to call the clone method.
    parameters:
    - name: team-id
      in: path
      description: The unique identifier of team
      required: true
      schema:
        type: string
      x-ms-docs-key-type: team
    post:
      tags:
      - teams.team.Actions
      summary: Microsoft Graph Invoke action clone
      description: "Create a copy of a team. This operation also creates a copy of the corresponding group.\r\nYou can specify which parts of the team to clone: When tabs are cloned, they aren't configured. The tabs are displayed on the tab bar in Microsoft Teams, and the first time a user opens them, they must go through the configuration screen. \r\nIf the user who opens the tab doesn't have permission to configure apps, they see a message that says that the tab isn't configured. Cloning is a long-running operation. After the POST clone returns, you need to GET the operation returned by the Location: header to see if it's running, succeeded, or failed. You should continue to GET until the status isn't running. The recommended delay between GETs is 5 seconds."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-clone?view=graph-rest-1.0
      operationId: teams.team.clone
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                classification:
                  type: string
                  nullable: true
                visibility:
                  $ref: '#/components/schemas/microsoft.graph.teamVisibilityType'
                partsToClone:
                  $ref: '#/components/schemas/microsoft.graph.clonableTeamParts'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /teams/{team-id}/completeMigration:
    description: Provides operations to call the completeMigration method.
    parameters:
    - name: team-id
      in: path
      description: The unique identifier of team
      required: true
      schema:
        type: string
      x-ms-docs-key-type: team
    x-ms-docs-grouped-path:
    - /teams/{team-id}/channels/{channel-id}/completeMigration
    - /teams/{team-id}/primaryChannel/completeMigration
    post:
      tags:
      - teams.team.Actions
      summary: Microsoft Graph Invoke action completeMigration
      description: Complete the message migration process by removing migration mode from a team. Migration mode is a special state where certain operations are barred, like message POST and membership operations during the data migration process. After a completeMigration request is made, you can't import additional messages into the team. You can add members to the team after the request returns a successful response.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-completemigration?view=graph-rest-1.0
      operationId: teams.team.completeMigration
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /teams/{team-id}/sendActivityNotification:
    description: Provides operations to call the sendActivityNotification method.
    parameters:
    - name: team-id
      in: path
      description: The unique identifier of team
      required: true
      schema:
        type: string
      x-ms-docs-key-type: team
    post:
      tags:
      - teams.team.Actions
      summary: Microsoft Graph Invoke action sendActivityNotification
      description: "Send an activity feed notification in the scope of a team. For more information about sending notifications and the requirements for doing so, see\r\nsending Teams activity notifications."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-sendactivitynotification?view=graph-rest-1.0
      operationId: teams.team.sendActivityNotification
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopic'
                  - type: object
                    nullable: true
                activityType:
                  type: string
                  nullable: true
                chainId:
                  type: number
                  format: int64
                  nullable: true
                previewText:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.itemBody'
                  - type: object
                    nullable: true
                teamsAppId:
                  type: string
                  nullable: true
                templateParameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.keyValuePair'
                recipient:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkNotificationRecipient'
                  - type: object
                    nullable: true
                iconId:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /teams/{team-id}/unarchive:
    description: Provides operations to call the unarchive method.
    parameters:
    - name: team-id
      in: path
      description: The unique identifier of team
      required: true
      schema:
        type: string
      x-ms-docs-key-type: team
    x-ms-docs-grouped-path:
    - /teams/{team-id}/channels/{channel-id}/unarchive
    - /teams/{team-id}/primaryChannel/unarchive
    post:
      tags:
      - teams.team.Actions
      summary: Microsoft Graph Invoke action unarchive
      description: Restore an archived team. This API restores users' ability to send messages and edit the team, abiding by tenant and team settings. A Team is archived using the archive API. Unarchiving is an async operation. A team is unarchived once the async operation completes successfully, which might occur subsequent to a response from this API.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-unarchive?view=graph-rest-1.0
      operationId: teams.team.unarchive
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.teamworkActivityTopicSource:
      title: teamworkActivityTopicSource
      enum:
      - entityUrl
      - text
      type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.teamworkNotificationRecipient:
      title: teamworkNotificationRecipient
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.aadUserNotificationRecipient': '#/components/schemas/microsoft.graph.aadUserNotificationRecipient'
          '#microsoft.graph.channelMembersNotificationRecipient': '#/components/schemas/microsoft.graph.channelMembersNotificationRecipient'
          '#microsoft.graph.chatMembersNotificationRecipient': '#/components/schemas/microsoft.graph.chatMembersNotificationRecipient'
          '#microsoft.graph.teamMembersNotificationRecipient': '#/components/schemas/microsoft.graph.teamMembersNotificationRecipient'
    microsoft.graph.teamVisibilityType:
      title: teamVisibilityType
      enum:
      - private
      - public
      - hiddenMembership
      - unknownFutureValue
      type: string
    microsoft.graph.itemBody:
      title: itemBody
      required:
      - '@odata.type'
      type: object
      properties:
        content:
          type: string
          description: The content of the item.
          nullable: true
        contentType:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.bodyType'
          - type: object
            nullable: true
          description: The type of the content. Possible values are text and html.
        '@odata.type':
          type: string
    microsoft.graph.clonableTeamParts:
      title: clonableTeamParts
      enum:
      - apps
      - tabs
      - settings
      - channels
      - members
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.teamworkActivityTopic:
      title: teamworkActivityTopic
      required:
      - '@odata.type'
      type: object
      properties:
        source:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopicSource'
          - type: object
            nullable: true
          description: 'Type of source. The possible values are: entityUrl, text. For supported Microsoft Graph URLs, use entityUrl. For custom text, use text.'
        value:
          type: string
          description: The topic value. If the value of the source property is entityUrl, this must be a Microsoft Graph URL. If the value is text, this must be a plain text value.
        webUrl:
          type: string
          description: The link the user clicks when they select the notification. Optional when source is entityUrl; required when source is text.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.keyValuePair:
      title: keyValuePair
      required:
      - '@odata.type'
      type: object
      properties:
        name:
          type: string
          description: Name for this key-value pair
        value:
          type: string
          description: Value for this key-value pair
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.bodyType:
      title: bodyType
      enum:
      - text
      - html
      type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
