openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin servicePrincipals.synchronization API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: servicePrincipals.synchronization
paths:
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/filterOperators():
    description: Provides operations to call the filterOperators method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/filterOperators()
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke function filterOperators
      description: List all operators supported in the scoping filters.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-filteroperators?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.schema.filterOperators
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of filterOperatorSchema
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/filterOperators():
    description: Provides operations to call the filterOperators method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/filterOperators()
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke function filterOperators
      description: List all operators supported in the scoping filters.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-filteroperators?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.templates.synchronizationTemplate.schema.filterOperators
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of filterOperatorSchema
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/functions():
    description: Provides operations to call the functions method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/functions()
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke function functions
      description: List all the functions currently supported in the attributeMappingSource.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-functions?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.schema.functions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of attributeMappingFunctionSchema
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/functions():
    description: Provides operations to call the functions method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/functions()
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke function functions
      description: List all the functions currently supported in the attributeMappingSource.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-functions?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.templates.synchronizationTemplate.schema.functions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of attributeMappingFunctionSchema
                type: object
                allOf:
                - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                - type: object
                  properties:
                    value:
                      type: array
                      items:
                        $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /servicePrincipals/{servicePrincipal-id}/synchronization:
    description: Provides operations to manage the synchronization property of the microsoft.graph.servicePrincipal entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get synchronization from servicePrincipals
      description: Represents the capability for Microsoft Entra identity synchronization through the Microsoft Graph API.
      operationId: servicePrincipals.GetSynchronization
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property synchronization in servicePrincipals
      operationId: servicePrincipals.SetSynchronization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronization'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property synchronization for servicePrincipals
      operationId: servicePrincipals.DeleteSynchronization
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs:
    description: Provides operations to manage the jobs property of the microsoft.graph.synchronization entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph List synchronization jobs
      description: List existing jobs for a given application instance (service principal).
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronization-list-jobs?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.ListJobs
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.synchronizationJobCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Create synchronizationJob
      description: Create new synchronization job with a default synchronization schema. The job is created in a disabled state. Call Start job to start synchronization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronization-post-jobs?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.CreateJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}:
    description: Provides operations to manage the jobs property of the microsoft.graph.synchronization entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get synchronizationJob
      description: Retrieve the existing synchronization job and its properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-get?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.GetJobs
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property jobs in servicePrincipals
      operationId: servicePrincipals.synchronization.UpdateJobs
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete synchronizationJob
      description: Stop the synchronization job, and permanently delete all the state associated with it. Synchronized accounts are left as-is.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-delete?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.DeleteJobs
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/bulkUpload:
    description: Provides operations to manage the bulkUpload property of the microsoft.graph.synchronizationJob entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get bulkUpload from servicePrincipals
      description: The bulk upload operation for the job.
      operationId: servicePrincipals.synchronization.jobs.GetBulkUpload
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkUpload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property bulkUpload in servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.UpdateBulkUpload
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bulkUpload'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkUpload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property bulkUpload for servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.DeleteBulkUpload
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/bulkUpload/$value:
    description: Provides operations to manage the media for the servicePrincipal entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get media content for the navigation property bulkUpload from servicePrincipals
      description: The bulk upload operation for the job.
      operationId: servicePrincipals.synchronization.jobs.GetBulkUploadContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update media content for the navigation property bulkUpload in servicePrincipals
      description: The bulk upload operation for the job.
      operationId: servicePrincipals.synchronization.jobs.UpdateBulkUploadContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete media content for the navigation property bulkUpload in servicePrincipals
      description: The bulk upload operation for the job.
      operationId: servicePrincipals.synchronization.jobs.DeleteBulkUploadContent
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/pause:
    description: Provides operations to call the pause method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action pause
      description: Temporarily stop a running synchronization job. All the progress, including job state, is persisted, and the job will continue from where it left off when a start call is made.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-pause?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.pause
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/provisionOnDemand:
    description: Provides operations to call the provisionOnDemand method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action provisionOnDemand
      description: Select a user and provision the account on-demand. The rate limit for this API is 5 requests per 10 seconds.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-provisionondemand?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.provisionOnDemand
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationJobApplicationParameters'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/restart:
    description: Provides operations to call the restart method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action restart
      description: Restart a stopped synchronization job, forcing it to reprocess all the objects in the directory. Optionally clears existing the synchronization state and previous errors.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-restart?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.restart
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                criteria:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartCriteria'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/start:
    description: Provides operations to call the start method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action start
      description: 'Start an existing synchronization job. If the job is in a paused state, it continues processing changes from the point where it was paused. If the job is in quarantine, the quarantine status is cleared. Don''t create scripts to call the start job continuously while it''s running because that can cause the service to stop running. Use the start job only when the job is currently paused or in quarantine. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-start?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.start
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/validateCredentials:
    description: Provides operations to call the validateCredentials method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/validateCredentials
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action validateCredentials
      description: Validate that the credentials are valid in the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-validatecredentials?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.validateCredentials
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema:
    description: Provides operations to manage the schema property of the microsoft.graph.synchronizationJob entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get synchronizationSchema
      description: Retrieve the schema for a given synchronization job or template.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-get?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.jobs.GetSchema
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update synchronizationSchema
      description: Update the synchronization schema for a given job or template. This method fully replaces the current schema with the one provided in the request. To update the schema of a template, make the call on the application object. You must be the owner of the application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-update?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.jobs.UpdateSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property schema for servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.DeleteSchema
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories:
    description: Provides operations to manage the directories property of the microsoft.graph.synchronizationSchema entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get directories from servicePrincipals
      description: Contains the collection of directories and all of their objects.
      operationId: servicePrincipals.synchronization.jobs.schema.ListDirectories
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Create new navigation property to directories for servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema.CreateDirectories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}
  : description: Provides operations to manage the directories property of the microsoft.graph.synchronizationSchema entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    - name: directoryDefinition-id
      in: path
      description: The unique identifier of directoryDefinition
      required: true
      schema:
        type: string
      x-ms-docs-key-type: directoryDefinition
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get directories from servicePrincipals
      description: Contains the collection of directories and all of their objects.
      operationId: servicePrincipals.synchronization.jobs.schema.GetDirectories
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property directories in servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema.UpdateDirectories
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property directories for servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema.DeleteDirectories
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}/discover
  : description: Provides operations to call the discover method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    - name: directoryDefinition-id
      in: path
      description: The unique identifier of directoryDefinition
      required: true
      schema:
        type: string
      x-ms-docs-key-type: directoryDefinition
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}/discover
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action discover
      description: 'Discover the latest schema definition for provisioning to an application. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-directorydefinition-discover?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.schema.directories.directoryDefinition.discover
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get the number of the resource
      operationId: servicePrincipals.synchronization.jobs.schema.directories.GetCount-af56
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/parseExpression:
    description: Provides operations to call the parseExpression method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationJob-id
      in: path
      description: The unique identifier of synchronizationJob
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationJob
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/parseExpression
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action parseExpression
      description: Parse a given string expression into an attributeMappingSource object. For more information about expressions, see Writing Expressions for Attribute Mappings in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-parseexpression?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.synchronizationJob.schema.parseExpression
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  nullable: true
                testInputObject:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                  - type: object
                    nullable: true
                targetAttributeDefinition:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
                  - type: object
                    nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get the number of the resource
      operationId: servicePrincipals.synchronization.jobs.GetCount-5eba
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/validateCredentials:
    description: Provides operations to call the validateCredentials method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/validateCredentials
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action validateCredentials
      operationId: servicePrincipals.servicePrincipal.synchronization.jobs.validateCredentials
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/acquireAccessToken:
    description: Provides operations to call the acquireAccessToken method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action acquireAccessToken
      description: Acquire an OAuth access token to authorize the Microsoft Entra provisioning service to provision users into an application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronization-acquireaccesstoken?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.acquireAccessToken
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/secrets:
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    put:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Add synchronization secrets
      description: Provide credentials for establishing connectivity with the target system.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-serviceprincipal-put-synchronization?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.SetSecrets
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /servicePrincipals/{servicePrincipal-id}/synchronization/secrets/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get the number of the resource
      operationId: servicePrincipals.synchronization.Secrets.GetCount-65c9
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates:
    description: Provides operations to manage the templates property of the microsoft.graph.synchronization entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph List existing synchronization templates
      description: List the synchronization templates associated with a given application or service principal.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronization-list-templates?view=graph-rest-1.0
      operationId: servicePrincipals.synchronization.ListTemplates
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.synchronizationTemplateCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Create new navigation property to templates for servicePrincipals
      operationId: servicePrincipals.synchronization.CreateTemplates
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}:
    description: Provides operations to manage the templates property of the microsoft.graph.synchronization entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get templates from servicePrincipals
      description: Preconfigured synchronization settings for a particular application.
      operationId: servicePrincipals.synchronization.GetTemplates
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property templates in servicePrincipals
      operationId: servicePrincipals.synchronization.UpdateTemplates
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property templates for servicePrincipals
      operationId: servicePrincipals.synchronization.DeleteTemplates
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema:
    description: Provides operations to manage the schema property of the microsoft.graph.synchronizationTemplate entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get schema from servicePrincipals
      description: Default synchronization schema for the jobs based on this template.
      operationId: servicePrincipals.synchronization.templates.GetSchema
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property schema in servicePrincipals
      operationId: servicePrincipals.synchronization.templates.UpdateSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property schema for servicePrincipals
      operationId: servicePrincipals.synchronization.templates.DeleteSchema
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories:
    description: Provides operations to manage the directories property of the microsoft.graph.synchronizationSchema entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get directories from servicePrincipals
      description: Contains the collection of directories and all of their objects.
      operationId: servicePrincipals.synchronization.templates.schema.ListDirectories
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryDefinitionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Create new navigation property to directories for servicePrincipals
      operationId: servicePrincipals.synchronization.templates.schema.CreateDirectories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}
  : description: Provides operations to manage the directories property of the microsoft.graph.synchronizationSchema entity.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    - name: directoryDefinition-id
      in: path
      description: The unique identifier of directoryDefinition
      required: true
      schema:
        type: string
      x-ms-docs-key-type: directoryDefinition
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get directories from servicePrincipals
      description: Contains the collection of directories and all of their objects.
      operationId: servicePrincipals.synchronization.templates.schema.GetDirectories
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Update the navigation property directories in servicePrincipals
      operationId: servicePrincipals.synchronization.templates.schema.UpdateDirectories
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Delete navigation property directories for servicePrincipals
      operationId: servicePrincipals.synchronization.templates.schema.DeleteDirectories
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}/discover
  : description: Provides operations to call the discover method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    - name: directoryDefinition-id
      in: path
      description: The unique identifier of directoryDefinition
      required: true
      schema:
        type: string
      x-ms-docs-key-type: directoryDefinition
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}/discover
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action discover
      description: 'Discover the latest schema definition for provisioning to an application. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-directorydefinition-discover?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.templates.synchronizationTemplate.schema.directories.directoryDefinition.discover
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get the number of the resource
      operationId: servicePrincipals.synchronization.templates.schema.directories.GetCount-f937
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/parseExpression:
    description: Provides operations to call the parseExpression method.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    - name: synchronizationTemplate-id
      in: path
      description: The unique identifier of synchronizationTemplate
      required: true
      schema:
        type: string
      x-ms-docs-key-type: synchronizationTemplate
    x-ms-docs-grouped-path:
    - /servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/parseExpression
    post:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Invoke action parseExpression
      description: Parse a given string expression into an attributeMappingSource object. For more information about expressions, see Writing Expressions for Attribute Mappings in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-parseexpression?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.synchronization.templates.synchronizationTemplate.schema.parseExpression
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  nullable: true
                testInputObject:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                  - type: object
                    nullable: true
                targetAttributeDefinition:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
                  - type: object
                    nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /servicePrincipals/{servicePrincipal-id}/synchronization/templates/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: servicePrincipal-id
      in: path
      description: The unique identifier of servicePrincipal
      required: true
      schema:
        type: string
      x-ms-docs-key-type: servicePrincipal
    get:
      tags:
      - servicePrincipals.synchronization
      summary: Microsoft Graph Get the number of the resource
      operationId: servicePrincipals.synchronization.templates.GetCount-1c9d
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.expressionInputObject:
      title: expressionInputObject
      required:
      - '@odata.type'
      type: object
      properties:
        definition:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.objectDefinition'
          - type: object
            nullable: true
          description: Definition of the test object.
        properties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyObjectValuePair'
          description: Property values of the test object.
        '@odata.type':
          type: string
    microsoft.graph.synchronization:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronization
        required:
        - '@odata.type'
        type: object
        properties:
          secrets:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
            description: Represents a collection of credentials to access provisioned cloud applications.
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
            description: Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.
            x-ms-navigationProperty: true
          templates:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
            description: Preconfigured synchronization settings for a particular application.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronization'
    microsoft.graph.objectDefinition:
      title: objectDefinition
      required:
      - '@odata.type'
      type: object
      properties:
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
          description: Defines attributes of the object.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.objectDefinitionMetadataEntry'
          description: Metadata for the given object.
        name:
          type: string
          description: Name of the object. Must be unique within a directory definition. Not nullable.
          nullable: true
        supportedApis:
          type: array
          items:
            type: string
            nullable: true
          description: The API that the provisioning service queries to retrieve data for synchronization.
        '@odata.type':
          type: string
    microsoft.graph.synchronizationTaskExecution:
      title: synchronizationTaskExecution
      required:
      - '@odata.type'
      type: object
      properties:
        activityIdentifier:
          type: string
          description: Identifier of the job run.
          nullable: true
        countEntitled:
          type: number
          description: Count of processed entries that were assigned for this application.
          format: int64
        countEntitledForProvisioning:
          type: number
          description: Count of processed entries that were assigned for provisioning.
          format: int64
        countEscrowed:
          type: number
          description: Count of entries that were escrowed (errors).
          format: int64
        countEscrowedRaw:
          type: number
          description: Count of entries that were escrowed, including system-generated escrows.
          format: int64
        countExported:
          type: number
          description: Count of exported entries.
          format: int64
        countExports:
          type: number
          description: Count of entries that were expected to be exported.
          format: int64
        countImported:
          type: number
          description: Count of imported entries.
          format: int64
        countImportedDeltas:
          type: number
          description: Count of imported delta-changes.
          format: int64
        countImportedReferenceDeltas:
          type: number
          description: Count of imported delta-changes pertaining to reference changes.
          format: int64
        error:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.synchronizationError'
          - type: object
            nullable: true
          description: If an error was encountered, contains a synchronizationError object with details.
        state:
          $ref: '#/components/schemas/microsoft.graph.synchronizationTaskExecutionResult'
        timeBegan:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Time when this job run began. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        timeEnded:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Time when this job run ended. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        '@odata.type':
          type: string
    microsoft.graph.parseExpressionResponse:
      title: parseExpressionResponse
      required:
      - '@odata.type'
      type: object
      properties:
        error:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.publicError'
          - type: object
            nullable: true
          description: Error details, if expression evaluation resulted in an error.
        evaluationResult:
          type: array
          items:
            type: string
            nullable: true
          description: A collection of values produced by the evaluation of the expression.
        evaluationSucceeded:
          type: boolean
          description: true if the evaluation was successful.
        parsedExpression:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.attributeMappingSource'
          - type: object
            nullable: true
          description: An attributeMappingSource object representing the parsed expression.
        parsingSucceeded:
          type: boolean
          description: true if the expression was parsed successfully.
        '@odata.type':
          type: string
    microsoft.graph.referencedObject:
      title: referencedObject
      required:
      - '@odata.type'
      type: object
      properties:
        referencedObjectName:
          type: string
          description: Name of the referenced object. Must match one of the objects in the directory definition.
          nullable: true
        referencedProperty:
          type: string
          description: Currently not supported. Name of the property in the referenced object, the value for which is used as the reference.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.synchronizationSchema:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronizationSchema
        required:
        - '@odata.type'
        type: object
        properties:
          synchronizationRules:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationRule'
            description: A collection of synchronization rules configured for the synchronizationJob or synchronizationTemplate.
          version:
            type: string
            description: The version of the schema, updated automatically with every schema change.
            nullable: true
          directories:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
            description: Contains the collection of directories and all of their objects.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronizationSchema'
    microsoft.graph.synchronizationQuarantine:
      title: synchronizationQuarantine
      required:
      - '@odata.type'
      type: object
      properties:
        currentBegan:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date and time when the quarantine was last evaluated and imposed. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        error:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.synchronizationError'
          - type: object
            nullable: true
          description: Describes the error(s) that occurred when putting the synchronization job into quarantine.
        nextAttempt:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date and time when the next attempt to re-evaluate the quarantine will be made. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        reason:
          $ref: '#/components/schemas/microsoft.graph.quarantineReason'
        seriesBegan:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date and time when the quarantine was first imposed in this series (a series starts when a quarantine is first imposed, and is reset as soon as the quarantine is lifted). The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        seriesCount:
          type: number
          description: Number of times in this series the quarantine was re-evaluated and left in effect (a series starts when quarantine is first imposed, and is reset as soon as quarantine is lifted).
          format: int64
        '@odata.type':
          type: string
    microsoft.graph.objectMappingMetadata:
      title: objectMappingMetadata
      enum:
      - EscrowBehavior
      - DisableMonitoringForChanges
      - OriginalJoiningProperty
      - Disposition
      - IsCustomerDefined
      - ExcludeFromReporting
      - Unsynchronized
      type: string
    microsoft.graph.objectDefinitionMetadata:
      title: objectDefinitionMetadata
      enum:
      - PropertyNameAccountEnabled
      - PropertyNameSoftDeleted
      - IsSoftDeletionSupported
      - IsSynchronizeAllSupported
      - ConnectorDataStorageRequired
      - Extensions
      - BaseObjectName
      type: string
    microsoft.graph.filterOperand:
      title: filterOperand
      required:
      - '@odata.type'
      type: object
      properties:
        values:
          type: array
          items:
            type: string
            nullable: true
          description: Collection of values.
        '@odata.type':
          type: string
    microsoft.graph.synchronizationStatusCode:
      title: synchronizationStatusCode
      enum:
      - NotConfigured
      - NotRun
      - Active
      - Paused
      - Quarantine
      type: string
    microsoft.graph.synchronizationTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronizationTemplate
        required:
        - '@odata.type'
        type: object
        properties:
          applicationId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            description: Identifier of the application this template belongs to.
            format: uuid
          default:
            type: boolean
            description: true if this template is recommended to be the default for the application.
          description:
            type: string
            description: Description of the template.
            nullable: true
          discoverable:
            type: boolean
            description: true if this template should appear in the collection of templates available for the application instance (service principal).
          factoryTag:
            type: string
            description: One of the well-known factory tags supported by the synchronization engine. The factoryTag tells the synchronization engine which implementation to use when processing jobs based on this template.
            nullable: true
          metadata:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationMetadataEntry'
            description: Additional extension properties. Unless mentioned explicitly, metadata values should not be changed.
          schema:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
            - type: object
              nullable: true
            description: Default synchronization schema for the jobs based on this template.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronizationTemplate'
    microsoft.graph.attributeFlowType:
      title: attributeFlowType
      enum:
      - Always
      - ObjectAddOnly
      - MultiValueAddOnly
      - ValueAddOnly
      - AttributeAddOnly
      type: string
    microsoft.graph.attributeMapping:
      title: attributeMapping
      required:
      - '@odata.type'
      type: object
      properties:
        defaultValue:
          type: string
          description: Default value to be used in case the source property was evaluated to null. Optional.
          nullable: true
        exportMissingReferences:
          type: boolean
          description: For internal use only.
        flowBehavior:
          $ref: '#/components/schemas/microsoft.graph.attributeFlowBehavior'
        flowType:
          $ref: '#/components/schemas/microsoft.graph.attributeFlowType'
        matchingPriority:
[...]
