openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Admin Consent Policy API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Admin Consent Policy
  description: Operations for managing admin consent request policies
paths:
  /policies/adminConsentRequestPolicy:
    description: Provides operations to manage admin consent request policy.
    get:
      tags:
      - Admin Consent Policy
      summary: Microsoft Graph Get admin consent request policy
      description: Retrieve the admin consent request policy.
      operationId: getAdminConsentRequestPolicy
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConsentRequestPolicy'
              examples:
                GetAdminConsentRequestPolicyResponse:
                  $ref: '#/components/examples/GetAdminConsentRequestPolicyResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Admin Consent Policy
      summary: Microsoft Graph Update admin consent request policy
      description: Update the admin consent request policy.
      operationId: updateAdminConsentRequestPolicy
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConsentRequestPolicy'
            examples:
              UpdateAdminConsentRequestPolicyRequest:
                $ref: '#/components/examples/UpdateAdminConsentRequestPolicyRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConsentRequestPolicy'
              examples:
                UpdateAdminConsentRequestPolicyResponse:
                  $ref: '#/components/examples/UpdateAdminConsentRequestPolicyResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  examples:
    UpdateAdminConsentRequestPolicyResponse:
      summary: Example response for updated admin consent request policy
      value:
        id: adminConsentRequestPolicy
        isEnabled: true
        notifyReviewers: false
        remindersEnabled: true
        requestDurationInDays: 30
        version: 2
        '@odata.type': '#microsoft.graph.adminConsentRequestPolicy'
    GetAdminConsentRequestPolicyResponse:
      summary: Example response for getting admin consent request policy
      value:
        id: adminConsentRequestPolicy
        isEnabled: true
        notifyReviewers: true
        remindersEnabled: true
        requestDurationInDays: 30
        version: 1
        '@odata.type': '#microsoft.graph.adminConsentRequestPolicy'
    UpdateAdminConsentRequestPolicyRequest:
      summary: Example request for updating admin consent request policy
      value:
        isEnabled: true
        notifyReviewers: false
        '@odata.type': '#microsoft.graph.adminConsentRequestPolicy'
  schemas:
    AdminConsentRequestPolicy:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminConsentRequestPolicy
        type: object
        properties:
          isEnabled:
            type: boolean
          notifyReviewers:
            type: boolean
          remindersEnabled:
            type: boolean
          requestDurationInDays:
            type: integer
            format: int32
          version:
            type: integer
            format: int32
          '@odata.type':
            type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
