openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin SharePoint API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: SharePoint
  description: Operations for managing SharePoint settings
paths:
  /admin/sharepoint:
    description: Provides operations to manage SharePoint settings.
    get:
      tags:
      - SharePoint
      summary: Microsoft Graph Get SharePoint settings
      description: Retrieve the SharePoint administration settings.
      operationId: getSharePointSettings
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharePoint'
              examples:
                GetSharePointResponse:
                  $ref: '#/components/examples/GetSharePointResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - SharePoint
      summary: Microsoft Graph Update SharePoint settings
      description: Update the SharePoint administration settings.
      operationId: updateSharePointSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharePoint'
            examples:
              UpdateSharePointRequest:
                $ref: '#/components/examples/UpdateSharePointRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharePoint'
              examples:
                UpdateSharePointResponse:
                  $ref: '#/components/examples/UpdateSharePointResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  schemas:
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    SharePoint:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: SharePoint
        type: object
        properties:
          '@odata.type':
            type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
  examples:
    UpdateSharePointResponse:
      summary: Example response for updated SharePoint settings
      value:
        id: sharepoint
        '@odata.type': '#microsoft.graph.sharepoint'
    GetSharePointResponse:
      summary: Example response for getting SharePoint settings
      value:
        id: sharepoint
        '@odata.type': '#microsoft.graph.sharepoint'
    UpdateSharePointRequest:
      summary: Example request for updating SharePoint settings
      value:
        '@odata.type': '#microsoft.graph.sharepoint'
