openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Report Settings API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Report Settings
  description: Operations for managing administrative report settings
paths:
  /admin/reportSettings:
    description: Provides operations to manage report settings.
    get:
      tags:
      - Report Settings
      summary: Microsoft Graph Get report settings
      description: Retrieve the administrative report settings.
      operationId: getReportSettings
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReportSettings'
              examples:
                GetReportSettingsResponse:
                  $ref: '#/components/examples/GetReportSettingsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Report Settings
      summary: Microsoft Graph Update report settings
      description: Update the administrative report settings.
      operationId: updateReportSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminReportSettings'
            examples:
              UpdateReportSettingsRequest:
                $ref: '#/components/examples/UpdateReportSettingsRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReportSettings'
              examples:
                UpdateReportSettingsResponse:
                  $ref: '#/components/examples/UpdateReportSettingsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  examples:
    GetReportSettingsResponse:
      summary: Example response for getting report settings
      value:
        id: reportSettings
        displayConcealedNames: false
        '@odata.type': '#microsoft.graph.adminReportSettings'
    UpdateReportSettingsResponse:
      summary: Example response for updated report settings
      value:
        id: reportSettings
        displayConcealedNames: true
        '@odata.type': '#microsoft.graph.adminReportSettings'
    UpdateReportSettingsRequest:
      summary: Example request for updating report settings
      value:
        displayConcealedNames: true
        '@odata.type': '#microsoft.graph.adminReportSettings'
  schemas:
    AdminReportSettings:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminReportSettings
        type: object
        properties:
          displayConcealedNames:
            type: boolean
          '@odata.type':
            type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
