openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin deviceAppManagement.mobileApp API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: deviceAppManagement.mobileApp
paths:
  /deviceAppManagement/mobileApps:
    description: Provides operations to manage the mobileApps property of the microsoft.graph.deviceAppManagement entity.
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get mobileApps from deviceAppManagement
      description: The mobile apps.
      operationId: deviceAppManagement.ListMobileApps
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to mobileApps for deviceAppManagement
      operationId: deviceAppManagement.CreateMobileApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}:
    description: Provides operations to manage the mobileApps property of the microsoft.graph.deviceAppManagement entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get mobileApps from deviceAppManagement
      description: The mobile apps.
      operationId: deviceAppManagement.GetMobileApps
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property mobileApps in deviceAppManagement
      operationId: deviceAppManagement.UpdateMobileApps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property mobileApps for deviceAppManagement
      operationId: deviceAppManagement.DeleteMobileApps
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/assignments:
    description: Provides operations to manage the assignments property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/assignments
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get assignments from deviceAppManagement
      description: The list of group assignments for this mobile app.
      operationId: deviceAppManagement.mobileApps.ListAssignments
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to assignments for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/assignments/{mobileAppAssignment-id}:
    description: Provides operations to manage the assignments property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppAssignment-id
      in: path
      description: The unique identifier of mobileAppAssignment
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppAssignment
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/assignments/{mobileAppAssignment-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get assignments from deviceAppManagement
      description: The list of group assignments for this mobile app.
      operationId: deviceAppManagement.mobileApps.GetAssignments
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property assignments in deviceAppManagement
      operationId: deviceAppManagement.mobileApps.UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property assignments for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.DeleteAssignments
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/assignments/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.assignments.GetCount-493c
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/categories:
    description: Provides operations to manage the categories property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/categories
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get categories from deviceAppManagement
      description: The list of categories for this app.
      operationId: deviceAppManagement.mobileApps.ListCategories
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppCategoryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/categories/{mobileAppCategory-id}:
    description: Provides operations to manage the categories property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppCategory-id
      in: path
      description: The unique identifier of mobileAppCategory
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppCategory
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/categories/{mobileAppCategory-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get categories from deviceAppManagement
      description: The list of categories for this app.
      operationId: deviceAppManagement.mobileApps.GetCategories
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppCategory'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/categories/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.categories.GetCount-6d0e
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp:
    description: Casts the previous resource to androidLobApp.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the item of type microsoft.graph.mobileApp as microsoft.graph.androidLobApp
      operationId: deviceAppManagement.GetMobileApps.AsAndroidLobApp
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidLobApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments:
    description: Provides operations to manage the assignments property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/assignments
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get assignments from deviceAppManagement
      description: The list of group assignments for this mobile app.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.ListAssignments
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to assignments for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments/{mobileAppAssignment-id}:
    description: Provides operations to manage the assignments property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppAssignment-id
      in: path
      description: The unique identifier of mobileAppAssignment
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppAssignment
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/assignments/{mobileAppAssignment-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get assignments from deviceAppManagement
      description: The list of group assignments for this mobile app.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.GetAssignments
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property assignments in deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property assignments for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.DeleteAssignments
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.assignments.GetCount-1911
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories:
    description: Provides operations to manage the categories property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/categories
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get categories from deviceAppManagement
      description: The list of categories for this app.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.ListCategories
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppCategoryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories/{mobileAppCategory-id}:
    description: Provides operations to manage the categories property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppCategory-id
      in: path
      description: The unique identifier of mobileAppCategory
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppCategory
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/categories/{mobileAppCategory-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get categories from deviceAppManagement
      description: The list of categories for this app.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.GetCategories
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppCategory'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.categories.GetCount-828c
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions:
    description: Provides operations to manage the contentVersions property of the microsoft.graph.mobileLobApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get contentVersions from deviceAppManagement
      description: The list of content versions for this app. This property is read-only.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.ListContentVersions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppContentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to contentVersions for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.CreateContentVersions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppContent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}:
    description: Provides operations to manage the contentVersions property of the microsoft.graph.mobileLobApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get contentVersions from deviceAppManagement
      description: The list of content versions for this app. This property is read-only.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.GetContentVersions
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property contentVersions in deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.UpdateContentVersions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppContent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property contentVersions for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.DeleteContentVersions
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/containedApps:
    description: Provides operations to manage the containedApps property of the microsoft.graph.mobileAppContent entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}/containedApps
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}/containedApps
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get containedApps from deviceAppManagement
      description: The collection of contained apps in a MobileLobApp acting as a package.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.ListContainedApps
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileContainedAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to containedApps for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.CreateContainedApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileContainedApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileContainedApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
  : description: Provides operations to manage the containedApps property of the microsoft.graph.mobileAppContent entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    - name: mobileContainedApp-id
      in: path
      description: The unique identifier of mobileContainedApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileContainedApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}/containedApps/{mobileContainedApp-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get containedApps from deviceAppManagement
      description: The collection of contained apps in a MobileLobApp acting as a package.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.GetContainedApps
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileContainedApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property containedApps in deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.UpdateContainedApps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileContainedApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileContainedApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property containedApps for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.DeleteContainedApps
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/containedApps/$count
  : description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.containedApps.GetCount-510a
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/files:
    description: Provides operations to manage the files property of the microsoft.graph.mobileAppContent entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}/files
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}/files
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get files from deviceAppManagement
      description: The list of files for this app content version.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.ListFiles
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppContentFileCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to files for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.CreateFiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppContentFile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppContentFile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
  : description: Provides operations to manage the files property of the microsoft.graph.mobileAppContent entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    - name: mobileAppContentFile-id
      in: path
      description: The unique identifier of mobileAppContentFile
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContentFile
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get files from deviceAppManagement
      description: The list of files for this app content version.
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.GetFiles
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppContentFile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property files in deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.UpdateFiles
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppContentFile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppContentFile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property files for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.DeleteFiles
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
  : description: Provides operations to call the commit method.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    - name: mobileAppContentFile-id
      in: path
      description: The unique identifier of mobileAppContentFile
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContentFile
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/commit
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Invoke action commit
      description: Commits a file of a given app.
      operationId: deviceAppManagement.mobileApps.mobileApp.microsoft.graph.androidLobApp.contentVersions.mobileAppContent.files.mobileAppContentFile.commit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                fileEncryptionInfo:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.fileEncryptionInfo'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
  : description: Provides operations to call the renewUpload method.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    - name: mobileAppContentFile-id
      in: path
      description: The unique identifier of mobileAppContentFile
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContentFile
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/contentVersions/{mobileAppContent-id}/files/{mobileAppContentFile-id}/renewUpload
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Invoke action renewUpload
      description: Renews the SAS URI for an application file upload.
      operationId: deviceAppManagement.mobileApps.mobileApp.microsoft.graph.androidLobApp.contentVersions.mobileAppContent.files.mobileAppContentFile.renewUpload
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/{mobileAppContent-id}/files/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppContent-id
      in: path
      description: The unique identifier of mobileAppContent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppContent
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.files.GetCount-d41e
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/contentVersions/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidLobApp.contentVersions.GetCount-12ca
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp:
    description: Casts the previous resource to androidStoreApp.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the item of type microsoft.graph.mobileApp as microsoft.graph.androidStoreApp
      operationId: deviceAppManagement.GetMobileApps.AsAndroidStoreApp
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidStoreApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments:
    description: Provides operations to manage the assignments property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/assignments
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/assignments
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get assignments from deviceAppManagement
      description: The list of group assignments for this mobile app.
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.ListAssignments
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Create new navigation property to assignments for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments/{mobileAppAssignment-id}:
    description: Provides operations to manage the assignments property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppAssignment-id
      in: path
      description: The unique identifier of mobileAppAssignment
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppAssignment
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/assignments/{mobileAppAssignment-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/assignments/{mobileAppAssignment-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get assignments from deviceAppManagement
      description: The list of group assignments for this mobile app.
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.GetAssignments
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Update the navigation property assignments in deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Delete navigation property assignments for deviceAppManagement
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.DeleteAssignments
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/assignments/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.assignments.GetCount-6eb3
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories:
    description: Provides operations to manage the categories property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/categories
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/categories
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get categories from deviceAppManagement
      description: The list of categories for this app.
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.ListCategories
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileAppCategoryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories/{mobileAppCategory-id}:
    description: Provides operations to manage the categories property of the microsoft.graph.mobileApp entity.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    - name: mobileAppCategory-id
      in: path
      description: The unique identifier of mobileAppCategory
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileAppCategory
    x-ms-docs-grouped-path:
    - /deviceAppManagement/mobileApps/{mobileApp-id}/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosStoreApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.iosVppApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSDmgApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.macOSLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedAndroidLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedIOSLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.managedMobileLobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.microsoftStoreForBusinessApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.win32LobApp/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsAppX/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsMobileMSI/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsUniversalAppX/categories/{mobileAppCategory-id}
    - /deviceAppManagement/mobileApps/{mobileApp-id}/graph.windowsWebApp/categories/{mobileAppCategory-id}
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get categories from deviceAppManagement
      description: The list of categories for this app.
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.GetCategories
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppCategory'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/mobileApps/{mobileApp-id}/graph.androidStoreApp/categories/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    get:
      tags:
      - deviceAppManagement.mobileApp
      summary: Microsoft Graph Get the number of the resource
      operationId: deviceAppManagement.mobileApps.AsAndroidStoreApp.categories.GetCount-2f24
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceAppManagement/mobileApps/{mobileApp-id}/assign:
    description: Provides operations to call the assign method.
    parameters:
    - name: mobileApp-id
      in: path
      description: The unique identifier of mobileApp
      required: true
      schema:
        type: string
      x-ms-docs-key-type: mobileApp
    x-ms-docs-grouped-path:
    - /deviceAppManagement/managedEBooks/{managedEBook-id}/assign
    - /deviceAppManagement/mobileAppConfigurations/{managedDeviceMobileAppConfiguration-id}/assign
    - /deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/assign
    post:
[...]
