openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin groupLifecyclePolicies.groupLifecyclePolicy.Actions API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: groupLifecyclePolicies.groupLifecyclePolicy.Actions
paths:
  /groupLifecyclePolicies/{groupLifecyclePolicy-id}/addGroup:
    description: Provides operations to call the addGroup method.
    parameters:
    - name: groupLifecyclePolicy-id
      in: path
      description: The unique identifier of groupLifecyclePolicy
      required: true
      schema:
        type: string
      x-ms-docs-key-type: groupLifecyclePolicy
    post:
      tags:
      - groupLifecyclePolicies.groupLifecyclePolicy.Actions
      summary: Microsoft Graph Invoke action addGroup
      description: Add a group to a groupLifecyclePolicy. This action is supported only if the managedGroupTypes property of the policy is set to Selected.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-addgroup?view=graph-rest-1.0
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.addGroup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groupLifecyclePolicies/{groupLifecyclePolicy-id}/removeGroup:
    description: Provides operations to call the removeGroup method.
    parameters:
    - name: groupLifecyclePolicy-id
      in: path
      description: The unique identifier of groupLifecyclePolicy
      required: true
      schema:
        type: string
      x-ms-docs-key-type: groupLifecyclePolicy
    post:
      tags:
      - groupLifecyclePolicies.groupLifecyclePolicy.Actions
      summary: Microsoft Graph Invoke action removeGroup
      description: Removes a group from a lifecycle policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-removegroup?view=graph-rest-1.0
      operationId: groupLifecyclePolicies.groupLifecyclePolicy.removeGroup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
