openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin chats.chat.Actions API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: chats.chat.Actions
paths:
  /chats/{chat-id}/hideForUser:
    description: Provides operations to call the hideForUser method.
    parameters:
    - name: chat-id
      in: path
      description: The unique identifier of chat
      required: true
      schema:
        type: string
      x-ms-docs-key-type: chat
    post:
      tags:
      - chats.chat.Actions
      summary: Microsoft Graph Invoke action hideForUser
      description: Hide a chat for a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-hideforuser?view=graph-rest-1.0
      operationId: chats.chat.hideForUser
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkUserIdentity'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /chats/{chat-id}/markChatReadForUser:
    description: Provides operations to call the markChatReadForUser method.
    parameters:
    - name: chat-id
      in: path
      description: The unique identifier of chat
      required: true
      schema:
        type: string
      x-ms-docs-key-type: chat
    post:
      tags:
      - chats.chat.Actions
      summary: Microsoft Graph Invoke action markChatReadForUser
      description: Mark a chat as read for a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-markchatreadforuser?view=graph-rest-1.0
      operationId: chats.chat.markChatReadForUser
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkUserIdentity'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /chats/{chat-id}/markChatUnreadForUser:
    description: Provides operations to call the markChatUnreadForUser method.
    parameters:
    - name: chat-id
      in: path
      description: The unique identifier of chat
      required: true
      schema:
        type: string
      x-ms-docs-key-type: chat
    post:
      tags:
      - chats.chat.Actions
      summary: Microsoft Graph Invoke action markChatUnreadForUser
      description: Mark a chat as unread for a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-markchatunreadforuser?view=graph-rest-1.0
      operationId: chats.chat.markChatUnreadForUser
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkUserIdentity'
                  - type: object
                    nullable: true
                lastMessageReadDateTime:
                  pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
                  type: string
                  format: date-time
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /chats/{chat-id}/removeAllAccessForUser:
    description: Provides operations to call the removeAllAccessForUser method.
    parameters:
    - name: chat-id
      in: path
      description: The unique identifier of chat
      required: true
      schema:
        type: string
      x-ms-docs-key-type: chat
    post:
      tags:
      - chats.chat.Actions
      summary: Microsoft Graph Invoke action removeAllAccessForUser
      description: Remove access to a chat for a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-removeallaccessforuser?view=graph-rest-1.0
      operationId: chats.chat.removeAllAccessForUser
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkUserIdentity'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /chats/{chat-id}/sendActivityNotification:
    description: Provides operations to call the sendActivityNotification method.
    parameters:
    - name: chat-id
      in: path
      description: The unique identifier of chat
      required: true
      schema:
        type: string
      x-ms-docs-key-type: chat
    post:
      tags:
      - chats.chat.Actions
      summary: Microsoft Graph Invoke action sendActivityNotification
      description: Send an activity feed notification in scope of a chat. For more information about sending notifications and the requirements for doing so, see sending Teams activity notifications.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-sendactivitynotification?view=graph-rest-1.0
      operationId: chats.chat.sendActivityNotification
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopic'
                  - type: object
                    nullable: true
                activityType:
                  type: string
                  nullable: true
                chainId:
                  type: number
                  format: int64
                  nullable: true
                previewText:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.itemBody'
                  - type: object
                    nullable: true
                teamsAppId:
                  type: string
                  nullable: true
                templateParameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.keyValuePair'
                recipient:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkNotificationRecipient'
                  - type: object
                    nullable: true
                iconId:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /chats/{chat-id}/unhideForUser:
    description: Provides operations to call the unhideForUser method.
    parameters:
    - name: chat-id
      in: path
      description: The unique identifier of chat
      required: true
      schema:
        type: string
      x-ms-docs-key-type: chat
    post:
      tags:
      - chats.chat.Actions
      summary: Microsoft Graph Invoke action unhideForUser
      description: Unhide a chat for a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-unhideforuser?view=graph-rest-1.0
      operationId: chats.chat.unhideForUser
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkUserIdentity'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.teamworkActivityTopicSource:
      title: teamworkActivityTopicSource
      enum:
      - entityUrl
      - text
      type: string
    microsoft.graph.identity:
      title: identity
      required:
      - '@odata.type'
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the identity.For drive items, the display name might not always be available or up to date. For example, if a user changes their display name the API might show the new value in a future response, but the items associated with the user don't show up as changed when using delta.
          nullable: true
        id:
          type: string
          description: Unique identifier for the identity or actor. For example, in the access reviews decisions API, this property might record the id of the principal, that is, the group, user, or application that's subject to review.
          nullable: true
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.azureCommunicationServicesUserIdentity': '#/components/schemas/microsoft.graph.azureCommunicationServicesUserIdentity'
          '#microsoft.graph.communicationsApplicationIdentity': '#/components/schemas/microsoft.graph.communicationsApplicationIdentity'
          '#microsoft.graph.communicationsApplicationInstanceIdentity': '#/components/schemas/microsoft.graph.communicationsApplicationInstanceIdentity'
          '#microsoft.graph.communicationsEncryptedIdentity': '#/components/schemas/microsoft.graph.communicationsEncryptedIdentity'
          '#microsoft.graph.communicationsGuestIdentity': '#/components/schemas/microsoft.graph.communicationsGuestIdentity'
          '#microsoft.graph.communicationsPhoneIdentity': '#/components/schemas/microsoft.graph.communicationsPhoneIdentity'
          '#microsoft.graph.communicationsUserIdentity': '#/components/schemas/microsoft.graph.communicationsUserIdentity'
          '#microsoft.graph.emailIdentity': '#/components/schemas/microsoft.graph.emailIdentity'
          '#microsoft.graph.initiator': '#/components/schemas/microsoft.graph.initiator'
          '#microsoft.graph.provisionedIdentity': '#/components/schemas/microsoft.graph.provisionedIdentity'
          '#microsoft.graph.provisioningServicePrincipal': '#/components/schemas/microsoft.graph.provisioningServicePrincipal'
          '#microsoft.graph.provisioningSystem': '#/components/schemas/microsoft.graph.provisioningSystem'
          '#microsoft.graph.servicePrincipalIdentity': '#/components/schemas/microsoft.graph.servicePrincipalIdentity'
          '#microsoft.graph.sharePointIdentity': '#/components/schemas/microsoft.graph.sharePointIdentity'
          '#microsoft.graph.teamworkApplicationIdentity': '#/components/schemas/microsoft.graph.teamworkApplicationIdentity'
          '#microsoft.graph.teamworkConversationIdentity': '#/components/schemas/microsoft.graph.teamworkConversationIdentity'
          '#microsoft.graph.teamworkTagIdentity': '#/components/schemas/microsoft.graph.teamworkTagIdentity'
          '#microsoft.graph.teamworkUserIdentity': '#/components/schemas/microsoft.graph.teamworkUserIdentity'
          '#microsoft.graph.userIdentity': '#/components/schemas/microsoft.graph.userIdentity'
          '#microsoft.graph.callRecords.userIdentity': '#/components/schemas/microsoft.graph.callRecords.userIdentity'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.teamworkNotificationRecipient:
      title: teamworkNotificationRecipient
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.aadUserNotificationRecipient': '#/components/schemas/microsoft.graph.aadUserNotificationRecipient'
          '#microsoft.graph.channelMembersNotificationRecipient': '#/components/schemas/microsoft.graph.channelMembersNotificationRecipient'
          '#microsoft.graph.chatMembersNotificationRecipient': '#/components/schemas/microsoft.graph.chatMembersNotificationRecipient'
          '#microsoft.graph.teamMembersNotificationRecipient': '#/components/schemas/microsoft.graph.teamMembersNotificationRecipient'
    microsoft.graph.teamworkUserIdentity:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.identity'
      - title: teamworkUserIdentity
        required:
        - '@odata.type'
        type: object
        properties:
          userIdentityType:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.teamworkUserIdentityType'
            - type: object
              nullable: true
            description: 'Type of user. The possible values are: aadUser, onPremiseAadUser, anonymousGuest, federatedUser, personalMicrosoftAccountUser, skypeUser, phoneUser, unknownFutureValue and emailUser.'
          '@odata.type':
            type: string
            default: '#microsoft.graph.teamworkUserIdentity'
      x-ms-discriminator-value: '#microsoft.graph.teamworkUserIdentity'
    microsoft.graph.teamworkUserIdentityType:
      title: teamworkUserIdentityType
      enum:
      - aadUser
      - onPremiseAadUser
      - anonymousGuest
      - federatedUser
      - personalMicrosoftAccountUser
      - skypeUser
      - phoneUser
      - unknownFutureValue
      - emailUser
      type: string
    microsoft.graph.itemBody:
      title: itemBody
      required:
      - '@odata.type'
      type: object
      properties:
        content:
          type: string
          description: The content of the item.
          nullable: true
        contentType:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.bodyType'
          - type: object
            nullable: true
          description: The type of the content. Possible values are text and html.
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.teamworkActivityTopic:
      title: teamworkActivityTopic
      required:
      - '@odata.type'
      type: object
      properties:
        source:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopicSource'
          - type: object
            nullable: true
          description: 'Type of source. The possible values are: entityUrl, text. For supported Microsoft Graph URLs, use entityUrl. For custom text, use text.'
        value:
          type: string
          description: The topic value. If the value of the source property is entityUrl, this must be a Microsoft Graph URL. If the value is text, this must be a plain text value.
        webUrl:
          type: string
          description: The link the user clicks when they select the notification. Optional when source is entityUrl; required when source is text.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.keyValuePair:
      title: keyValuePair
      required:
      - '@odata.type'
      type: object
      properties:
        name:
          type: string
          description: Name for this key-value pair
        value:
          type: string
          description: Value for this key-value pair
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.bodyType:
      title: bodyType
      enum:
      - text
      - html
      type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
