openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Communications.call API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Communications.call
paths:
  /communications/calls:
    description: Provides operations to manage the calls property of the microsoft.graph.cloudCommunications entity.
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get call
      description: Retrieve the properties and relationships of a call object.
      operationId: communications.ListCalls
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Create call
      description: 'Create call enables your bot to create a new outgoing peer-to-peer or group call, or join an existing meeting. You need to register the calling bot and go through the list of permissions needed. This API supports the following PSTN scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-calls?view=graph-rest-1.0
      operationId: communications.CreateCalls
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}:
    description: Provides operations to manage the calls property of the microsoft.graph.cloudCommunications entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get call
      description: Retrieve the properties and relationships of a call object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-get?view=graph-rest-1.0
      operationId: communications.GetCalls
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Communications.call
      summary: Microsoft Graph Update the navigation property calls in communications
      operationId: communications.UpdateCalls
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Communications.call
      summary: Microsoft Graph Delete call
      description: Delete or hang up an active call. For group calls, this will only delete your call leg and the underlying group call will still continue.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-delete?view=graph-rest-1.0
      operationId: communications.DeleteCalls
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/audioRoutingGroups:
    description: Provides operations to manage the audioRoutingGroups property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph List audioRoutingGroups
      description: Retrieve a list of audioRoutingGroup objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-audioroutinggroups?view=graph-rest-1.0
      operationId: communications.calls.ListAudioRoutingGroups
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.audioRoutingGroupCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Create audioRoutingGroup
      description: Create a new audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-post-audioroutinggroups?view=graph-rest-1.0
      operationId: communications.calls.CreateAudioRoutingGroups
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}:
    description: Provides operations to manage the audioRoutingGroups property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: audioRoutingGroup-id
      in: path
      description: The unique identifier of audioRoutingGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: audioRoutingGroup
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get audioRoutingGroup
      description: Retrieve the properties and relationships of an audioRoutingGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-get?view=graph-rest-1.0
      operationId: communications.calls.GetAudioRoutingGroups
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Communications.call
      summary: Microsoft Graph Update audioRoutingGroup
      description: Modify sources and receivers of an audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-update?view=graph-rest-1.0
      operationId: communications.calls.UpdateAudioRoutingGroups
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Communications.call
      summary: Microsoft Graph Delete audioRoutingGroup
      description: Delete the specified audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-delete?view=graph-rest-1.0
      operationId: communications.calls.DeleteAudioRoutingGroups
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/audioRoutingGroups/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get the number of the resource
      operationId: communications.calls.audioRoutingGroups.GetCount-157e
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /communications/calls/{call-id}/contentSharingSessions:
    description: Provides operations to manage the contentSharingSessions property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph List contentSharingSessions
      description: Retrieve a list of contentSharingSession objects in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-contentsharingsessions?view=graph-rest-1.0
      operationId: communications.calls.ListContentSharingSessions
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentSharingSessionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Create new navigation property to contentSharingSessions for communications
      operationId: communications.calls.CreateContentSharingSessions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/contentSharingSessions/{contentSharingSession-id}:
    description: Provides operations to manage the contentSharingSessions property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: contentSharingSession-id
      in: path
      description: The unique identifier of contentSharingSession
      required: true
      schema:
        type: string
      x-ms-docs-key-type: contentSharingSession
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get contentSharingSession
      description: Retrieve the properties of a contentSharingSession object in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contentsharingsession-get?view=graph-rest-1.0
      operationId: communications.calls.GetContentSharingSessions
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Communications.call
      summary: Microsoft Graph Update the navigation property contentSharingSessions in communications
      operationId: communications.calls.UpdateContentSharingSessions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Communications.call
      summary: Microsoft Graph Delete navigation property contentSharingSessions for communications
      operationId: communications.calls.DeleteContentSharingSessions
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/contentSharingSessions/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get the number of the resource
      operationId: communications.calls.contentSharingSessions.GetCount-a2b2
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /communications/calls/{call-id}/addLargeGalleryView:
    description: Provides operations to call the addLargeGalleryView method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action addLargeGalleryView
      description: Add the large gallery view to a call.  For details about how to identify a large gallery view participant in a roster so that you can retrieve the relevant data to subscribe to the video feed, see Identify large gallery view participants in a roster.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-addlargegalleryview?view=graph-rest-1.0
      operationId: communications.calls.call.addLargeGalleryView
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/answer:
    description: Provides operations to call the answer method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action answer
      description: 'Enable a bot to answer an incoming call. The incoming call request can be an invitation from a participant in a group call or a peer-to-peer call. If an invitation to a group call is received, the notification contains the chatInfo and meetingInfo parameters. The bot is expected to answer, reject, or redirect the call before the call times out. The current timeout value is 15 seconds for regular scenarios and 5 seconds for policy-based recording scenarios. This API supports the following PSTN scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-answer?view=graph-rest-1.0
      operationId: communications.calls.call.answer
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.modality'
                    - type: object
                      nullable: true
                participantCapacity:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                callOptions:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.incomingCallOptions'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/cancelMediaProcessing:
    description: Provides operations to call the cancelMediaProcessing method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action cancelMediaProcessing
      description: Cancels processing for any in-progress media operations. Media operations refer to the IVR operations playPrompt and recordResponse, which are by default queued to process in order. The cancelMediaProcessing method cancels any operation that is in-process as well as operations that are queued. For example, this method can be used to clean up the IVR operation queue for a new media operation. However, it will not cancel a subscribeToTone operation because it operates independent of any operation queue.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-cancelmediaprocessing?view=graph-rest-1.0
      operationId: communications.calls.call.cancelMediaProcessing
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/changeScreenSharingRole:
    description: Provides operations to call the changeScreenSharingRole method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action changeScreenSharingRole
      description: Allow applications to share screen content with the participants of a group call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-changescreensharingrole?view=graph-rest-1.0
      operationId: communications.calls.call.changeScreenSharingRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/microsoft.graph.screenSharingRole'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/keepAlive:
    description: Provides operations to call the keepAlive method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action keepAlive
      description: Make a request to this API every 15 to 45 minutes to ensure that an ongoing call remains active. A call that does not receive this request within 45 minutes is considered inactive and will subsequently end. At least one successful request must be made within 45 minutes of the previous request, or the start of the call. We recommend that you send a request in shorter time intervals (every 15 minutes). Make sure that these requests are successful to prevent the call from timing out and ending. Attempting to send a request to a call that has already ended will result in a 404 Not-Found error. The resources related to the call should be cleaned up on the application side.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-keepalive?view=graph-rest-1.0
      operationId: communications.calls.call.keepAlive
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/mute:
    description: Provides operations to call the mute method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    x-ms-docs-grouped-path:
    - /communications/calls/{call-id}/participants/{participant-id}/mute
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action mute
      description: Allows the application to mute itself. This is a server mute, meaning that the server will drop all audio packets for this participant, even if the participant continues to stream audio. For more details about how to handle mute operations, see muteParticipantOperation
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-mute?view=graph-rest-1.0
      operationId: communications.calls.call.mute
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/playPrompt:
    description: Provides operations to call the playPrompt method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action playPrompt
      description: Play a prompt in the call. For more information about how to handle operations, see commsOperation
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-playprompt?view=graph-rest-1.0
      operationId: communications.calls.call.playPrompt
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.playPromptOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/recordResponse:
    description: Provides operations to call the recordResponse method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action recordResponse
      description: "Records a short audio response from the caller.\r\nA bot can utilize this to capture a voice response from a caller after they are prompted for a response. For further information on how to handle operations, please review commsOperation This action is not intended to record the entire call. The maximum length of recording is 2 minutes. The recording is not saved permanently by the Cloud Communications Platform and is discarded shortly after the call ends. The bot must download the recording promptly after the recording operation finishes by using the recordingLocation value that's given in the completed notification."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-record?view=graph-rest-1.0
      operationId: communications.calls.call.recordResponse
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                maxSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                maxRecordDurationInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                playBeep:
                  type: boolean
                  default: false
                  nullable: true
                stopTones:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.recordOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/redirect:
    description: Provides operations to call the redirect method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action redirect
      description: Redirect an incoming call that hasn't been answered or rejected yet. The terms 'redirecting' and 'forwarding' a call are used interchangeably. The bot is expected to redirect the call before the call times out. The current timeout value is 15 seconds.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-redirect?view=graph-rest-1.0
      operationId: communications.calls.call.redirect
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                targets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                timeout:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                callbackUri:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/reject:
    description: Provides operations to call the reject method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action reject
      description: Enable a bot to reject an incoming call. The incoming call request can be an invite from a participant in a group call or a peer-to-peer call. If an invite to a group call is received, the notification will contain the chatInfo and meetingInfo parameters. The bot is expected to answer or reject the call before the call times out. The current timeout value is 15 seconds. This API does not end existing calls that have already been answered. Use delete call to end a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-reject?view=graph-rest-1.0
      operationId: communications.calls.call.reject
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.rejectReason'
                  - type: object
                    nullable: true
                callbackUri:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/sendDtmfTones:
    description: Provides operations to call the sendDtmfTones method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action sendDtmfTones
      operationId: communications.calls.call.sendDtmfTones
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tones:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.tone'
                delayBetweenTonesMs:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.sendDtmfTonesOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/subscribeToTone:
    description: Provides operations to call the subscribeToTone method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action subscribeToTone
      description: Subscribe to DTMF (dual-tone multi-frequency signaling) which allows you to be notified when the user presses keys on a 'dialpad'.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-subscribetotone?view=graph-rest-1.0
      operationId: communications.calls.call.subscribeToTone
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.subscribeToToneOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/transfer:
    description: Provides operations to call the transfer method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action transfer
      description: Transfer an active peer-to-peer call or group call. A consultative transfer means that the transferor can inform the person they want to transfer the call to (the transferee), before the transfer is made. This is opposed to transfering the call directly.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-transfer?view=graph-rest-1.0
      operationId: communications.calls.call.transfer
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                transferTarget:
                  $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                transferee:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.participantInfo'
                  - type: object
                    nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/unmute:
    description: Provides operations to call the unmute method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action unmute
      description: Allow the application to unmute itself. This is a server unmute, meaning that the server will start sending audio packets for this participant to other participants again. For more information about how to handle unmute operations, see unmuteParticipantOperation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-unmute?view=graph-rest-1.0
      operationId: communications.calls.call.unmute
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/updateRecordingStatus:
    description: Provides operations to call the updateRecordingStatus method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action updateRecordingStatus
      description: Update the application's recording status associated with a call. This requires the use of the Teams policy-based recording solution.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-updaterecordingstatus?view=graph-rest-1.0
      operationId: communications.calls.call.updateRecordingStatus
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/microsoft.graph.recordingStatus'
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/operations:
    description: Provides operations to manage the operations property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get addLargeGalleryViewOperation
      description: Get the status of an operation that adds the large gallery view to a call.
      operationId: communications.calls.ListOperations
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.commsOperationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Create new navigation property to operations for communications
      operationId: communications.calls.CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/operations/{commsOperation-id}:
    description: Provides operations to manage the operations property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: commsOperation-id
      in: path
      description: The unique identifier of commsOperation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: commsOperation
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get addLargeGalleryViewOperation
      description: Get the status of an operation that adds the large gallery view to a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/addlargegalleryviewoperation-get?view=graph-rest-1.0
      operationId: communications.calls.GetOperations
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Communications.call
      summary: Microsoft Graph Update the navigation property operations in communications
      operationId: communications.calls.UpdateOperations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Communications.call
      summary: Microsoft Graph Delete navigation property operations for communications
      operationId: communications.calls.DeleteOperations
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/operations/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get the number of the resource
      operationId: communications.calls.operations.GetCount-3444
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /communications/calls/{call-id}/participants:
    description: Provides operations to manage the participants property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph List participants
      description: Retrieve a list of participant objects in the call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-participants?view=graph-rest-1.0
      operationId: communications.calls.ListParticipants
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.participantCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Create new navigation property to participants for communications
      operationId: communications.calls.CreateParticipants
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/participants/{participant-id}:
    description: Provides operations to manage the participants property of the microsoft.graph.call entity.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: participant-id
      in: path
      description: The unique identifier of participant
      required: true
      schema:
        type: string
      x-ms-docs-key-type: participant
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get participant
      description: Retrieve the properties and relationships of a participant object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-get?view=graph-rest-1.0
      operationId: communications.calls.GetParticipants
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Communications.call
      summary: Microsoft Graph Update the navigation property participants in communications
      operationId: communications.calls.UpdateParticipants
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Communications.call
      summary: Microsoft Graph Delete participant
      description: 'Delete a specific participant in a call. In some situations, it is appropriate for an application to remove a participant from an active call. This action can be done before or after the participant answers the call. When an active caller is removed, they are immediately dropped from the call with no pre- or post-removal notification. When an invited participant is removed, any outstanding add participant request is canceled. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-delete?view=graph-rest-1.0
      operationId: communications.calls.DeleteParticipants
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls/{call-id}/participants/{participant-id}/mute:
    description: Provides operations to call the mute method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: participant-id
      in: path
      description: The unique identifier of participant
      required: true
      schema:
        type: string
      x-ms-docs-key-type: participant
    x-ms-docs-grouped-path:
    - /communications/calls/{call-id}/mute
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action mute
      description: Mute a specific participant in the call. This is a server mute, meaning that the server will drop all audio packets for this participant, even if the participant continues to stream audio. For more information about how to handle mute operations, see muteParticipantOperation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-mute?view=graph-rest-1.0
      operationId: communications.calls.call.participants.participant.mute
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/participants/{participant-id}/startHoldMusic:
    description: Provides operations to call the startHoldMusic method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: participant-id
      in: path
      description: The unique identifier of participant
      required: true
      schema:
        type: string
      x-ms-docs-key-type: participant
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action startHoldMusic
      description: Put a participant on hold and play music in the background.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-startholdmusic?view=graph-rest-1.0
      operationId: communications.calls.call.participants.participant.startHoldMusic
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                customPrompt:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.prompt'
                  - type: object
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.startHoldMusicOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/participants/{participant-id}/stopHoldMusic:
    description: Provides operations to call the stopHoldMusic method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    - name: participant-id
      in: path
      description: The unique identifier of participant
      required: true
      schema:
        type: string
      x-ms-docs-key-type: participant
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action stopHoldMusic
      description: Reincorporate a participant previously put on hold to the call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-stopholdmusic?view=graph-rest-1.0
      operationId: communications.calls.call.participants.participant.stopHoldMusic
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/{call-id}/participants/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get the number of the resource
      operationId: communications.calls.participants.GetCount-4efe
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /communications/calls/{call-id}/participants/invite:
    description: Provides operations to call the invite method.
    parameters:
    - name: call-id
      in: path
      description: The unique identifier of call
      required: true
      schema:
        type: string
      x-ms-docs-key-type: call
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action invite
      description: 'Delete a specific participant in a call. In some situations, it is appropriate for an application to remove a participant from an active call. This action can be done before or after the participant answers the call. When an active caller is removed, they are immediately dropped from the call with no pre- or post-removal notification. When an invited participant is removed, any outstanding add participant request is canceled. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-delete?view=graph-rest-1.0
      operationId: communications.calls.call.participants.invite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
                - type: object
                  nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - Communications.call
      summary: Microsoft Graph Get the number of the resource
      operationId: communications.calls.GetCount-5d04
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /communications/calls/logTeleconferenceDeviceQuality:
    description: Provides operations to call the logTeleconferenceDeviceQuality method.
    post:
      tags:
      - Communications.call
      summary: Microsoft Graph Invoke action logTeleconferenceDeviceQuality
      description: Log video teleconferencing device quality data. The Cloud Video Interop (CVI) bot represents video teleconferencing (VTC) devices and acts as a back-to-back agent for a VTC device in a conference call. Because a CVI bot is in the middle of the VTC and Microsoft Teams infrastructure as a VTC proxy, it has two media legs. One media leg is between the CVI bot and Teams infrastructure, such as Teams conference server or a Teams client. The other media leg is between the CVI bot and the VTC device.  The third-party partners own the VTC media leg and the Teams infrastructure cannot access the quality data of the third-party call leg.  This method is only for the CVI partners to provide their media quality data.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-logteleconferencedevicequality?view=graph-rest-1.0
      operationId: communications.calls.logTeleconferenceDeviceQuality
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quality:
                  $ref: '#/components/schemas/microsoft.graph.teleconferenceDeviceQuality'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.updateRecordingStatusOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: updateRecordingStatusOperation
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.updateRecordingStatusOperation'
    ReferenceNumeric:
      enum:
      - -INF
      - INF
      - NaN
      type: string
      nullable: true
    microsoft.graph.callCollectionResponse:
      title: Collection of call
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
      - type: object
        properties:
          value:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.call'
    microsoft.graph.mediaConfig:
      title: mediaConfig
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.appHostedMediaConfig': '#/components/schemas/microsoft.graph.appHostedMediaConfig'
          '#microsoft.graph.serviceHostedMediaConfig': '#/components/schemas/microsoft.graph.serviceHostedMediaConfig'
    microsoft.graph.resultInfo:
      title: resultInfo
      required:
      - '@odata.type'
      type: object
      properties:
        code:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The result code.
          format: int32
        message:
          type: string
          description: The message.
          nullable: true
        subcode:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The result subcode.
          format: int32
        '@odata.type':
          type: string
    microsoft.graph.callMediaState:
      title: callMediaState
      required:
      - '@odata.type'
      type: object
      properties:
        audio:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.mediaState'
          - type: object
            nullable: true
          description: 'The audio media state. The possible values are: active, inactive, unknownFutureValue.'
        '@odata.type':
          type: string
    microsoft.graph.identity:
      title: identity
      required:
      - '@odata.type'
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the identity.For drive items, the display name might not always be available or up to date. For example, if a user changes their display name the API might show the new value in a future response, but the items associated with the user don't show up as changed when using delta.
          nullable: true
        id:
          type: string
          description: Unique identifier for the identity or actor. For example, in the access reviews decisions API, this property might record the id of the principal, that is, the group, user, or application that's subject to review.
          nullable: true
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.azureCommunicationServicesUserIdentity': '#/components/schemas/microsoft.graph.azureCommunicationServicesUserIdentity'
          '#microsoft.graph.communicationsApplicationIdentity': '#/components/schemas/microsoft.graph.communicationsApplicationIdentity'
          '#microsoft.graph.communicationsApplicationInstanceIdentity': '#/components/schemas/microsoft.graph.communicationsApplicationInstanceIdentity'
          '#microsoft.graph.communicationsEncryptedIdentity': '#/components/schemas/microsoft.graph.communicationsEncryptedIdentity'
          '#microsoft.graph.communicationsGuestIdentity': '#/components/schemas/microsoft.graph.communicationsGuestIdentity'
          '#microsoft.graph.communicationsPhoneIdentity': '#/components/schemas/microsoft.graph.communicationsPhoneIdentity'
          '#microsoft.graph.communicationsUserIdentity': '#/components/schemas/microsoft.graph.communicationsUserIdentity'
          '#microsoft.graph.emailIdentity': '#/components/schemas/microsoft.graph.emailIdentity'
          '#microsoft.graph.initiator': '#/components/schemas/microsoft.graph.initiator'
          '#microsoft.graph.provisionedIdentity': '#/components/schemas/microsoft.graph.provisionedIdentity'
          '#microsoft.graph.provisioningServicePrincipal': '#/components/schemas/microsoft.graph.provisioningServicePrincipal'
          '#microsoft.graph.provisioningSystem': '#/components/schemas/microsoft.graph.provisioningSystem'
          '#microsoft.graph.servicePrincipalIdentity': '#/components/schemas/microsoft.graph.servicePrincipalIdentity'
          '#microsoft.graph.sharePointIdentity': '#/components/schemas/microsoft.graph.sharePointIdentity'
          '#microsoft.graph.teamworkApplicationIdentity': '#/components/schemas/microsoft.graph.teamworkApplicationIdentity'
          '#microsoft.graph.teamworkConversationIdentity': '#/components/schemas/microsoft.graph.teamworkConversationIdentity'
          '#microsoft.graph.teamworkTagIdentity': '#/components/schemas/microsoft.graph.teamworkTagIdentity'
          '#microsoft.graph.teamworkUserIdentity': '#/components/schemas/microsoft.graph.teamworkUserIdentity'
          '#microsoft.graph.userIdentity': '#/components/schemas/microsoft.graph.userIdentity'
          '#microsoft.graph.callRecords.userIdentity': '#/components/schemas/microsoft.graph.callRecords.userIdentity'
    microsoft.graph.callTranscriptionState:
      title: callTranscriptionState
      enum:
      - notStarted
      - active
      - inactive
      - unknownFutureValue
      type: string
    microsoft.graph.callOptions:
      title: callOptions
      required:
      - '@odata.type'
      type: object
      properties:
        hideBotAfterEscalation:
          type: boolean
          description: Indicates whether to hide the app after the call is escalated.
          nullable: true
        isContentSharingNotificationEnabled:
          type: boolean
          description: Indicates whether content sharing notifications should be enabled for the call.
          nullable: true
        isDeltaRosterEnabled:
          type: boolean
          description: Indicates whether delta roster is enabled for the call.
          nullable: true
        isInteractiveRosterEnabled:
          type: boolean
          description: Indicates whether delta roster filtering by participant interactivity is enabled.
          nullable: true
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.incomingCallOptions': '#/components/schemas/microsoft.graph.incomingCallOptions'
          '#microsoft.graph.outgoingCallOptions': '#/components/schemas/microsoft.graph.outgoingCallOptions'
    microsoft.graph.routingType:
      title: routingType
      enum:
      - forwarded
      - lookup
      - selfFork
      - unknownFutureValue
      type: string
    microsoft.graph.callState:
      title: callState
      enum:
      - incoming
      - establishing
      - established
      - hold
      - transferring
      - transferAccepted
      - redirecting
      - terminating
      - terminated
      - unknownFutureValue
      type: string
    microsoft.graph.endpointType:
      title: endpointType
      enum:
      - default
      - voicemail
      - skypeForBusiness
      - skypeForBusinessVoipPhone
      - unknownFutureValue
      type: string
    microsoft.graph.muteParticipantOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: muteParticipantOperation
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.muteParticipantOperation'
    microsoft.graph.sendDtmfCompletionReason:
      title: sendDtmfCompletionReason
      enum:
      - unknown
      - completedSuccessfully
      - mediaOperationCanceled
      - unknownFutureValue
      type: string
    microsoft.graph.subscribeToToneOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: subscribeToToneOperation
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.subscribeToToneOperation'
    microsoft.graph.recordOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: recordOperation
        required:
        - '@odata.type'
        type: object
        properties:
          recordingAccessToken:
            type: string
            description: The access token required to retrieve the recording.
            nullable: true
          recordingLocation:
            type: string
            description: The location where the recording is located.
            nullable: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.recordOperation'
    microsoft.graph.chatInfo:
      title: chatInfo
      required:
      - '@odata.type'
      type: object
      properties:
        messageId:
          type: string
          description: The unique identifier of a message in a Microsoft Teams channel.
          nullable: true
        replyChainMessageId:
          type: string
          description: The ID of the reply message.
          nullable: true
        threadId:
          type: string
          description: The unique identifier for a thread in Microsoft Teams.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.routingMode:
      title: routingMode
      enum:
      - oneToOne
      - multicast
      - unknownFutureValue
      type: string
    microsoft.graph.recordingInfo:
      title: recordingInfo
      required:
      - '@odata.type'
      type: object
      properties:
        initiator:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.identitySet'
          - type: object
            nullable: true
          description: The identities of the recording initiator.
        recordingStatus:
          $ref: '#/components/schemas/microsoft.graph.recordingStatus'
        '@odata.type':
          type: string
    microsoft.graph.callRoute:
      title: callRoute
      required:
      - '@odata.type'
      type: object
      properties:
        final:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        original:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        routingType:
          $ref: '#/components/schemas/microsoft.graph.routingType'
        '@odata.type':
          type: string
    microsoft.graph.prompt:
      title: prompt
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.mediaPrompt': '#/components/schemas/microsoft.graph.mediaPrompt'
    microsoft.graph.onlineMeetingVideoDisabledReason:
      title: onlineMeetingVideoDisabledReason
      enum:
      - watermarkProtection
      - unknownFutureValue
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.identitySet:
      title: identitySet
      required:
      - '@odata.type'
      type: object
      properties:
        application:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.identity'
          - type: object
            nullable: true
          description: Optional. The application associated with this action.
        device:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.identity'
          - type: object
            nullable: true
          description: Optional. The device associated with this action.
        user:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.identity'
          - type: object
            nullable: true
          description: Optional. The user associated with this action.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.aiInteractionMentionedIdentitySet': '#/components/schemas/microsoft.graph.aiInteractionMentionedIdentitySet'
          '#microsoft.graph.chatMessageFromIdentitySet': '#/components/schemas/microsoft.graph.chatMessageFromIdentitySet'
          '#microsoft.graph.chatMessageMentionedIdentitySet': '#/components/schemas/microsoft.graph.chatMessageMentionedIdentitySet'
          '#microsoft.graph.chatMessageReactionIdentitySet': '#/components/schemas/microsoft.graph.chatMessageReactionIdentitySet'
          '#microsoft.graph.communicationsIdentitySet': '#/components/schemas/microsoft.graph.communicationsIdentitySet'
          '#microsoft.graph.engagementIdentitySet': '#/components/schemas/microsoft.graph.engagementIdentitySet'
          '#microsoft.graph.sharePointIdentitySet': '#/components/schemas/microsoft.graph.sharePointIdentitySet'
    microsoft.graph.mediaDirection:
      title: mediaDirection
      enum:
      - inactive
      - sendOnly
      - receiveOnly
      - sendReceive
      type: string
    microsoft.graph.participant:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: participant
        required:
        - '@odata.type'
        type: object
        properties:
          info:
            $ref: '#/components/schemas/microsoft.graph.participantInfo'
          isInLobby:
            type: boolean
            description: true if the participant is in lobby.
          isMuted:
            type: boolean
            description: true if the participant is muted (client or server muted).
          mediaStreams:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.mediaStream'
            description: The list of media streams.
          metadata:
            type: string
            description: A blob of data provided by the participant in the roster.
            nullable: true
          recordingInfo:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.recordingInfo'
            - type: object
              nullable: true
            description: Information about whether the participant has recording capability.
          removedState:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.removedState'
            - type: object
              nullable: true
            description: Indicates the reason why the participant was removed from the roster.
          restrictedExperience:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.onlineMeetingRestricted'
            - type: object
              nullable: true
            description: Indicates the reason or reasons media content from this participant is restricted.
          rosterSequenceNumber:
            type: number
            description: Indicates the roster sequence number in which the participant was last updated.
            format: int64
            nullable: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.participant'
    microsoft.graph.rejectReason:
      title: rejectReason
      enum:
      - none
      - busy
      - forbidden
      - unknownFutureValue
      type: string
    microsoft.graph.participantCollectionResponse:
      title: Collection of participant
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
      - type: object
        properties:
          value:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.participant'
    microsoft.graph.call:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: call
        required:
        - '@odata.type'
        type: object
        properties:
          callbackUri:
            type: string
            description: The callback URL on which callbacks are delivered. Must be an HTTPS URL.
          callChainId:
            type: string
            description: A unique identifier for all the participant calls in a conference or a unique identifier for two participant calls in a P2P call.  This identifier must be copied over from Microsoft.Graph.Call.CallChainId.
            nullable: true
          callOptions:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.callOptions'
            - type: object
              nullable: true
            description: Contains the optional features for the call.
          callRoutes:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.callRoute'
            description: The routing information on how the call was retargeted. Read-only.
          chatInfo:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.chatInfo'
            - type: object
              nullable: true
            description: The chat information. Required information for joining a meeting.
          direction:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.callDirection'
            - type: object
              nullable: true
            description: The direction of the call. The possible values are incoming or outgoing. Read-only.
          incomingContext:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.incomingContext'
            - type: object
              nullable: true
            description: Call context associated with an incoming call.
          mediaConfig:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.mediaConfig'
            - type: object
              nullable: true
            description: The media configuration. Required.
          mediaState:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.callMediaState'
            - type: object
              nullable: true
            description: Read-only. The call media state.
          meetingInfo:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.meetingInfo'
            - type: object
              nullable: true
            description: The meeting information. Required information for meeting scenarios.
          myParticipantId:
            type: string
            nullable: true
          requestedModalities:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/microsoft.graph.modality'
              - type: object
                nullable: true
            description: 'The list of requested modalities. The possible values are: unknown, audio, video, videoBasedScreenSharing, data.'
          resultInfo:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.resultInfo'
            - type: object
              nullable: true
            description: The result information. For example, the result can hold termination reason. Read-only.
          source:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.participantInfo'
            - type: object
              nullable: true
            description: The originator of the call.
          state:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.callState'
            - type: object
              nullable: true
            description: 'The call state. The possible values are: incoming, establishing, ringing, established, hold, transferring, transferAccepted, redirecting, terminating, terminated. Read-only.'
          subject:
            type: string
            description: The subject of the conversation.
            nullable: true
          targets:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
            description: The targets of the call. Required information for creating peer to peer call.
          tenantId:
            type: string
            nullable: true
          toneInfo:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.toneInfo'
            - type: object
              nullable: true
          transcription:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.callTranscriptionInfo'
            - type: object
              nullable: true
            description: The transcription information for the call. Read-only.
          audioRoutingGroups:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
            x-ms-navigationProperty: true
          contentSharingSessions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
            x-ms-navigationProperty: true
          operations:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
            x-ms-navigationProperty: true
          participants:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.participant'
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.call'
    microsoft.graph.stopHoldMusicOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: stopHoldMusicOperation
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.stopHoldMusicOperation'
    microsoft.graph.incomingContext:
      title: incomingContext
      required:
      - '@odata.type'
      type: object
      properties:
        observedParticipantId:
          type: string
          description: The ID of the participant that is under observation. Read-only.
          nullable: true
        onBehalfOf:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.identitySet'
          - type: object
            nullable: true
          description: The identity that the call is happening on behalf of.
        sourceParticipantId:
          type: string
          description: The ID of the participant that triggered the incoming call. Read-only.
          nullable: true
        transferor:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.identitySet'
          - type: object
            nullable: true
          description: The identity that transferred the call.
        '@odata.type':
          type: string
    microsoft.graph.commsOperationCollectionResponse:
      title: Collection of commsOperation
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
      - type: object
        properties:
          value:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.recordingStatus:
      title: recordingStatus
      enum:
      - unknown
      - notRecording
      - recording
      - failed
      - unknownFutureValue
      type: string
    microsoft.graph.addLargeGalleryViewOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: addLargeGalleryViewOperation
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.addLargeGalleryViewOperation'
    microsoft.graph.cancelMediaProcessingOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.commsOperation'
      - title: cancelMediaProcessingOperation
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.cancelMediaProcessingOperation'
    microsoft.graph.entity:
      title: entity
      required:
      - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.accessPackage': '#/components/schemas/microsoft.graph.accessPackage'
          '#microsoft.graph.accessPackageAssignment': '#/components/schemas/microsoft.graph.accessPackageAssignment'
          '#microsoft.graph.accessPackageAssignmentPolicy': '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
          '#microsoft.graph.accessPackageAssignmentRequest': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequest'
          '#microsoft.graph.accessPackageCatalog': '#/components/schemas/microsoft.graph.accessPackageCatalog'
          '#microsoft.graph.accessPackageQuestion': '#/components/schemas/microsoft.graph.accessPackageQuestion'
          '#microsoft.graph.accessPackageMultipleChoiceQuestion': '#/components/schemas/microsoft.graph.accessPackageMultipleChoiceQuestion'
          '#microsoft.graph.accessPackageTextInputQuestion': '#/components/schemas/microsoft.graph.accessPackageTextInputQuestion'
          '#microsoft.graph.accessPackageResource': '#/components/schemas/microsoft.graph.accessPackageResource'
          '#microsoft.graph.accessPackageResourceEnvironment': '#/components/schemas/microsoft.graph.accessPackageResourceEnvironment'
          '#microsoft.graph.accessPackageResourceRequest': '#/components/schemas/microsoft.graph.accessPackageResourceRequest'
          '#microsoft.graph.accessPackageResourceRole': '#/components/schemas/microsoft.graph.accessPackageResourceRole'
          '#microsoft.graph.accessPackageResourceRoleScope': '#/components/schemas/microsoft.graph.accessPackageResourceRoleScope'
          '#microsoft.graph.accessPackageResourceScope': '#/components/schemas/microsoft.graph.accessPackageResourceScope'
          '#microsoft.graph.accessPackageSubject': '#/components/schemas/microsoft.graph.accessPackageSubject'
          '#microsoft.graph.accessReviewHistoryDefinition': '#/components/schemas/microsoft.graph.accessReviewHistoryDefinition'
          '#microsoft.graph.accessReviewHistoryInstance': '#/components/schemas/microsoft.graph.accessReviewHistoryInstance'
[...]
