openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Browser Site Lists API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Browser Site Lists
  description: Operations for managing browser site lists
paths:
  /admin/edge/internetExplorerMode/siteLists:
    description: Provides operations to manage site lists for Internet Explorer mode.
    get:
      tags:
      - Browser Site Lists
      summary: Microsoft Graph List browser site lists
      description: Get a list of the browserSiteList objects and their properties.
      operationId: listBrowserSiteLists
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      responses:
        2XX:
          $ref: '#/components/responses/BrowserSiteListCollectionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    post:
      tags:
      - Browser Site Lists
      summary: Microsoft Graph Create browser site list
      description: Create a new browserSiteList object.
      operationId: createBrowserSiteList
      requestBody:
        description: New browser site list
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserSiteList'
            examples:
              CreateBrowserSiteListRequest:
                $ref: '#/components/examples/CreateBrowserSiteListRequest'
        required: true
      responses:
        2XX:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSiteList'
              examples:
                CreateBrowserSiteListResponse:
                  $ref: '#/components/examples/CreateBrowserSiteListResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}:
    description: Provides operations to manage a specific browser site list.
    parameters:
    - $ref: '#/components/parameters/BrowserSiteListId'
    get:
      tags:
      - Browser Site Lists
      summary: Microsoft Graph Get browser site list
      description: Get a browserSiteList that contains browserSite and browserSharedCookie resources.
      operationId: getBrowserSiteList
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSiteList'
              examples:
                GetBrowserSiteListResponse:
                  $ref: '#/components/examples/GetBrowserSiteListResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Browser Site Lists
      summary: Microsoft Graph Update browser site list
      description: Update the properties of a browserSiteList object.
      operationId: updateBrowserSiteList
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserSiteList'
            examples:
              UpdateBrowserSiteListRequest:
                $ref: '#/components/examples/UpdateBrowserSiteListRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSiteList'
              examples:
                UpdateBrowserSiteListResponse:
                  $ref: '#/components/examples/UpdateBrowserSiteListResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Browser Site Lists
      summary: Microsoft Graph Delete browser site list
      description: Delete a browserSiteList object.
      operationId: deleteBrowserSiteList
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  schemas:
    BrowserSiteListCollectionResponse:
      title: BrowserSiteListCollectionResponse
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BrowserSiteList'
        '@odata.nextLink':
          type: string
          nullable: true
        '@odata.count':
          type: integer
          format: int32
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    BrowserSiteList:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: BrowserSiteList
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
          lastModifiedDateTime:
            type: string
            format: date-time
          revision:
            type: string
          status:
            $ref: '#/components/schemas/BrowserSiteListStatus'
          '@odata.type':
            type: string
    BrowserSiteListStatus:
      title: BrowserSiteListStatus
      type: string
      enum:
      - draft
      - published
      - pending
      - unknownFutureValue
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    BrowserSiteListCollectionResponse:
      description: Retrieved collection of browser site lists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BrowserSiteListCollectionResponse'
          examples:
            BrowserSiteListCollectionExample:
              $ref: '#/components/examples/BrowserSiteListCollectionExample'
  examples:
    UpdateBrowserSiteListRequest:
      summary: Example request for updating a browser site list
      value:
        displayName: Updated Enterprise Mode Site List
        '@odata.type': '#microsoft.graph.browserSiteList'
    UpdateBrowserSiteListResponse:
      summary: Example response for updated browser site list
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Updated Enterprise Mode Site List
        status: draft
        revision: '2'
        '@odata.type': '#microsoft.graph.browserSiteList'
    CreateBrowserSiteListRequest:
      summary: Example request for creating a browser site list
      value:
        displayName: Enterprise Mode Site List
        description: Site list for legacy web applications
        '@odata.type': '#microsoft.graph.browserSiteList'
    GetBrowserSiteListResponse:
      summary: Example response for getting a browser site list
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Enterprise Mode Site List
        description: Site list for legacy web applications
        status: draft
        revision: '1'
        '@odata.type': '#microsoft.graph.browserSiteList'
    CreateBrowserSiteListResponse:
      summary: Example response for created browser site list
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Enterprise Mode Site List
        description: Site list for legacy web applications
        status: draft
        revision: '1'
        '@odata.type': '#microsoft.graph.browserSiteList'
    BrowserSiteListCollectionExample:
      summary: Example collection of browser site lists
      value:
        value:
        - id: 00000000-0000-0000-0000-000000000001
          displayName: Enterprise Mode Site List
          status: draft
          '@odata.type': '#microsoft.graph.browserSiteList'
        '@odata.count': 1
  parameters:
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    BrowserSiteListId:
      name: browserSiteList-id
      in: path
      description: The unique identifier of the browser site list
      required: true
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    Count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
