openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Applications API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Applications
  description: Operations for managing application registrations
paths:
  /applications:
    description: Provides operations to manage the collection of application entities.
    get:
      tags:
      - Applications
      summary: Microsoft Graph List applications
      description: Get the list of applications in this organization.
      operationId: listApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-list?view=graph-rest-1.0
      parameters:
      - name: ConsistencyLevel
        in: header
        description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
        schema:
          type: string
        examples:
          example-1:
            description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
            value: eventual
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/ApplicationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications
      summary: Microsoft Graph Create application
      description: Create a new application object.
      operationId: createApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-applications?view=graph-rest-1.0
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
            examples:
              ApplicationRequestExample:
                $ref: '#/components/examples/ApplicationRequestExample'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
              examples:
                ApplicationExample:
                  $ref: '#/components/examples/ApplicationExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
  /applications/{application-id}:
    description: Provides operations to manage the collection of application entities.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    get:
      tags:
      - Applications
      summary: Microsoft Graph Get application
      description: Get the properties and relationships of an application object.
      operationId: getApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-get?view=graph-rest-1.0
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
              examples:
                ApplicationExample:
                  $ref: '#/components/examples/ApplicationExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications
      summary: Microsoft Graph Upsert application
      description: Create a new application object if it doesn't exist, or update the properties of an existing application object.
      operationId: updateApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-upsert?view=graph-rest-1.0
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
            examples:
              ApplicationRequestExample:
                $ref: '#/components/examples/ApplicationRequestExample'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
              examples:
                ApplicationExample:
                  $ref: '#/components/examples/ApplicationExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications
      summary: Microsoft Graph Delete application
      description: Delete an application object. When deleted, apps are moved to a temporary container and can be restored within 30 days. After that time, they are permanently deleted.
      operationId: deleteApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-delete?view=graph-rest-1.0
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: '204'
      x-ms-docs-operation-type: operation
  /applications/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - Applications
      summary: Microsoft Graph Get the number of the resource
      description: Performs GET operation on /applications/$count
      operationId: countApplications
      parameters:
      - name: ConsistencyLevel
        in: header
        description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
        schema:
          type: string
        examples:
          example-1:
            description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
            value: eventual
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
components:
  responses:
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
          examples:
            ODataCountResponseExample:
              $ref: '#/components/examples/ODataCountResponseExample'
    ApplicationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApplicationCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
          examples:
            ODataErrorExample:
              $ref: '#/components/examples/ODataErrorExample'
  schemas:
    Synchronization:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: synchronization
        required:
        - '@odata.type'
        type: object
        properties:
          secrets:
            type: array
            items:
              $ref: '#/components/schemas/SynchronizationSecretKeyStringValuePair'
            description: Represents a collection of credentials to access provisioned cloud applications.
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/SynchronizationJob'
            description: Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.
            x-ms-navigationProperty: true
          templates:
            type: array
            items:
              $ref: '#/components/schemas/SynchronizationTemplate'
            description: Preconfigured synchronization settings for a particular application.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronization'
    KeyCredential:
      title: keyCredential
      required:
      - '@odata.type'
      type: object
      properties:
        customKeyIdentifier:
          type: string
          description: A 40-character binary type that can be used to identify the credential. Optional. When not provided in the payload, defaults to the thumbprint of the certificate.
          format: base64url
          nullable: true
        displayName:
          type: string
          description: The friendly name for the key, with a maximum length of 90 characters. Longer values are accepted but shortened. Optional.
          nullable: true
        endDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The date and time at which the credential expires. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
          nullable: true
        key:
          type: string
          description: The certificate's raw data in byte array converted to Base64 string. Returned only on $select for a single object, that is, GET applications/{applicationId}?$select=keyCredentials or GET servicePrincipals/{servicePrincipalId}?$select=keyCredentials; otherwise, it's always null.  From a .cer certificate, you can read the key using the Convert.ToBase64String() method. For more information, see Get the certificate key.
          format: base64url
          nullable: true
        keyId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
          description: The unique identifier (GUID) for the key.
          format: uuid
          nullable: true
        startDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The date and time at which the credential becomes valid.The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
          nullable: true
        type:
          type: string
          description: The type of key credential; for example, Symmetric, AsymmetricX509Cert.
          nullable: true
        usage:
          type: string
          description: A string that describes the purpose for which the key can be used; for example, Verify.
          nullable: true
        '@odata.type':
          type: string
    ErrorDetail:
      title: ErrorDetail
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    MainError:
      title: MainError
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        target:
          type: string
          description: Target of the error
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innerError:
          $ref: '#/components/schemas/InnerError'
    InnerError:
      title: InnerError
      type: object
      properties:
        request-id:
          type: string
        date:
          type: string
          format: date-time
        client-request-id:
          type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the entity.
    DirectoryDefinition:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: directoryDefinition
        required:
        - '@odata.type'
        type: object
        properties:
          discoverabilities:
            $ref: '#/components/schemas/DirectoryDefinitionDiscoverabilities'
          discoveryDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Represents the discovery date and time using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            nullable: true
          name:
            type: string
            description: Name of the directory. Must be unique within the synchronization schema. Not nullable.
            nullable: true
          objects:
            type: array
            items:
              $ref: '#/components/schemas/ObjectDefinition'
            description: Collection of objects supported by the directory.
          readOnly:
            type: boolean
            description: Whether this object is read-only.
          version:
            type: string
            description: Read only value that indicates version discovered. null if discovery hasn't yet occurred.
            nullable: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.directoryDefinition'
    HomeRealmDiscoveryPolicy:
      allOf:
      - $ref: '#/components/schemas/StsPolicy'
      - title: homeRealmDiscoveryPolicy
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
            default: '#microsoft.graph.homeRealmDiscoveryPolicy'
      x-ms-discriminator-value: '#microsoft.graph.homeRealmDiscoveryPolicy'
    FederatedIdentityCredential:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: federatedIdentityCredential
        required:
        - '@odata.type'
        type: object
        properties:
          audiences:
            type: array
            items:
              type: string
            description: The audience that can appear in the external token. This field is mandatory and should be set to api://AzureADTokenExchange for Microsoft Entra ID. It says what Microsoft identity platform should accept in the aud claim in the incoming token. This value represents Microsoft Entra ID in your external identity provider and has no fixed value across identity providers - you might need to create a new application registration in your identity provider to serve as the audience of this token. This field can only accept a single value and has a limit of 600 characters. Required.
          description:
            type: string
            description: The unvalidated description of the federated identity credential, provided by the user. It has a limit of 600 characters. Optional.
            nullable: true
          issuer:
            type: string
            description: The URL of the external identity provider, which must match the issuer claim of the external token being exchanged. The combination of the values of issuer and subject must be unique within the app. It has a limit of 600 characters. Required.
          name:
            type: string
            description: The unique identifier for the federated identity credential, which has a limit of 120 characters and must be URL friendly. The string is immutable after it's created. Alternate key. Required. Not nullable. Supports $filter (eq).
          subject:
            type: string
            description: Required. The identifier of the external software workload within the external identity provider. Like the audience value, it has no fixed format; each identity provider uses their own - sometimes a GUID, sometimes a colon delimited identifier, sometimes arbitrary strings. The value here must match the sub claim within the token presented to Microsoft Entra ID. The combination of issuer and subject must be unique within the app. It has a limit of 600 characters. Supports $filter (eq).
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.federatedIdentityCredential'
    PasswordCredential:
      title: passwordCredential
      required:
      - '@odata.type'
      type: object
      properties:
        customKeyIdentifier:
          type: string
          description: Do not use.
          format: base64url
          nullable: true
        displayName:
          type: string
          description: Friendly name for the password. Optional.
          nullable: true
        endDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The date and time at which the password expires represented using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Optional.
          format: date-time
          nullable: true
        hint:
          type: string
          description: Contains the first three characters of the password. Read-only.
          nullable: true
        keyId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
          description: The unique identifier for the password.
          format: uuid
          nullable: true
        secretText:
          type: string
          description: Read-only; Contains the strong passwords generated by Microsoft Entra ID that are 16-64 characters in length. The generated password value is only returned during the initial POST request to addPassword. There is no way to retrieve this password in the future.
          nullable: true
        startDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The date and time at which the password becomes valid. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Optional.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    SynchronizationTemplate:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: synchronizationTemplate
        required:
        - '@odata.type'
        type: object
        properties:
          applicationId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            description: Identifier of the application this template belongs to.
            format: uuid
          default:
            type: boolean
            description: true if this template is recommended to be the default for the application.
          description:
            type: string
            description: Description of the template.
            nullable: true
          discoverable:
            type: boolean
            description: true if this template should appear in the collection of templates available for the application instance (service principal).
          factoryTag:
            type: string
            description: One of the well-known factory tags supported by the synchronization engine. The factoryTag tells the synchronization engine which implementation to use when processing jobs based on this template.
            nullable: true
          metadata:
            type: array
            items:
              $ref: '#/components/schemas/SynchronizationMetadataEntry'
            description: Additional extension properties. Unless mentioned explicitly, metadata values should not be changed.
          schema:
            anyOf:
            - $ref: '#/components/schemas/SynchronizationSchema'
            - type: object
              nullable: true
            description: Default synchronization schema for the jobs based on this template.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronizationTemplate'
    SynchronizationSchema:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: synchronizationSchema
        required:
        - '@odata.type'
        type: object
        properties:
          synchronizationRules:
            type: array
            items:
              $ref: '#/components/schemas/SynchronizationRule'
            description: A collection of synchronization rules configured for the synchronizationJob or synchronizationTemplate.
          version:
            type: string
            description: The version of the schema, updated automatically with every schema change.
            nullable: true
          directories:
            type: array
            items:
              $ref: '#/components/schemas/DirectoryDefinition'
            description: Contains the collection of directories and all of their objects.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronizationSchema'
    SynchronizationJob:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: synchronizationJob
        required:
        - '@odata.type'
        type: object
        properties:
          schedule:
            anyOf:
            - $ref: '#/components/schemas/SynchronizationSchedule'
            - type: object
              nullable: true
            description: Schedule used to run the job. Read-only.
          status:
            anyOf:
            - $ref: '#/components/schemas/SynchronizationStatus'
            - type: object
              nullable: true
            description: Status of the job, which includes when the job was last run, current job state, and errors.
          synchronizationJobSettings:
            type: array
            items:
              $ref: '#/components/schemas/KeyValuePair'
            description: Settings associated with the job. Some settings are inherited from the template.
          templateId:
            type: string
            description: Identifier of the synchronization template this job is based on.
            nullable: true
          bulkUpload:
            anyOf:
            - $ref: '#/components/schemas/BulkUpload'
            - type: object
              nullable: true
            description: The bulk upload operation for the job.
            x-ms-navigationProperty: true
          schema:
            anyOf:
            - $ref: '#/components/schemas/SynchronizationSchema'
            - type: object
              nullable: true
            description: The synchronization schema configured for the job.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.synchronizationJob'
    BulkUpload:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: bulkUpload
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.bulkUpload'
    ODataCountResponse:
      title: ODataCountResponse
      type: integer
      format: int32
      description: The count of entities
    ExtensionProperty:
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      - title: extensionProperty
        required:
        - '@odata.type'
        type: object
        properties:
          appDisplayName:
            type: string
            description: Display name of the application object on which this extension property is defined. Read-only.
            nullable: true
          dataType:
            type: string
            description: Specifies the data type of the value the extension property can hold. Following values are supported. Binary - 256 bytes maximumBooleanDateTime - Must be specified in ISO 8601 format. Will be stored in UTC.Integer - 32-bit value.LargeInteger - 64-bit value.String - 256 characters maximumNot nullable. For multivalued directory extensions, these limits apply per value in the collection.
          isMultiValued:
            type: boolean
            description: 'Defines the directory extension as a multi-valued property. When true, the directory extension property can store a collection of objects of the dataType; for example, a collection of string types such as ''extensionb7b1c57b532f40b8b5ed4b7a7ba67401jobGroupTracker'': [''String 1'', ''String 2'']. The default value is false. Supports $filter (eq).'
          isSyncedFromOnPremises:
            type: boolean
            description: Indicates if this extension property was synced from on-premises active directory using Microsoft Entra Connect. Read-only.
            nullable: true
          name:
            type: string
            description: Name of the extension property. Not nullable. Supports $filter (eq).
          targetObjects:
            type: array
            items:
              type: string
            description: Following values are supported. Not nullable. UserGroupAdministrativeUnitApplicationDeviceOrganization
          '@odata.type':
            type: string
            default: '#microsoft.graph.extensionProperty'
      x-ms-discriminator-value: '#microsoft.graph.extensionProperty'
    ODataError:
      title: ODataError
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    DirectoryObject:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: directoryObject
        required:
        - '@odata.type'
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
            nullable: true
          '@odata.type':
            type: string
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.administrativeUnit': '#/components/schemas/microsoft.graph.administrativeUnit'
            '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
            '#microsoft.graph.appRoleAssignment': '#/components/schemas/microsoft.graph.appRoleAssignment'
            '#microsoft.graph.certificateAuthorityDetail': '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
            '#microsoft.graph.certificateBasedAuthPki': '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
            '#microsoft.graph.contract': '#/components/schemas/microsoft.graph.contract'
            '#microsoft.graph.device': '#/components/schemas/microsoft.graph.device'
            '#microsoft.graph.directoryObjectPartnerReference': '#/components/schemas/microsoft.graph.directoryObjectPartnerReference'
            '#microsoft.graph.directoryRole': '#/components/schemas/microsoft.graph.directoryRole'
            '#microsoft.graph.directoryRoleTemplate': '#/components/schemas/microsoft.graph.directoryRoleTemplate'
            '#microsoft.graph.endpoint': '#/components/schemas/microsoft.graph.endpoint'
            '#microsoft.graph.extensionProperty': '#/components/schemas/microsoft.graph.extensionProperty'
            '#microsoft.graph.group': '#/components/schemas/microsoft.graph.group'
            '#microsoft.graph.groupSettingTemplate': '#/components/schemas/microsoft.graph.groupSettingTemplate'
            '#microsoft.graph.multiTenantOrganizationMember': '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
            '#microsoft.graph.organization': '#/components/schemas/microsoft.graph.organization'
            '#microsoft.graph.orgContact': '#/components/schemas/microsoft.graph.orgContact'
            '#microsoft.graph.policyBase': '#/components/schemas/microsoft.graph.policyBase'
            '#microsoft.graph.appManagementPolicy': '#/components/schemas/microsoft.graph.appManagementPolicy'
            '#microsoft.graph.authorizationPolicy': '#/components/schemas/microsoft.graph.authorizationPolicy'
            '#microsoft.graph.crossTenantAccessPolicy': '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
            '#microsoft.graph.identitySecurityDefaultsEnforcementPolicy': '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
            '#microsoft.graph.permissionGrantPolicy': '#/components/schemas/microsoft.graph.permissionGrantPolicy'
            '#microsoft.graph.stsPolicy': '#/components/schemas/microsoft.graph.stsPolicy'
            '#microsoft.graph.activityBasedTimeoutPolicy': '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
            '#microsoft.graph.claimsMappingPolicy': '#/components/schemas/microsoft.graph.claimsMappingPolicy'
            '#microsoft.graph.homeRealmDiscoveryPolicy': '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            '#microsoft.graph.tokenIssuancePolicy': '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            '#microsoft.graph.tokenLifetimePolicy': '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            '#microsoft.graph.tenantAppManagementPolicy': '#/components/schemas/microsoft.graph.tenantAppManagementPolicy'
            '#microsoft.graph.resourceSpecificPermissionGrant': '#/components/schemas/microsoft.graph.resourceSpecificPermissionGrant'
            '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
            '#microsoft.graph.user': '#/components/schemas/microsoft.graph.user'
    Application:
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      - title: application
        required:
        - '@odata.type'
        type: object
        properties:
          addIns:
            type: array
            items:
              $ref: '#/components/schemas/AddIn'
            description: Defines custom behavior that a consuming service can use to call an app in specific contexts. For example, applications that can render file streams can set the addIns property for its 'FileHandler' functionality. This lets services like Microsoft 365 call the application in the context of a document the user is working on.
          api:
            anyOf:
            - $ref: '#/components/schemas/ApiApplication'
            - type: object
              nullable: true
            description: Specifies settings for an application that implements a web API.
          appId:
            type: string
            description: The unique identifier for the application that is assigned to an application by Microsoft Entra ID. Not nullable. Read-only. Alternate key. Supports $filter (eq).
            nullable: true
          applicationTemplateId:
            type: string
            description: Unique identifier of the applicationTemplate. Supports $filter (eq, not, ne). Read-only. null if the app wasn't created from an application template.
            nullable: true
          appRoles:
            type: array
            items:
              $ref: '#/components/schemas/AppRole'
            description: The collection of roles defined for the application. With app role assignments, these roles can be assigned to users, groups, or service principals associated with other applications. Not nullable.
          authenticationBehaviors:
            anyOf:
            - $ref: '#/components/schemas/AuthenticationBehaviors'
            - type: object
              nullable: true
          certification:
            anyOf:
            - $ref: '#/components/schemas/Certification'
            - type: object
              nullable: true
            description: Specifies the certification status of the application.
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The date and time the application was registered. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.  Supports $filter (eq, ne, not, ge, le, in, and eq on null values) and $orderby.
            format: date-time
            nullable: true
          defaultRedirectUri:
            type: string
            nullable: true
          description:
            type: string
            description: Free text field to provide a description of the application object to end users. The maximum allowed size is 1,024 characters. Supports $filter (eq, ne, not, ge, le, startsWith) and $search.
            nullable: true
          disabledByMicrosoftStatus:
            type: string
            description: 'Specifies whether Microsoft has disabled the registered application. The possible values are: null (default value), NotDisabled, and DisabledDueToViolationOfServicesAgreement (reasons include suspicious, abusive, or malicious activity, or a violation of the Microsoft Services Agreement).  Supports $filter (eq, ne, not).'
            nullable: true
          displayName:
            type: string
            description: The display name for the application. Maximum length is 256 characters. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderby.
            nullable: true
          groupMembershipClaims:
            type: string
            description: 'Configures the groups claim issued in a user or OAuth 2.0 access token that the application expects. To set this attribute, use one of the following valid string values: None, SecurityGroup (for security groups and Microsoft Entra roles), All (this gets all of the security groups, distribution groups, and Microsoft Entra directory roles that the signed-in user is a member of).'
            nullable: true
          identifierUris:
            type: array
            items:
              type: string
            description: Also known as App ID URI, this value is set when an application is used as a resource app. The identifierUris acts as the prefix for the scopes you reference in your API's code, and it must be globally unique across Microsoft Entra ID. For more information on valid identifierUris patterns and best practices, see Microsoft Entra application registration security best practices. Not nullable. Supports $filter (eq, ne, ge, le, startsWith).
          info:
            anyOf:
            - $ref: '#/components/schemas/InformationalUrl'
            - type: object
              nullable: true
            description: 'Basic profile information of the application such as  app''s marketing, support, terms of service and privacy statement URLs. The terms of service and privacy statement are surfaced to users through the user consent experience. For more info, see How to: Add Terms of service and privacy statement for registered Microsoft Entra apps. Supports $filter (eq, ne, not, ge, le, and eq on null values).'
          isDeviceOnlyAuthSupported:
            type: boolean
            description: Specifies whether this application supports device authentication without a user. The default is false.
            nullable: true
          isFallbackPublicClient:
            type: boolean
            description: Specifies the fallback application type as public client, such as an installed application running on a mobile device. The default value is false, which means the fallback application type is confidential client such as a web app. There are certain scenarios where Microsoft Entra ID can't determine the client application type. For example, the ROPC flow where it's configured without specifying a redirect URI. In those cases, Microsoft Entra ID interprets the application type based on the value of this property.
            nullable: true
          keyCredentials:
            type: array
            items:
              $ref: '#/components/schemas/KeyCredential'
            description: The collection of key credentials associated with the application. Not nullable. Supports $filter (eq, not, ge, le).
          logo:
            type: string
            description: The main logo for the application. Not nullable.
            format: base64url
          nativeAuthenticationApisEnabled:
            anyOf:
            - $ref: '#/components/schemas/NativeAuthenticationApisEnabled'
            - type: object
              nullable: true
            description: 'Specifies whether the Native Authentication APIs are enabled for the application. The possible values are: none and all. Default is none. For more information, see Native Authentication.'
          notes:
            type: string
            description: Notes relevant for the management of the application.
            nullable: true
          oauth2RequirePostResponse:
            type: boolean
          optionalClaims:
            anyOf:
            - $ref: '#/components/schemas/OptionalClaims'
            - type: object
              nullable: true
            description: 'Application developers can configure optional claims in their Microsoft Entra applications to specify the claims that are sent to their application by the Microsoft security token service. For more information, see How to: Provide optional claims to your app.'
          parentalControlSettings:
            anyOf:
            - $ref: '#/components/schemas/ParentalControlSettings'
            - type: object
              nullable: true
            description: Specifies parental control settings for an application.
          passwordCredentials:
            type: array
            items:
              $ref: '#/components/schemas/PasswordCredential'
            description: The collection of password credentials associated with the application. Not nullable.
          publicClient:
            anyOf:
            - $ref: '#/components/schemas/PublicClientApplication'
            - type: object
              nullable: true
            description: Specifies settings for installed clients such as desktop or mobile devices.
          publisherDomain:
            type: string
            description: 'The verified publisher domain for the application. Read-only. For more information, see How to: Configure an application''s publisher domain. Supports $filter (eq, ne, ge, le, startsWith).'
            nullable: true
          requestSignatureVerification:
            anyOf:
            - $ref: '#/components/schemas/RequestSignatureVerification'
            - type: object
              nullable: true
            description: Specifies whether this application requires Microsoft Entra ID to verify the signed authentication requests.
          requiredResourceAccess:
            type: array
            items:
              $ref: '#/components/schemas/RequiredResourceAccess'
            description: Specifies the resources that the application needs to access. This property also specifies the set of delegated permissions and application roles that it needs for each of those resources. This configuration of access to the required resources drives the consent experience. No more than 50 resource services (APIs) can be configured. Beginning mid-October 2021, the total number of required permissions must not exceed 400. For more information, see Limits on requested permissions per app. Not nullable. Supports $filter (eq, not, ge, le).
          samlMetadataUrl:
            type: string
            description: The URL where the service exposes SAML metadata for federation. This property is valid only for single-tenant applications. Nullable.
            nullable: true
          serviceManagementReference:
            type: string
            description: References application or service contact information from a Service or Asset Management database. Nullable.
            nullable: true
          servicePrincipalLockConfiguration:
            anyOf:
            - $ref: '#/components/schemas/ServicePrincipalLockConfiguration'
            - type: object
              nullable: true
            description: Specifies whether sensitive properties of a multitenant application should be locked for editing after the application is provisioned in a tenant. Nullable. null by default.
          signInAudience:
            type: string
            description: 'Specifies the Microsoft accounts that are supported for the current application. The possible values are: AzureADMyOrg (default), AzureADMultipleOrgs, AzureADandPersonalMicrosoftAccount, and PersonalMicrosoftAccount. See more in the table. The value of this object also limits the number of permissions an app can request. For more information, see Limits on requested permissions per app. The value for this property has implications on other app object properties. As a result, if you change this property, you might need to change other properties first. For more information, see Validation differences for signInAudience.Supports $filter (eq, ne, not).'
            nullable: true
          spa:
            anyOf:
            - $ref: '#/components/schemas/SpaApplication'
            - type: object
              nullable: true
            description: Specifies settings for a single-page application, including sign out URLs and redirect URIs for authorization codes and access tokens.
          tags:
            type: array
            items:
              type: string
            description: Custom strings that can be used to categorize and identify the application. Not nullable. Strings added here will also appear in the tags property of any associated service principals.Supports $filter (eq, not, ge, le, startsWith) and $search.
          tokenEncryptionKeyId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            description: Specifies the keyId of a public key from the keyCredentials collection. When configured, Microsoft Entra ID encrypts all the tokens it emits by using the key this property points to. The application code that receives the encrypted token must use the matching private key to decrypt the token before it can be used for the signed-in user.
            format: uuid
            nullable: true
          uniqueName:
            type: string
            description: The unique identifier that can be assigned to an application and used as an alternate key. Immutable. Read-only.
            nullable: true
          verifiedPublisher:
            anyOf:
            - $ref: '#/components/schemas/VerifiedPublisher'
            - type: object
              nullable: true
            description: Specifies the verified publisher of the application. For more information about how publisher verification helps support application security, trustworthiness, and compliance, see Publisher verification.
          web:
            anyOf:
            - $ref: '#/components/schemas/WebApplication'
            - type: object
              nullable: true
            description: Specifies settings for a web application.
          appManagementPolicies:
            type: array
            items:
              $ref: '#/components/schemas/AppManagementPolicy'
            description: The appManagementPolicy applied to this application.
            x-ms-navigationProperty: true
          createdOnBehalfOf:
            anyOf:
            - $ref: '#/components/schemas/DirectoryObject'
            - type: object
              nullable: true
            description: Supports $filter (/$count eq 0, /$count ne 0). Read-only.
            x-ms-navigationProperty: true
          extensionProperties:
            type: array
            items:
              $ref: '#/components/schemas/ExtensionProperty'
            description: Read-only. Nullable. Supports $expand and $filter (/$count eq 0, /$count ne 0).
            x-ms-navigationProperty: true
          federatedIdentityCredentials:
            type: array
            items:
              $ref: '#/components/schemas/FederatedIdentityCredential'
            description: Federated identities for applications. Supports $expand and $filter (startsWith, /$count eq 0, /$count ne 0).
            x-ms-navigationProperty: true
          homeRealmDiscoveryPolicies:
            type: array
            items:
              $ref: '#/components/schemas/HomeRealmDiscoveryPolicy'
            x-ms-navigationProperty: true
          owners:
            type: array
            items:
              $ref: '#/components/schemas/DirectoryObject'
            description: Directory objects that are owners of this application. The owners are a set of nonadmin users or service principals who are allowed to modify this object. Supports $expand, $filter (/$count eq 0, /$count ne 0, /$count eq 1, /$count ne 1), and $select nested in $expand.
            x-ms-navigationProperty: true
          synchronization:
            anyOf:
            - $ref: '#/components/schemas/Synchronization'
            - type: object
              nullable: true
            description: Represents the capability for Microsoft Entra identity synchronization through the Microsoft Graph API.
            x-ms-navigationProperty: true
          tokenIssuancePolicies:
            type: array
            items:
              $ref: '#/components/schemas/TokenIssuancePolicy'
            x-ms-navigationProperty: true
          tokenLifetimePolicies:
            type: array
            items:
              $ref: '#/components/schemas/TokenLifetimePolicy'
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
            default: '#microsoft.graph.application'
      x-ms-discriminator-value: '#microsoft.graph.application'
  examples:
    ApplicationRequestExample:
      value:
        id: 00000000-0000-0000-0000-000000000001
        deletedDateTime: '2024-01-15T10:30:00Z'
        '@odata.type': '#microsoft.graph.application'
        addIns:
        - {}
        api: {}
        appId: 00000000-0000-0000-0000-000000000001
        applicationTemplateId: 00000000-0000-0000-0000-000000000001
        appRoles:
        - {}
        authenticationBehaviors: {}
    ApplicationExample:
      value:
        id: 00000000-0000-0000-0000-000000000001
        deletedDateTime: '2024-01-15T10:30:00Z'
        '@odata.type': '#microsoft.graph.application'
        addIns:
        - {}
        api: {}
        appId: 00000000-0000-0000-0000-000000000001
        applicationTemplateId: 00000000-0000-0000-0000-000000000001
        appRoles:
        - {}
        authenticationBehaviors: {}
    ODataCountResponseExample:
      value: 42
    ODataErrorExample:
      value:
        error:
          code: BadRequest
          message: The request is invalid.
          target: /resource
          details:
          - code: InvalidParameter
            message: Parameter value is invalid.
            target: parameterName
          innerError:
            request-id: 00000000-0000-0000-0000-000000000001
            date: '2024-01-15T10:30:00Z'
            client-request-id: 00000000-0000-0000-0000-000000000002
  parameters:
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    Count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
