openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Current User Acceptances API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Current User Acceptances
  description: Operations for managing the current user's agreement acceptances
paths:
  /me/agreementAcceptances:
    description: Provides operations to manage the current user's agreement acceptances.
    get:
      tags:
      - Current User Acceptances
      summary: Microsoft Graph List current user's agreement acceptances
      description: Retrieve a list of all agreement acceptances for the currently signed-in user.
      operationId: listCurrentUserAgreementAcceptances
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/AgreementAcceptanceCollectionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /me/agreementAcceptances/{agreementAcceptance-id}:
    description: Provides operations to manage a specific agreement acceptance for the current user.
    parameters:
    - $ref: '#/components/parameters/AgreementAcceptanceId'
    get:
      tags:
      - Current User Acceptances
      summary: Microsoft Graph Get current user's agreement acceptance
      description: Retrieve a specific agreement acceptance for the currently signed-in user.
      operationId: getCurrentUserAgreementAcceptance
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementAcceptance'
              examples:
                GetCurrentUserAcceptanceResponse:
                  $ref: '#/components/examples/GetCurrentUserAcceptanceResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /me/agreementAcceptances/$count:
    description: Get the count of the current user's agreement acceptances.
    get:
      tags:
      - Current User Acceptances
      summary: Microsoft Graph Count current user's agreement acceptances
      description: Get the total count of agreement acceptances for the currently signed-in user.
      operationId: countCurrentUserAgreementAcceptances
      parameters:
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  schemas:
    AgreementAcceptanceCollectionResponse:
      title: AgreementAcceptanceCollectionResponse
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AgreementAcceptance'
        '@odata.nextLink':
          type: string
          nullable: true
        '@odata.count':
          type: integer
          format: int32
    ErrorDetail:
      title: ErrorDetail
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    AgreementAcceptance:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AgreementAcceptance
        required:
        - '@odata.type'
        type: object
        properties:
          agreementFileId:
            type: string
            description: The identifier of the agreement file accepted by the user.
            nullable: true
          agreementId:
            type: string
            description: The identifier of the agreement.
            nullable: true
          deviceDisplayName:
            type: string
            description: The display name of the device used for accepting the agreement.
            nullable: true
          deviceId:
            type: string
            description: The unique identifier of the device used for accepting the agreement. Supports $filter (eq) and eq for null values.
            nullable: true
          deviceOSType:
            type: string
            description: The operating system used to accept the agreement.
            nullable: true
          deviceOSVersion:
            type: string
            description: The operating system version of the device used to accept the agreement.
            nullable: true
          expirationDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The expiration date time of the acceptance. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time.
            format: date-time
            nullable: true
          recordedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time.
            format: date-time
            nullable: true
          state:
            anyOf:
            - $ref: '#/components/schemas/AgreementAcceptanceState'
            - type: object
              nullable: true
            description: The state of the agreement acceptance. The possible values are accepted, declined. Supports $filter (eq).
          userDisplayName:
            type: string
            description: Display name of the user when the acceptance was recorded.
            nullable: true
          userEmail:
            type: string
            description: Email of the user when the acceptance was recorded.
            nullable: true
          userId:
            type: string
            description: The identifier of the user who accepted the agreement. Supports $filter (eq).
            nullable: true
          userPrincipalName:
            type: string
            description: UPN of the user when the acceptance was recorded.
            nullable: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.agreementAcceptance'
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innerError:
          $ref: '#/components/schemas/InnerError'
    InnerError:
      title: InnerError
      type: object
      description: The structure of this object is service-specific
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
    AgreementAcceptanceState:
      title: AgreementAcceptanceState
      type: string
      enum:
      - accepted
      - declined
      description: The state of the agreement acceptance.
    ODataCountResponse:
      type: integer
      format: int32
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    AgreementAcceptanceCollectionResponse:
      description: Retrieved collection of agreement acceptances
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AgreementAcceptanceCollectionResponse'
          examples:
            AgreementAcceptanceCollectionExample:
              $ref: '#/components/examples/AgreementAcceptanceCollectionExample'
  parameters:
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    AgreementAcceptanceId:
      name: agreementAcceptance-id
      in: path
      description: The unique identifier of the agreement acceptance
      required: true
      schema:
        type: string
      x-ms-docs-key-type: agreementAcceptance
    Count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
  examples:
    AgreementAcceptanceCollectionExample:
      summary: Example collection of agreement acceptances
      value:
        value:
        - id: 00000000-0000-0000-0000-000000000005
          agreementId: 00000000-0000-0000-0000-000000000001
          agreementFileId: 00000000-0000-0000-0000-000000000002
          userId: 00000000-0000-0000-0000-000000000003
          userDisplayName: John Doe
          userEmail: john.doe@example.com
          userPrincipalName: john.doe@example.com
          deviceDisplayName: John's Laptop
          deviceId: 00000000-0000-0000-0000-000000000004
          deviceOSType: Windows
          deviceOSVersion: 10.0.19041
          recordedDateTime: '2024-01-15T10:30:00Z'
          expirationDateTime: '2024-04-15T10:30:00Z'
          state: accepted
          '@odata.type': '#microsoft.graph.agreementAcceptance'
        '@odata.count': 1
    GetCurrentUserAcceptanceResponse:
      summary: Example response for getting current user's agreement acceptance
      value:
        id: 00000000-0000-0000-0000-000000000005
        agreementId: 00000000-0000-0000-0000-000000000001
        agreementFileId: 00000000-0000-0000-0000-000000000002
        userId: 00000000-0000-0000-0000-000000000003
        userDisplayName: Current User
        userEmail: current.user@example.com
        userPrincipalName: current.user@example.com
        deviceDisplayName: My Device
        deviceId: 00000000-0000-0000-0000-000000000008
        deviceOSType: Windows
        deviceOSVersion: '11.0'
        recordedDateTime: '2024-01-17T09:00:00Z'
        expirationDateTime: '2024-04-17T09:00:00Z'
        state: accepted
        '@odata.type': '#microsoft.graph.agreementAcceptance'
