openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Administrative Units API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Administrative Units
  description: Operations for managing directory administrative units
paths:
  /directory/administrativeUnits:
    description: Provides operations to manage administrative units.
    get:
      tags:
      - Administrative Units
      summary: Microsoft Graph List administrative units
      description: Get a list of all administrative units.
      operationId: listAdministrativeUnits
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      responses:
        2XX:
          $ref: '#/components/responses/AdministrativeUnitCollectionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    post:
      tags:
      - Administrative Units
      summary: Microsoft Graph Create administrative unit
      description: Create a new administrative unit.
      operationId: createAdministrativeUnit
      requestBody:
        description: New administrative unit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdministrativeUnit'
            examples:
              CreateAdministrativeUnitRequest:
                $ref: '#/components/examples/CreateAdministrativeUnitRequest'
        required: true
      responses:
        2XX:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeUnit'
              examples:
                CreateAdministrativeUnitResponse:
                  $ref: '#/components/examples/CreateAdministrativeUnitResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /directory/administrativeUnits/{administrativeUnit-id}:
    description: Provides operations to manage a specific administrative unit.
    parameters:
    - $ref: '#/components/parameters/AdministrativeUnitId'
    get:
      tags:
      - Administrative Units
      summary: Microsoft Graph Get administrative unit
      description: Retrieve a specific administrative unit.
      operationId: getAdministrativeUnit
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeUnit'
              examples:
                GetAdministrativeUnitResponse:
                  $ref: '#/components/examples/GetAdministrativeUnitResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Administrative Units
      summary: Microsoft Graph Update administrative unit
      description: Update the properties of an administrative unit.
      operationId: updateAdministrativeUnit
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdministrativeUnit'
            examples:
              UpdateAdministrativeUnitRequest:
                $ref: '#/components/examples/UpdateAdministrativeUnitRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministrativeUnit'
              examples:
                UpdateAdministrativeUnitResponse:
                  $ref: '#/components/examples/UpdateAdministrativeUnitResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Administrative Units
      summary: Microsoft Graph Delete administrative unit
      description: Delete an administrative unit.
      operationId: deleteAdministrativeUnit
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  examples:
    UpdateAdministrativeUnitResponse:
      summary: Example response for updated administrative unit
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Updated Marketing Department
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    CreateAdministrativeUnitResponse:
      summary: Example response for created administrative unit
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Marketing Department
        description: Administrative unit for the marketing team
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    UpdateAdministrativeUnitRequest:
      summary: Example request for updating an administrative unit
      value:
        displayName: Updated Marketing Department
        '@odata.type': '#microsoft.graph.administrativeUnit'
    AdministrativeUnitCollectionExample:
      summary: Example collection of administrative units
      value:
        value:
        - id: 00000000-0000-0000-0000-000000000001
          displayName: Marketing Department
          visibility: public
          '@odata.type': '#microsoft.graph.administrativeUnit'
        '@odata.count': 1
    GetAdministrativeUnitResponse:
      summary: Example response for getting an administrative unit
      value:
        id: 00000000-0000-0000-0000-000000000001
        displayName: Marketing Department
        description: Administrative unit for the marketing team
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
    CreateAdministrativeUnitRequest:
      summary: Example request for creating an administrative unit
      value:
        displayName: Marketing Department
        description: Administrative unit for the marketing team
        visibility: public
        '@odata.type': '#microsoft.graph.administrativeUnit'
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    AdministrativeUnitCollectionResponse:
      description: Retrieved collection of administrative units
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdministrativeUnitCollectionResponse'
          examples:
            AdministrativeUnitCollectionExample:
              $ref: '#/components/examples/AdministrativeUnitCollectionExample'
  parameters:
    AdministrativeUnitId:
      name: administrativeUnit-id
      in: path
      description: The unique identifier of the administrative unit
      required: true
      schema:
        type: string
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    Count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
  schemas:
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    AdministrativeUnit:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdministrativeUnit
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
            nullable: true
          visibility:
            type: string
            nullable: true
          '@odata.type':
            type: string
    AdministrativeUnitCollectionResponse:
      title: AdministrativeUnitCollectionResponse
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AdministrativeUnit'
        '@odata.nextLink':
          type: string
          nullable: true
        '@odata.count':
          type: integer
          format: int32
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
