openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Edge Browser API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Edge Browser
  description: Operations for managing Microsoft Edge browser settings
paths:
  /admin/edge:
    description: Provides operations to manage the edge property of the admin entity.
    get:
      tags:
      - Edge Browser
      summary: Microsoft Graph Get Edge settings
      description: Retrieve the Microsoft Edge browser settings container.
      operationId: getAdminEdge
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
              examples:
                GetEdgeResponse:
                  $ref: '#/components/examples/GetEdgeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Edge Browser
      summary: Microsoft Graph Update Edge settings
      description: Update the Microsoft Edge browser settings.
      operationId: updateAdminEdge
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edge'
            examples:
              UpdateEdgeRequest:
                $ref: '#/components/examples/UpdateEdgeRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Edge'
              examples:
                UpdateEdgeResponse:
                  $ref: '#/components/examples/UpdateEdgeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Edge Browser
      summary: Microsoft Graph Delete Edge settings
      description: Delete the Microsoft Edge browser settings navigation property.
      operationId: deleteAdminEdge
      parameters:
      - name: If-Match
        in: header
        description: ETag for optimistic concurrency control
        schema:
          type: string
      responses:
        '204':
          description: Success - No content returned
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  examples:
    UpdateEdgeResponse:
      summary: Example response for updated Edge settings
      value:
        id: edge
        '@odata.type': '#microsoft.graph.edge'
    UpdateEdgeRequest:
      summary: Example request for updating Edge settings
      value:
        '@odata.type': '#microsoft.graph.edge'
    GetEdgeResponse:
      summary: Example response for getting Edge settings
      value:
        id: edge
        '@odata.type': '#microsoft.graph.edge'
  schemas:
    InternetExplorerMode:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: InternetExplorerMode
        type: object
        properties:
          siteLists:
            type: array
            items:
              $ref: '#/components/schemas/BrowserSiteList'
          '@odata.type':
            type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    BrowserSiteListStatus:
      title: BrowserSiteListStatus
      type: string
      enum:
      - draft
      - published
      - pending
      - unknownFutureValue
    Edge:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: Edge
        type: object
        properties:
          internetExplorerMode:
            $ref: '#/components/schemas/InternetExplorerMode'
          '@odata.type':
            type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    BrowserSiteList:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: BrowserSiteList
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
          lastModifiedDateTime:
            type: string
            format: date-time
          revision:
            type: string
          status:
            $ref: '#/components/schemas/BrowserSiteListStatus'
          '@odata.type':
            type: string
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
