openapi: 3.2.0
info:
  title: Microsoft Graph OData Service for namespace microsoft.graph…
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
- url: https://graph.microsoft.com/v1.0
tags:
- name: teamwork.teamwork.Actions
  x-ms-docs-toc-type: container
paths:
  /teamwork/sendActivityNotificationToRecipients:
    description: Provides operations to call the sendActivityNotificationToRecipients method.
    post:
      tags:
      - teamwork.teamwork.Actions
      summary: Microsoft Graph Invoke action sendActivityNotificationToRecipients
      description: Send activity feed notifications to multiple users, in bulk. For more information, see sending Teams activity notifications.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/teamwork-sendactivitynotificationtorecipients?view=graph-rest-1.0
      operationId: teamwork.sendActivityNotificationToRecipients
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopic'
                  - type:
                    - object
                    - 'null'
                activityType:
                  type:
                  - string
                  - 'null'
                chainId:
                  type:
                  - number
                  - 'null'
                  format: int64
                previewText:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.itemBody'
                  - type:
                    - object
                    - 'null'
                teamsAppId:
                  type:
                  - string
                  - 'null'
                templateParameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.keyValuePair'
                recipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.teamworkNotificationRecipient'
                iconId:
                  type:
                  - string
                  - 'null'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type:
          - string
          - 'null'
          description: Request Id as tracked internally by the service
        client-request-id:
          type:
          - string
          - 'null'
          description: Client request Id as sent by the client application.
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Date when the error occured.
          format: date-time
        '@odata.type':
          type: string
    microsoft.graph.itemBody:
      title: itemBody
      required:
      - '@odata.type'
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          description: The content of the item.
        contentType:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.bodyType'
          - type:
            - object
            - 'null'
          description: The type of the content. Possible values are text and html.
        '@odata.type':
          type: string
    microsoft.graph.teamworkActivityTopicSource:
      title: teamworkActivityTopicSource
      enum:
      - entityUrl
      - text
      type: string
    microsoft.graph.keyValuePair:
      title: keyValuePair
      required:
      - '@odata.type'
      type: object
      properties:
        name:
          type: string
          description: Name for this key-value pair
        value:
          type:
          - string
          - 'null'
          description: Value for this key-value pair
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.teamworkNotificationRecipient:
      title: teamworkNotificationRecipient
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.aadUserNotificationRecipient': '#/components/schemas/microsoft.graph.aadUserNotificationRecipient'
          '#microsoft.graph.channelMembersNotificationRecipient': '#/components/schemas/microsoft.graph.channelMembersNotificationRecipient'
          '#microsoft.graph.chatMembersNotificationRecipient': '#/components/schemas/microsoft.graph.chatMembersNotificationRecipient'
          '#microsoft.graph.teamMembersNotificationRecipient': '#/components/schemas/microsoft.graph.teamMembersNotificationRecipient'
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.bodyType:
      title: bodyType
      enum:
      - text
      - html
      type: string
    microsoft.graph.teamworkActivityTopic:
      title: teamworkActivityTopic
      required:
      - '@odata.type'
      type: object
      properties:
        source:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopicSource'
          - type:
            - object
            - 'null'
          description: 'Type of source. The possible values are: entityUrl, text. For supported Microsoft Graph URLs, use entityUrl. For custom text, use text.'
        value:
          type: string
          description: The topic value. If the value of the source property is entityUrl, this must be a Microsoft Graph URL. If the value is text, this must be a plain text value.
        webUrl:
          type:
          - string
          - 'null'
          description: The link the user clicks when they select the notification. Optional when source is entityUrl; required when source is text.
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
