openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin copilot.copilotRoot.Actions API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: copilot.copilotRoot.Actions
paths:
  /copilot/retrieval:
    description: Provides operations to call the retrieval method.
    post:
      tags:
      - copilot.copilotRoot.Actions
      summary: Microsoft Graph Invoke action retrieval
      operationId: copilot.retrieval
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                queryString:
                  type: string
                dataSource:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.retrievalDataSource'
                  - type: object
                    nullable: true
                filterExpression:
                  type: string
                  nullable: true
                resourceMetadata:
                  type: array
                  items:
                    type: string
                    nullable: true
                maximumNumberOfResults:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                dataSourceConfiguration:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.dataSourceConfiguration'
                  - type: object
                    nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.retrievalResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-31'
        date: '2024-02-23'
        version: 2024-12/PrivatePreview:retrievalAPI
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.dictionaries:
      title: dictionaries
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.searchResourceMetadataDictionary': '#/components/schemas/microsoft.graph.searchResourceMetadataDictionary'
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.sensitivityLabelInfo:
      title: sensitivityLabelInfo
      required:
      - '@odata.type'
      type: object
      properties:
        color:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        priority:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          format: int32
          nullable: true
        sensitivityLabelId:
          type: string
          nullable: true
        tooltip:
          type: string
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.retrievalExtract:
      title: retrievalExtract
      required:
      - '@odata.type'
      type: object
      properties:
        relevanceScore:
          oneOf:
          - type: number
            format: double
            nullable: true
          - type: string
            nullable: true
          - $ref: '#/components/schemas/ReferenceNumeric'
        text:
          type: string
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.retrievalHit:
      title: retrievalHit
      required:
      - '@odata.type'
      type: object
      properties:
        extracts:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.retrievalExtract'
        resourceMetadata:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.searchResourceMetadataDictionary'
          - type: object
            nullable: true
        resourceType:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.retrievalEntityType'
          - type: object
            nullable: true
        sensitivityLabel:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.sensitivityLabelInfo'
          - type: object
            nullable: true
        webUrl:
          type: string
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    ReferenceNumeric:
      enum:
      - -INF
      - INF
      - NaN
      type: string
      nullable: true
    microsoft.graph.dataSourceConfiguration:
      title: dataSourceConfiguration
      required:
      - '@odata.type'
      type: object
      properties:
        externalItem:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.externalItemConfiguration'
          - type: object
            nullable: true
        '@odata.type':
          type: string
    microsoft.graph.retrievalEntityType:
      title: retrievalEntityType
      enum:
      - site
      - list
      - listItem
      - drive
      - driveItem
      - externalItem
      - unknownFutureValue
      type: string
    microsoft.graph.searchResourceMetadataDictionary:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.dictionaries'
      - title: searchResourceMetadataDictionary
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.searchResourceMetadataDictionary'
    microsoft.graph.retrievalDataSource:
      title: retrievalDataSource
      enum:
      - sharePoint
      - oneDriveBusiness
      - externalItem
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.retrievalResponse:
      title: retrievalResponse
      required:
      - '@odata.type'
      type: object
      properties:
        retrievalHits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.retrievalHit'
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.externalItemConfiguration:
      title: externalItemConfiguration
      required:
      - '@odata.type'
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.connectionItem'
        '@odata.type':
          type: string
    microsoft.graph.connectionItem:
      title: connectionItem
      required:
      - '@odata.type'
      type: object
      properties:
        connectionId:
          type: string
        '@odata.type':
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
