openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Microsoft 365 Apps API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Microsoft 365 Apps
  description: Operations for managing Microsoft 365 Apps installation options
paths:
  /admin/microsoft365Apps:
    description: Provides operations to manage Microsoft 365 Apps settings.
    get:
      tags:
      - Microsoft 365 Apps
      summary: Microsoft Graph Get Microsoft 365 Apps settings
      description: Retrieve the Microsoft 365 Apps administration settings.
      operationId: getMicrosoft365Apps
      responses:
        2XX:
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMicrosoft365Apps'
              examples:
                GetMicrosoft365AppsResponse:
                  $ref: '#/components/examples/GetMicrosoft365AppsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Microsoft 365 Apps
      summary: Microsoft Graph Update Microsoft 365 Apps settings
      description: Update the Microsoft 365 Apps administration settings.
      operationId: updateMicrosoft365Apps
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMicrosoft365Apps'
            examples:
              UpdateMicrosoft365AppsRequest:
                $ref: '#/components/examples/UpdateMicrosoft365AppsRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMicrosoft365Apps'
              examples:
                UpdateMicrosoft365AppsResponse:
                  $ref: '#/components/examples/UpdateMicrosoft365AppsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  schemas:
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    AdminMicrosoft365Apps:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminMicrosoft365Apps
        type: object
        properties:
          '@odata.type':
            type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
  examples:
    UpdateMicrosoft365AppsRequest:
      summary: Example request for updating Microsoft 365 Apps settings
      value:
        '@odata.type': '#microsoft.graph.adminMicrosoft365Apps'
    GetMicrosoft365AppsResponse:
      summary: Example response for getting Microsoft 365 Apps settings
      value:
        id: microsoft365Apps
        '@odata.type': '#microsoft.graph.adminMicrosoft365Apps'
    UpdateMicrosoft365AppsResponse:
      summary: Example response for updated Microsoft 365 Apps settings
      value:
        id: microsoft365Apps
        '@odata.type': '#microsoft.graph.adminMicrosoft365Apps'
