openapi: 3.2.0
info:
  title: Microsoft Graph OData Service for namespace microsoft.graph…
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
- url: https://graph.microsoft.com/v1.0
tags:
- name: tenantRelationships.tenantRelationship.Functions
  x-ms-docs-toc-type: container
paths:
  /tenantRelationships/findTenantInformationByDomainName(domainName='{domainName}'):
    description: Provides operations to call the findTenantInformationByDomainName method.
    parameters:
    - name: domainName
      in: path
      description: 'Usage: domainName=''{domainName}'''
      required: true
      schema:
        type:
        - string
        - 'null'
    get:
      tags:
      - tenantRelationships.tenantRelationship.Functions
      summary: Microsoft Graph Invoke function findTenantInformationByDomainName
      description: Given a domain name, search for a tenant and read its tenantInformation. You can use this API to validate tenant information and use the tenantId to configure cross-tenant access settings between you and the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tenantrelationship-findtenantinformationbydomainname?view=graph-rest-1.0
      operationId: tenantRelationships.findTenantInformationByDomainName
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.tenantInformation'
                - type:
                  - object
                  - 'null'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /tenantRelationships/findTenantInformationByTenantId(tenantId='{tenantId}'):
    description: Provides operations to call the findTenantInformationByTenantId method.
    parameters:
    - name: tenantId
      in: path
      description: 'Usage: tenantId=''{tenantId}'''
      required: true
      schema:
        type:
        - string
        - 'null'
    get:
      tags:
      - tenantRelationships.tenantRelationship.Functions
      summary: Microsoft Graph Invoke function findTenantInformationByTenantId
      description: Given a tenant ID, search for a tenant and read its tenantInformation. You can use this API to validate tenant information and use the tenantId to configure cross-tenant cross-tenant access settings between you and the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tenantrelationship-findtenantinformationbytenantid?view=graph-rest-1.0
      operationId: tenantRelationships.findTenantInformationByTenantId
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/microsoft.graph.tenantInformation'
                - type:
                  - object
                  - 'null'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type:
          - string
          - 'null'
          description: Request Id as tracked internally by the service
        client-request-id:
          type:
          - string
          - 'null'
          description: Client request Id as sent by the client application.
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Date when the error occured.
          format: date-time
        '@odata.type':
          type: string
    microsoft.graph.tenantInformation:
      title: tenantInformation
      required:
      - '@odata.type'
      type: object
      properties:
        defaultDomainName:
          type:
          - string
          - 'null'
          description: Primary domain name of a Microsoft Entra tenant.
        displayName:
          type:
          - string
          - 'null'
          description: Display name of a Microsoft Entra tenant.
        federationBrandName:
          type:
          - string
          - 'null'
          description: Name shown to users that sign in to a Microsoft Entra tenant.
        tenantId:
          type: string
          description: Unique identifier of a Microsoft Entra tenant.
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
