openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin me.mailboxSettings API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: me.mailboxSettings
paths:
  /me/mailboxSettings:
    get:
      tags:
      - me.mailboxSettings
      summary: Microsoft Graph Get user mailbox settings
      description: 'Get the user''s mailboxSettings. You can view all mailbox settings, or get specific settings. Users can set the following settings for their mailboxes through an Outlook client: Users can set their preferred date and time formats using Outlook on the web. Users can choose one of the supported short date or short time formats. This GET operation returns the format the user has chosen. Users can set the time zone they prefer on any Outlook client, by choosing from the supported time zones that their administrator has set up for their mailbox server. The administrator can set up time zones in the Windows time zone format or  Internet Assigned Numbers Authority (IANA) time zone (also known as Olson time zone) format. The Windows format is the default. This GET operation returns the user''s preferred time zone in the format that the administrator has set up. If you want that time zone to be in a specific format (Windows or IANA), you can first update the preferred time zone in that format as a mailbox setting. Subsequently you will be able to get the time zone in that format. Alternatively, you can manage the format conversion separately in your app.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-get-mailboxsettings?view=graph-rest-1.0
      operationId: me.GetMailboxSettings
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - me.mailboxSettings
      summary: Microsoft Graph Update user mailbox settings
      description: 'Enable, configure, or disable one or more of the following settings as part of a user''s mailboxSettings: When updating the preferred date or time format for a user, specify it in respectively, the short date or short time format. When updating the preferred time zone for a user, specify it in the Windows or Internet Assigned Numbers Authority (IANA) time zone (also known as Olson time zone) format. You can also further customize the time zone as shown in example 2 below.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-update-mailboxsettings?view=graph-rest-1.0
      operationId: me.UpdateMailboxSettings
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.automaticRepliesSetting:
      title: automaticRepliesSetting
      required:
      - '@odata.type'
      type: object
      properties:
        externalAudience:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.externalAudienceScope'
          - type: object
            nullable: true
          description: 'The set of audience external to the signed-in user''s organization who will receive the ExternalReplyMessage, if Status is AlwaysEnabled or Scheduled. The possible values are: none, contactsOnly, all.'
        externalReplyMessage:
          type: string
          description: The automatic reply to send to the specified external audience, if Status is AlwaysEnabled or Scheduled.
          nullable: true
        internalReplyMessage:
          type: string
          description: The automatic reply to send to the audience internal to the signed-in user's organization, if Status is AlwaysEnabled or Scheduled.
          nullable: true
        scheduledEndDateTime:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          - type: object
            nullable: true
          description: The date and time that automatic replies are set to end, if Status is set to Scheduled.
        scheduledStartDateTime:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          - type: object
            nullable: true
          description: The date and time that automatic replies are set to begin, if Status is set to Scheduled.
        status:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.automaticRepliesStatus'
          - type: object
            nullable: true
          description: 'Configurations status for automatic replies. The possible values are: disabled, alwaysEnabled, scheduled.'
        '@odata.type':
          type: string
    microsoft.graph.timeZoneBase:
      title: timeZoneBase
      required:
      - '@odata.type'
      type: object
      properties:
        name:
          type: string
          description: The name of a time zone. It can be a standard time zone name such as 'Hawaii-Aleutian Standard Time', or 'Customized Time Zone' for a custom time zone.
          nullable: true
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.customTimeZone': '#/components/schemas/microsoft.graph.customTimeZone'
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      required:
      - '@odata.type'
      type: object
      properties:
        dateTime:
          type: string
          description: A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).
        timeZone:
          type: string
          description: Represents a time zone, for example, 'Pacific Standard Time'. See below for more possible values.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.delegateMeetingMessageDeliveryOptions:
      title: delegateMeetingMessageDeliveryOptions
      enum:
      - sendToDelegateAndInformationToPrincipal
      - sendToDelegateAndPrincipal
      - sendToDelegateOnly
      type: string
    microsoft.graph.userPurpose:
      title: userPurpose
      enum:
      - user
      - linked
      - shared
      - room
      - equipment
      - others
      - unknownFutureValue
      type: string
    microsoft.graph.localeInfo:
      title: localeInfo
      required:
      - '@odata.type'
      type: object
      properties:
        displayName:
          type: string
          description: A name representing the user's locale in natural language, for example, 'English (United States)'.
          nullable: true
        locale:
          type: string
          description: A locale representation for the user, which includes the user's preferred language and country/region. For example, 'en-us'. The language component follows 2-letter codes as defined in ISO 639-1, and the country component follows 2-letter codes as defined in ISO 3166-1 alpha-2.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.externalAudienceScope:
      title: externalAudienceScope
      enum:
      - none
      - contactsOnly
      - all
      type: string
    microsoft.graph.automaticRepliesStatus:
      title: automaticRepliesStatus
      enum:
      - disabled
      - alwaysEnabled
      - scheduled
      type: string
    microsoft.graph.dayOfWeek:
      title: dayOfWeek
      enum:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      type: string
    microsoft.graph.workingHours:
      title: workingHours
      required:
      - '@odata.type'
      type: object
      properties:
        daysOfWeek:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
            - type: object
              nullable: true
          description: The days of the week on which the user works.
        endTime:
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$
          type: string
          description: The time of the day that the user stops working.
          format: time
          nullable: true
        startTime:
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$
          type: string
          description: The time of the day that the user starts working.
          format: time
          nullable: true
        timeZone:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.timeZoneBase'
          - type: object
            nullable: true
          description: The time zone to which the working hours apply.
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.mailboxSettings:
      title: mailboxSettings
      required:
      - '@odata.type'
      type: object
      properties:
        archiveFolder:
          type: string
          description: Folder ID of an archive folder for the user.
          nullable: true
        automaticRepliesSetting:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.automaticRepliesSetting'
          - type: object
            nullable: true
          description: Configuration settings to automatically notify the sender of an incoming email with a message from the signed-in user.
        dateFormat:
          type: string
          description: The date format for the user's mailbox.
          nullable: true
        delegateMeetingMessageDeliveryOptions:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.delegateMeetingMessageDeliveryOptions'
          - type: object
            nullable: true
          description: 'If the user has a calendar delegate, this specifies whether the delegate, mailbox owner, or both receive meeting messages and meeting responses. The possible values are: sendToDelegateAndInformationToPrincipal, sendToDelegateAndPrincipal, sendToDelegateOnly.'
        language:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.localeInfo'
          - type: object
            nullable: true
          description: The locale information for the user, including the preferred language and country/region.
        timeFormat:
          type: string
          description: The time format for the user's mailbox.
          nullable: true
        timeZone:
          type: string
          description: The default time zone for the user's mailbox.
          nullable: true
        userPurpose:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.userPurpose'
          - type: object
            nullable: true
          description: 'The purpose of the mailbox. Differentiates a mailbox for a single user from a shared mailbox and equipment mailbox in Exchange Online. The possible values are: user, linked, shared, room, equipment, others, unknownFutureValue. Read-only.'
        workingHours:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.workingHours'
          - type: object
            nullable: true
          description: The days of the week and hours in a specific time zone that the user works.
        '@odata.type':
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
