openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Applications Extension Properties API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Applications Extension Properties
  description: Operations for managing application registrations
paths:
  /applications/{application-id}/extensionProperties:
    description: Provides operations to manage the extensionProperties property of the microsoft.graph.application entity.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    get:
      tags:
      - Applications Extension Properties
      summary: Microsoft Graph List extensionProperties (directory extensions)
      description: Retrieve the list of directory extension definitions, represented by extensionProperty objects on an application.
      operationId: getApplicationsExtensionProperties
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-list-extensionproperty?view=graph-rest-1.0
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/ExtensionPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications Extension Properties
      summary: Microsoft Graph Create extensionProperty (directory extension)
      description: Create a new directory extension definition, represented by an extensionProperty object.
      operationId: createApplicationsExtensionProperties
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-extensionproperty?view=graph-rest-1.0
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionProperty'
            examples:
              ExtensionPropertyRequestExample:
                $ref: '#/components/examples/ExtensionPropertyRequestExample'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionProperty'
              examples:
                ExtensionPropertyExample:
                  $ref: '#/components/examples/ExtensionPropertyExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
  /applications/{application-id}/extensionProperties/{extensionProperty-id}:
    description: Provides operations to manage the extensionProperties property of the microsoft.graph.application entity.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    - name: extensionProperty-id
      in: path
      description: The unique identifier of extensionProperty
      required: true
      schema:
        type: string
      x-ms-docs-key-type: extensionProperty
    get:
      tags:
      - Applications Extension Properties
      summary: Microsoft Graph Get extensionProperty (directory extension)
      description: Read a directory extension definition represented by an extensionProperty object.
      operationId: getApplicationsExtensionProperties1
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/extensionproperty-get?view=graph-rest-1.0
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionProperty'
              examples:
                ExtensionPropertyExample:
                  $ref: '#/components/examples/ExtensionPropertyExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications Extension Properties
      summary: Microsoft Graph Update Extension Properties
      description: Performs PATCH operation on /applications/{application-id}/extensionProperties/{extensionProperty-id}
      operationId: updateApplicationsExtensionProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionProperty'
            examples:
              ExtensionPropertyRequestExample:
                $ref: '#/components/examples/ExtensionPropertyRequestExample'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionProperty'
              examples:
                ExtensionPropertyExample:
                  $ref: '#/components/examples/ExtensionPropertyExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications Extension Properties
      summary: Microsoft Graph Delete extensionProperty (directory extension)
      description: Delete a directory extension definition represented by an extensionProperty object. You can delete only directory extensions that aren't synced from on-premises active directory (AD).
      operationId: deleteApplicationsExtensionProperties
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/extensionproperty-delete?view=graph-rest-1.0
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: '204'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/extensionProperties/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    get:
      tags:
      - Applications Extension Properties
      summary: Microsoft Graph Get the number of the resource
      description: Performs GET operation on /applications/{application-id}/extensionProperties/$count
      operationId: countApplicationsExtensionProperties
      parameters:
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
components:
  responses:
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
          examples:
            ODataCountResponseExample:
              $ref: '#/components/examples/ODataCountResponseExample'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
          examples:
            ODataErrorExample:
              $ref: '#/components/examples/ODataErrorExample'
  schemas:
    ErrorDetail:
      title: ErrorDetail
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    MainError:
      title: MainError
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        target:
          type: string
          description: Target of the error
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innerError:
          $ref: '#/components/schemas/InnerError'
    InnerError:
      title: InnerError
      type: object
      properties:
        request-id:
          type: string
        date:
          type: string
          format: date-time
        client-request-id:
          type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the entity.
    ODataCountResponse:
      title: ODataCountResponse
      type: integer
      format: int32
      description: The count of entities
    ExtensionProperty:
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      - title: extensionProperty
        required:
        - '@odata.type'
        type: object
        properties:
          appDisplayName:
            type: string
            description: Display name of the application object on which this extension property is defined. Read-only.
            nullable: true
          dataType:
            type: string
            description: Specifies the data type of the value the extension property can hold. Following values are supported. Binary - 256 bytes maximumBooleanDateTime - Must be specified in ISO 8601 format. Will be stored in UTC.Integer - 32-bit value.LargeInteger - 64-bit value.String - 256 characters maximumNot nullable. For multivalued directory extensions, these limits apply per value in the collection.
          isMultiValued:
            type: boolean
            description: 'Defines the directory extension as a multi-valued property. When true, the directory extension property can store a collection of objects of the dataType; for example, a collection of string types such as ''extensionb7b1c57b532f40b8b5ed4b7a7ba67401jobGroupTracker'': [''String 1'', ''String 2'']. The default value is false. Supports $filter (eq).'
          isSyncedFromOnPremises:
            type: boolean
            description: Indicates if this extension property was synced from on-premises active directory using Microsoft Entra Connect. Read-only.
            nullable: true
          name:
            type: string
            description: Name of the extension property. Not nullable. Supports $filter (eq).
          targetObjects:
            type: array
            items:
              type: string
            description: Following values are supported. Not nullable. UserGroupAdministrativeUnitApplicationDeviceOrganization
          '@odata.type':
            type: string
            default: '#microsoft.graph.extensionProperty'
      x-ms-discriminator-value: '#microsoft.graph.extensionProperty'
    ODataError:
      title: ODataError
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    DirectoryObject:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: directoryObject
        required:
        - '@odata.type'
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
            nullable: true
          '@odata.type':
            type: string
        discriminator:
          propertyName: '@odata.type'
          mapping:
            '#microsoft.graph.administrativeUnit': '#/components/schemas/microsoft.graph.administrativeUnit'
            '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
            '#microsoft.graph.appRoleAssignment': '#/components/schemas/microsoft.graph.appRoleAssignment'
            '#microsoft.graph.certificateAuthorityDetail': '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
            '#microsoft.graph.certificateBasedAuthPki': '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
            '#microsoft.graph.contract': '#/components/schemas/microsoft.graph.contract'
            '#microsoft.graph.device': '#/components/schemas/microsoft.graph.device'
            '#microsoft.graph.directoryObjectPartnerReference': '#/components/schemas/microsoft.graph.directoryObjectPartnerReference'
            '#microsoft.graph.directoryRole': '#/components/schemas/microsoft.graph.directoryRole'
            '#microsoft.graph.directoryRoleTemplate': '#/components/schemas/microsoft.graph.directoryRoleTemplate'
            '#microsoft.graph.endpoint': '#/components/schemas/microsoft.graph.endpoint'
            '#microsoft.graph.extensionProperty': '#/components/schemas/microsoft.graph.extensionProperty'
            '#microsoft.graph.group': '#/components/schemas/microsoft.graph.group'
            '#microsoft.graph.groupSettingTemplate': '#/components/schemas/microsoft.graph.groupSettingTemplate'
            '#microsoft.graph.multiTenantOrganizationMember': '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
            '#microsoft.graph.organization': '#/components/schemas/microsoft.graph.organization'
            '#microsoft.graph.orgContact': '#/components/schemas/microsoft.graph.orgContact'
            '#microsoft.graph.policyBase': '#/components/schemas/microsoft.graph.policyBase'
            '#microsoft.graph.appManagementPolicy': '#/components/schemas/microsoft.graph.appManagementPolicy'
            '#microsoft.graph.authorizationPolicy': '#/components/schemas/microsoft.graph.authorizationPolicy'
            '#microsoft.graph.crossTenantAccessPolicy': '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
            '#microsoft.graph.identitySecurityDefaultsEnforcementPolicy': '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
            '#microsoft.graph.permissionGrantPolicy': '#/components/schemas/microsoft.graph.permissionGrantPolicy'
            '#microsoft.graph.stsPolicy': '#/components/schemas/microsoft.graph.stsPolicy'
            '#microsoft.graph.activityBasedTimeoutPolicy': '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
            '#microsoft.graph.claimsMappingPolicy': '#/components/schemas/microsoft.graph.claimsMappingPolicy'
            '#microsoft.graph.homeRealmDiscoveryPolicy': '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            '#microsoft.graph.tokenIssuancePolicy': '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            '#microsoft.graph.tokenLifetimePolicy': '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            '#microsoft.graph.tenantAppManagementPolicy': '#/components/schemas/microsoft.graph.tenantAppManagementPolicy'
            '#microsoft.graph.resourceSpecificPermissionGrant': '#/components/schemas/microsoft.graph.resourceSpecificPermissionGrant'
            '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
            '#microsoft.graph.user': '#/components/schemas/microsoft.graph.user'
  parameters:
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    Count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
  examples:
    ODataCountResponseExample:
      value: 42
    ExtensionPropertyRequestExample:
      value:
        id: 00000000-0000-0000-0000-000000000001
        deletedDateTime: '2024-01-15T10:30:00Z'
        '@odata.type': '#microsoft.graph.extensionproperty'
        appDisplayName: Example Display Name
        dataType: exampleType
        isMultiValued: true
        isSyncedFromOnPremises: true
        name: example-name
        targetObjects:
        - string-value
    ExtensionPropertyExample:
      value:
        id: 00000000-0000-0000-0000-000000000001
        deletedDateTime: '2024-01-15T10:30:00Z'
        '@odata.type': '#microsoft.graph.extensionproperty'
        appDisplayName: Example Display Name
        dataType: exampleType
        isMultiValued: true
        isSyncedFromOnPremises: true
        name: example-name
        targetObjects:
        - string-value
    ODataErrorExample:
      value:
        error:
          code: BadRequest
          message: The request is invalid.
          target: /resource
          details:
          - code: InvalidParameter
            message: Parameter value is invalid.
            target: parameterName
          innerError:
            request-id: 00000000-0000-0000-0000-000000000001
            date: '2024-01-15T10:30:00Z'
            client-request-id: 00000000-0000-0000-0000-000000000002
