openapi: 3.2.0
info:
  title: Microsoft Graph OData Service for namespace microsoft.graph…
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
- url: https://graph.microsoft.com/v1.0
tags:
- name: copilot.copilotRoot.Actions
  x-ms-docs-toc-type: container
paths:
  /copilot/retrieval:
    description: Provides operations to call the retrieval method.
    post:
      tags:
      - copilot.copilotRoot.Actions
      summary: Microsoft Graph Invoke action retrieval
      operationId: copilot.retrieval
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                queryString:
                  type: string
                dataSource:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.retrievalDataSource'
                  - type:
                    - object
                    - 'null'
                filterExpression:
                  type:
                  - string
                  - 'null'
                resourceMetadata:
                  type: array
                  items:
                    type:
                    - string
                    - 'null'
                maximumNumberOfResults:
                  maximum: 2147483647
                  minimum: -2147483648
                  type:
                  - number
                  - 'null'
                  format: int32
                dataSourceConfiguration:
                  anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.dataSourceConfiguration'
                  - type:
                    - object
                    - 'null'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.retrievalResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2025-12-31'
        date: '2024-02-23'
        version: 2024-12/PrivatePreview:retrievalAPI
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type:
          - string
          - 'null'
          description: Request Id as tracked internally by the service
        client-request-id:
          type:
          - string
          - 'null'
          description: Client request Id as sent by the client application.
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Date when the error occured.
          format: date-time
        '@odata.type':
          type: string
    microsoft.graph.dataSourceConfiguration:
      title: dataSourceConfiguration
      required:
      - '@odata.type'
      type: object
      properties:
        externalItem:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.externalItemConfiguration'
          - type:
            - object
            - 'null'
        '@odata.type':
          type: string
    microsoft.graph.retrievalEntityType:
      title: retrievalEntityType
      enum:
      - site
      - list
      - listItem
      - drive
      - driveItem
      - externalItem
      - unknownFutureValue
      type: string
    microsoft.graph.connectionItem:
      title: connectionItem
      required:
      - '@odata.type'
      type: object
      properties:
        connectionId:
          type: string
        '@odata.type':
          type: string
    ReferenceNumeric:
      enum:
      - -INF
      - INF
      - NaN
      type:
      - string
      - 'null'
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.externalItemConfiguration:
      title: externalItemConfiguration
      required:
      - '@odata.type'
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.connectionItem'
        '@odata.type':
          type: string
    microsoft.graph.retrievalHit:
      title: retrievalHit
      required:
      - '@odata.type'
      type: object
      properties:
        extracts:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.retrievalExtract'
        resourceMetadata:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.searchResourceMetadataDictionary'
          - type:
            - object
            - 'null'
        resourceType:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.retrievalEntityType'
          - type:
            - object
            - 'null'
        sensitivityLabel:
          anyOf:
          - $ref: '#/components/schemas/microsoft.graph.sensitivityLabelInfo'
          - type:
            - object
            - 'null'
        webUrl:
          type:
          - string
          - 'null'
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.retrievalResponse:
      title: retrievalResponse
      required:
      - '@odata.type'
      type: object
      properties:
        retrievalHits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.retrievalHit'
        '@odata.type':
          type: string
    microsoft.graph.sensitivityLabelInfo:
      title: sensitivityLabelInfo
      required:
      - '@odata.type'
      type: object
      properties:
        color:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        priority:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          format: int32
        sensitivityLabelId:
          type:
          - string
          - 'null'
        tooltip:
          type:
          - string
          - 'null'
        '@odata.type':
          type: string
    microsoft.graph.dictionaries:
      title: dictionaries
      required:
      - '@odata.type'
      type: object
      properties:
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.searchResourceMetadataDictionary': '#/components/schemas/microsoft.graph.searchResourceMetadataDictionary'
    microsoft.graph.retrievalDataSource:
      title: retrievalDataSource
      enum:
      - sharePoint
      - oneDriveBusiness
      - externalItem
      - unknownFutureValue
      type: string
    microsoft.graph.searchResourceMetadataDictionary:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.dictionaries'
      - title: searchResourceMetadataDictionary
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.searchResourceMetadataDictionary'
    microsoft.graph.retrievalExtract:
      title: retrievalExtract
      required:
      - '@odata.type'
      type: object
      properties:
        relevanceScore:
          oneOf:
          - type:
            - number
            - 'null'
            format: double
          - type:
            - string
            - 'null'
          - $ref: '#/components/schemas/ReferenceNumeric'
        text:
          type:
          - string
          - 'null'
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
