openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Administration API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Administration
  description: Core administrative operations for managing the admin singleton
paths:
  /admin:
    description: Provides operations to manage the admin singleton.
    get:
      tags:
      - Administration
      summary: Microsoft Graph Get admin singleton
      description: Retrieve the admin singleton entity containing all administrative configuration settings.
      operationId: getAdmin
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
              examples:
                GetAdminResponse:
                  $ref: '#/components/examples/GetAdminResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Administration
      summary: Microsoft Graph Update admin singleton
      description: Update the properties of the admin singleton entity.
      operationId: updateAdmin
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Admin'
            examples:
              UpdateAdminRequest:
                $ref: '#/components/examples/UpdateAdminRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
              examples:
                UpdateAdminResponse:
                  $ref: '#/components/examples/UpdateAdminResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  examples:
    GetAdminResponse:
      summary: Example response for getting admin singleton
      value:
        id: admin
        '@odata.type': '#microsoft.graph.admin'
    UpdateAdminRequest:
      summary: Example request for updating admin singleton
      value:
        '@odata.type': '#microsoft.graph.admin'
    UpdateAdminResponse:
      summary: Example response for updated admin singleton
      value:
        id: admin
        '@odata.type': '#microsoft.graph.admin'
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  schemas:
    InternetExplorerMode:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: InternetExplorerMode
        type: object
        properties:
          siteLists:
            type: array
            items:
              $ref: '#/components/schemas/BrowserSiteList'
          '@odata.type':
            type: string
    AdminReportSettings:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminReportSettings
        type: object
        properties:
          displayConcealedNames:
            type: boolean
          '@odata.type':
            type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    BrowserSiteListStatus:
      title: BrowserSiteListStatus
      type: string
      enum:
      - draft
      - published
      - pending
      - unknownFutureValue
    AdminMicrosoft365Apps:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AdminMicrosoft365Apps
        type: object
        properties:
          '@odata.type':
            type: string
    Edge:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: Edge
        type: object
        properties:
          internetExplorerMode:
            $ref: '#/components/schemas/InternetExplorerMode'
          '@odata.type':
            type: string
    Admin:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: Admin
        type: object
        properties:
          edge:
            $ref: '#/components/schemas/Edge'
          microsoft365Apps:
            $ref: '#/components/schemas/AdminMicrosoft365Apps'
          reportSettings:
            $ref: '#/components/schemas/AdminReportSettings'
          serviceAnnouncement:
            $ref: '#/components/schemas/ServiceAnnouncement'
          sharepoint:
            $ref: '#/components/schemas/SharePoint'
          '@odata.type':
            type: string
    SharePoint:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: SharePoint
        type: object
        properties:
          '@odata.type':
            type: string
    ServiceAnnouncement:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: ServiceAnnouncement
        type: object
        properties:
          '@odata.type':
            type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    BrowserSiteList:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: BrowserSiteList
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
          lastModifiedDateTime:
            type: string
            format: date-time
          revision:
            type: string
          status:
            $ref: '#/components/schemas/BrowserSiteListStatus'
          '@odata.type':
            type: string
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
