openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Applications Federated Identity Credentials API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Applications Federated Identity Credentials
  description: Operations for managing application registrations
paths:
  /applications/{application-id}/federatedIdentityCredentials:
    description: Provides operations to manage the federatedIdentityCredentials property of the microsoft.graph.application entity.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    get:
      tags:
      - Applications Federated Identity Credentials
      summary: Microsoft Graph List federatedIdentityCredential objects
      description: Get a list of the federatedIdentityCredential objects and their properties assigned to an application.
      operationId: getApplicationsFederatedIdentityCredentials
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/federatedidentitycredential-list?view=graph-rest-1.0
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/FederatedIdentityCredentialCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications Federated Identity Credentials
      summary: Microsoft Graph Create federatedIdentityCredential
      description: Create a new federatedIdentityCredential object for an application. By configuring a trust relationship between your Microsoft Entra application registration and the identity provider for your compute platform, you can use tokens issued by that platform to authenticate with Microsoft identity platform and call APIs in the Microsoft ecosystem. Maximum of 20 objects can be added to an application.
      operationId: createApplicationsFederatedIdentityCredentials
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/federatedidentitycredential-post?view=graph-rest-1.0
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FederatedIdentityCredential'
            examples:
              FederatedIdentityCredentialRequestExample:
                $ref: '#/components/examples/FederatedIdentityCredentialRequestExample'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederatedIdentityCredential'
              examples:
                FederatedIdentityCredentialExample:
                  $ref: '#/components/examples/FederatedIdentityCredentialExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
  /applications/{application-id}/federatedIdentityCredentials/{federatedIdentityCredential-id}:
    description: Provides operations to manage the federatedIdentityCredentials property of the microsoft.graph.application entity.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    - name: federatedIdentityCredential-id
      in: path
      description: The unique identifier of federatedIdentityCredential
      required: true
      schema:
        type: string
      x-ms-docs-key-type: federatedIdentityCredential
    get:
      tags:
      - Applications Federated Identity Credentials
      summary: Microsoft Graph Get federatedIdentityCredential
      description: Read the properties and relationships of a federatedIdentityCredential object assigned to an application.
      operationId: getApplicationsFederatedIdentityCredentials1
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/federatedidentitycredential-get?view=graph-rest-1.0
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederatedIdentityCredential'
              examples:
                FederatedIdentityCredentialExample:
                  $ref: '#/components/examples/FederatedIdentityCredentialExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications Federated Identity Credentials
      summary: Microsoft Graph Upsert federatedIdentityCredential
      description: Create a new federatedIdentityCredential object for an application if it doesn't exist, or update the properties of an existing federatedIdentityCredential object. By configuring a trust relationship between your Microsoft Entra application registration and the identity provider for your compute platform, you can use tokens issued by that platform to authenticate with Microsoft identity platform and call APIs in the Microsoft ecosystem. Maximum of 20 objects can be added to an application.
      operationId: updateApplicationsFederatedIdentityCredentials
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/federatedidentitycredential-upsert?view=graph-rest-1.0
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FederatedIdentityCredential'
            examples:
              FederatedIdentityCredentialRequestExample:
                $ref: '#/components/examples/FederatedIdentityCredentialRequestExample'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FederatedIdentityCredential'
              examples:
                FederatedIdentityCredentialExample:
                  $ref: '#/components/examples/FederatedIdentityCredentialExample'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications Federated Identity Credentials
      summary: Microsoft Graph Delete federatedIdentityCredential
      description: Delete a federatedIdentityCredential object from an application.
      operationId: deleteApplicationsFederatedIdentityCredentials
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/federatedidentitycredential-delete?view=graph-rest-1.0
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: '204'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/federatedIdentityCredentials/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: application-id
      in: path
      description: The unique identifier of application
      required: true
      schema:
        type: string
      x-ms-docs-key-type: application
    get:
      tags:
      - Applications Federated Identity Credentials
      summary: Microsoft Graph Get the number of the resource
      description: Performs GET operation on /applications/{application-id}/federatedIdentityCredentials/$count
      operationId: countApplicationsFederatedIdentityCredentials
      parameters:
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
components:
  parameters:
    Top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    Count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
  responses:
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
          examples:
            ODataCountResponseExample:
              $ref: '#/components/examples/ODataCountResponseExample'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
          examples:
            ODataErrorExample:
              $ref: '#/components/examples/ODataErrorExample'
  schemas:
    InnerError:
      title: InnerError
      type: object
      properties:
        request-id:
          type: string
        date:
          type: string
          format: date-time
        client-request-id:
          type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the entity.
    ODataCountResponse:
      title: ODataCountResponse
      type: integer
      format: int32
      description: The count of entities
    ODataError:
      title: ODataError
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    ErrorDetail:
      title: ErrorDetail
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    FederatedIdentityCredential:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: federatedIdentityCredential
        required:
        - '@odata.type'
        type: object
        properties:
          audiences:
            type: array
            items:
              type: string
            description: The audience that can appear in the external token. This field is mandatory and should be set to api://AzureADTokenExchange for Microsoft Entra ID. It says what Microsoft identity platform should accept in the aud claim in the incoming token. This value represents Microsoft Entra ID in your external identity provider and has no fixed value across identity providers - you might need to create a new application registration in your identity provider to serve as the audience of this token. This field can only accept a single value and has a limit of 600 characters. Required.
          description:
            type: string
            description: The unvalidated description of the federated identity credential, provided by the user. It has a limit of 600 characters. Optional.
            nullable: true
          issuer:
            type: string
            description: The URL of the external identity provider, which must match the issuer claim of the external token being exchanged. The combination of the values of issuer and subject must be unique within the app. It has a limit of 600 characters. Required.
          name:
            type: string
            description: The unique identifier for the federated identity credential, which has a limit of 120 characters and must be URL friendly. The string is immutable after it's created. Alternate key. Required. Not nullable. Supports $filter (eq).
          subject:
            type: string
            description: Required. The identifier of the external software workload within the external identity provider. Like the audience value, it has no fixed format; each identity provider uses their own - sometimes a GUID, sometimes a colon delimited identifier, sometimes arbitrary strings. The value here must match the sub claim within the token presented to Microsoft Entra ID. The combination of issuer and subject must be unique within the app. It has a limit of 600 characters. Supports $filter (eq).
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.federatedIdentityCredential'
    MainError:
      title: MainError
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        target:
          type: string
          description: Target of the error
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innerError:
          $ref: '#/components/schemas/InnerError'
  examples:
    ODataErrorExample:
      value:
        error:
          code: BadRequest
          message: The request is invalid.
          target: /resource
          details:
          - code: InvalidParameter
            message: Parameter value is invalid.
            target: parameterName
          innerError:
            request-id: 00000000-0000-0000-0000-000000000001
            date: '2024-01-15T10:30:00Z'
            client-request-id: 00000000-0000-0000-0000-000000000002
    FederatedIdentityCredentialExample:
      value:
        id: 00000000-0000-0000-0000-000000000001
        audiences:
        - string-value
        description: This is an example description.
        issuer: string-value
        name: example-name
        subject: string-value
        '@odata.type': '#microsoft.graph.federatedidentitycredential'
    FederatedIdentityCredentialRequestExample:
      value:
        id: 00000000-0000-0000-0000-000000000001
        audiences:
        - string-value
        description: This is an example description.
        issuer: string-value
        name: example-name
        subject: string-value
        '@odata.type': '#microsoft.graph.federatedidentitycredential'
    ODataCountResponseExample:
      value: 42
