openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin places.checkInClaim API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: places.checkInClaim
  x-ms-docs-toc-type: page
paths:
  /places/{place-id}/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkInClaim
      description: Read the properties and relationships of a checkInClaim object. This API provides the check-in status for a specific place, such as a desk, room, or workspace, associated with a particular reservation.
      operationId: places.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create checkInClaim
      description: Create a new checkInClaim object to record the check-in status for a specific place, such as a desk or a room, associated with a specific calendar reservation. This check-in confirms that the reserved space is in use and prevents automatic release if auto-release policies are configured for that place.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/place-post-checkins?view=graph-rest-1.0
      operationId: places.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkInClaim
      description: Read the properties and relationships of a checkInClaim object. This API provides the check-in status for a specific place, such as a desk, room, or workspace, associated with a particular reservation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/checkinclaim-get?view=graph-rest-1.0
      operationId: places.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.checkIns.GetCount-2709
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.building/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsBuilding.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsBuilding.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsBuilding.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsBuilding.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsBuilding.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.building/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsBuilding.checkIns.GetCount-114f
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.desk/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsDesk.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsDesk.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsDesk.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsDesk.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsDesk.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.desk/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsDesk.checkIns.GetCount-fd8b
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.floor/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsFloor.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsFloor.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsFloor.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsFloor.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsFloor.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.floor/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsFloor.checkIns.GetCount-e279
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.room/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsRoom.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsRoom.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsRoom.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsRoom.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsRoom.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.room/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsRoom.checkIns.GetCount-9b19
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.roomList/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsRoomList.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsRoomList.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsRoomList.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsRoomList.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsRoomList.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.roomList/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsRoomList.checkIns.GetCount-e70f
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.section/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.workspace/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsSection.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsSection.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsSection.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsSection.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsSection.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.section/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsSection.checkIns.GetCount-4bba
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /places/{place-id}/graph.workspace/checkIns:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns
    - /places/{place-id}/graph.building/checkIns
    - /places/{place-id}/graph.desk/checkIns
    - /places/{place-id}/graph.floor/checkIns
    - /places/{place-id}/graph.room/checkIns
    - /places/{place-id}/graph.roomList/checkIns
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns
    - /places/{place-id}/graph.section/checkIns
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsWorkspace.ListCheckIns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checkInClaimCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Create new navigation property to checkIns for places
      operationId: places.AsWorkspace.CreateCheckIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.workspace/checkIns/{checkInClaim-calendarEventId}:
    description: Provides operations to manage the checkIns property of the microsoft.graph.place entity.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    - name: checkInClaim-calendarEventId
      in: path
      description: The unique identifier of checkInClaim
      required: true
      schema:
        type: string
      x-ms-docs-key-type: checkInClaim
    x-ms-docs-grouped-path:
    - /places/{place-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.building/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.desk/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.floor/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.room/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/rooms/{room-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.roomList/workspaces/{workspace-id}/checkIns/{checkInClaim-calendarEventId}
    - /places/{place-id}/graph.section/checkIns/{checkInClaim-calendarEventId}
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get checkIns from places
      description: A subresource of a place object that indicates the check-in status of an Outlook calendar event booked at the place.
      operationId: places.AsWorkspace.GetCheckIns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Update the navigation property checkIns in places
      operationId: places.AsWorkspace.UpdateCheckIns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checkInClaim'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Delete navigation property checkIns for places
      operationId: places.AsWorkspace.DeleteCheckIns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /places/{place-id}/graph.workspace/checkIns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: place-id
      in: path
      description: The unique identifier of place
      required: true
      schema:
        type: string
      x-ms-docs-key-type: place
    get:
      tags:
      - places.checkInClaim
      summary: Microsoft Graph Get the number of the resource
      operationId: places.AsWorkspace.checkIns.GetCount-d022
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.checkInMethod:
      title: checkInMethod
      enum:
      - unspecified
      - manual
      - inferred
      - verified
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    ODataCountResponse:
      type: integer
      format: int32
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.count':
          type: integer
          format: int64
          nullable: true
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.checkInClaimCollectionResponse:
      title: Collection of checkInClaim
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
      - type: object
        properties:
          value:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.checkInClaim'
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
      - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.checkInClaim:
      title: checkInClaim
      required:
      - '@odata.type'
      type: object
      properties:
        calendarEventId:
          type: string
          description: The unique identifier for an Outlook calendar event associated with the checkInClaim object. For more information, see the iCalUId property in event.
        checkInMethod:
          $ref: '#/components/schemas/microsoft.graph.checkInMethod'
        createdDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The date and time when the checkInClaim object was created. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
  responses:
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.checkInClaimCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.checkInClaimCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
