openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Internet Explorer Mode API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Internet Explorer Mode
  description: Operations for managing Internet Explorer mode configurations
paths:
  /admin/edge/internetExplorerMode:
    description: Provides operations to manage Internet Explorer mode settings.
    get:
      tags:
      - Internet Explorer Mode
      summary: Microsoft Graph Get Internet Explorer mode settings
      description: Retrieve the Internet Explorer mode configuration container.
      operationId: getEdgeInternetExplorerMode
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternetExplorerMode'
              examples:
                GetInternetExplorerModeResponse:
                  $ref: '#/components/examples/GetInternetExplorerModeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Internet Explorer Mode
      summary: Microsoft Graph Update Internet Explorer mode settings
      description: Update the Internet Explorer mode configuration.
      operationId: updateEdgeInternetExplorerMode
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternetExplorerMode'
            examples:
              UpdateInternetExplorerModeRequest:
                $ref: '#/components/examples/UpdateInternetExplorerModeRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternetExplorerMode'
              examples:
                UpdateInternetExplorerModeResponse:
                  $ref: '#/components/examples/UpdateInternetExplorerModeResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Internet Explorer Mode
      summary: Microsoft Graph Delete Internet Explorer mode settings
      description: Delete the Internet Explorer mode configuration.
      operationId: deleteEdgeInternetExplorerMode
      parameters:
      - name: If-Match
        in: header
        description: ETag for optimistic concurrency control
        schema:
          type: string
      responses:
        '204':
          description: Success - No content returned
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
  schemas:
    InternetExplorerMode:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: InternetExplorerMode
        type: object
        properties:
          siteLists:
            type: array
            items:
              $ref: '#/components/schemas/BrowserSiteList'
          '@odata.type':
            type: string
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity.
        '@odata.type':
          type: string
    BrowserSiteListStatus:
      title: BrowserSiteListStatus
      type: string
      enum:
      - draft
      - published
      - pending
      - unknownFutureValue
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    BrowserSiteList:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: BrowserSiteList
        type: object
        properties:
          description:
            type: string
            nullable: true
          displayName:
            type: string
          lastModifiedDateTime:
            type: string
            format: date-time
          revision:
            type: string
          status:
            $ref: '#/components/schemas/BrowserSiteListStatus'
          '@odata.type':
            type: string
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
  examples:
    UpdateInternetExplorerModeRequest:
      summary: Example request for updating Internet Explorer mode settings
      value:
        '@odata.type': '#microsoft.graph.internetExplorerMode'
    UpdateInternetExplorerModeResponse:
      summary: Example response for updated Internet Explorer mode settings
      value:
        id: internetExplorerMode
        siteLists: []
        '@odata.type': '#microsoft.graph.internetExplorerMode'
    GetInternetExplorerModeResponse:
      summary: Example response for getting Internet Explorer mode settings
      value:
        id: internetExplorerMode
        siteLists: []
        '@odata.type': '#microsoft.graph.internetExplorerMode'
