openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Agreement File Versions API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Agreement File Versions
  description: Operations for managing versions of agreement file localizations
paths:
  /agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions:
    description: Provides operations to manage versions of a localized agreement file.
    parameters:
    - $ref: '#/components/parameters/AgreementId'
    - $ref: '#/components/parameters/AgreementFileLocalizationId'
    get:
      tags:
      - Agreement File Versions
      summary: Microsoft Graph List agreement file localization versions
      description: Retrieve a list of all versions for a specific localized agreement file.
      operationId: listAgreementFileLocalizationVersions
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/AgreementFileVersionCollectionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    post:
      tags:
      - Agreement File Versions
      summary: Microsoft Graph Create agreement file localization version
      description: Create a new version for a localized agreement file.
      operationId: createAgreementFileLocalizationVersion
      requestBody:
        description: New version to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementFileVersion'
            examples:
              CreateAgreementFileVersionRequest:
                $ref: '#/components/examples/CreateAgreementFileVersionRequest'
        required: true
      responses:
        2XX:
          description: Created navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementFileVersion'
              examples:
                CreateAgreementFileVersionResponse:
                  $ref: '#/components/examples/CreateAgreementFileVersionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
  /agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions/{agreementFileVersion-id}:
    description: Provides operations to manage a specific version of a localized agreement file.
    parameters:
    - $ref: '#/components/parameters/AgreementId'
    - $ref: '#/components/parameters/AgreementFileLocalizationId'
    - $ref: '#/components/parameters/AgreementFileVersionId'
    get:
      tags:
      - Agreement File Versions
      summary: Microsoft Graph Get agreement file localization version
      description: Retrieve a specific version of a localized agreement file.
      operationId: getAgreementFileLocalizationVersion
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementFileVersion'
              examples:
                GetAgreementFileVersionResponse:
                  $ref: '#/components/examples/GetAgreementFileVersionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    patch:
      tags:
      - Agreement File Versions
      summary: Microsoft Graph Update agreement file localization version
      description: Update the properties of a specific version of a localized agreement file.
      operationId: updateAgreementFileLocalizationVersion
      requestBody:
        description: New property values for the version
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementFileVersion'
            examples:
              UpdateAgreementFileVersionRequest:
                $ref: '#/components/examples/UpdateAgreementFileVersionRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementFileVersion'
              examples:
                UpdateAgreementFileVersionResponse:
                  $ref: '#/components/examples/UpdateAgreementFileVersionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
    delete:
      tags:
      - Agreement File Versions
      summary: Microsoft Graph Delete agreement file localization version
      description: Delete a specific version of a localized agreement file.
      operationId: deleteAgreementFileLocalizationVersion
      parameters:
      - name: If-Match
        in: header
        description: ETag for optimistic concurrency control
        schema:
          type: string
      responses:
        '204':
          description: Success - No content returned
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      x-ms-docs-operation-type: operation
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: default
components:
  parameters:
    AgreementFileVersionId:
      name: agreementFileVersion-id
      in: path
      description: The unique identifier of the agreement file version
      required: true
      schema:
        type: string
      x-ms-docs-key-type: agreementFileVersion
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    AgreementId:
      name: agreement-id
      in: path
      description: The unique identifier of the agreement
      required: true
      schema:
        type: string
      x-ms-docs-key-type: agreement
    Count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    AgreementFileLocalizationId:
      name: agreementFileLocalization-id
      in: path
      description: The unique identifier of the agreement file localization
      required: true
      schema:
        type: string
      x-ms-docs-key-type: agreementFileLocalization
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
    AgreementFileVersionCollectionResponse:
      description: Retrieved collection of agreement file versions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AgreementFileVersionCollectionResponse'
  schemas:
    ErrorDetail:
      title: ErrorDetail
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    MainError:
      title: MainError
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innerError:
          $ref: '#/components/schemas/InnerError'
    InnerError:
      title: InnerError
      type: object
      description: The structure of this object is service-specific
    Entity:
      title: Entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
    AgreementFileVersion:
      allOf:
      - $ref: '#/components/schemas/AgreementFileProperties'
      - title: AgreementFileVersion
        required:
        - '@odata.type'
        type: object
        properties:
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.agreementFileVersion'
    AgreementFileVersionCollectionResponse:
      title: AgreementFileVersionCollectionResponse
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AgreementFileVersion'
        '@odata.nextLink':
          type: string
          nullable: true
        '@odata.count':
          type: integer
          format: int32
    AgreementFileData:
      title: AgreementFileData
      type: object
      properties:
        data:
          type: string
          description: Data that represents the terms of use PDF document. Read-only.
          format: base64url
          nullable: true
        '@odata.type':
          type: string
    ODataError:
      title: ODataError
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    AgreementFileProperties:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - title: AgreementFileProperties
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The date time representing when the file was created. Read-only.
            format: date-time
            nullable: true
          displayName:
            type: string
            description: Localized display name of the policy file of an agreement.
            nullable: true
          fileData:
            anyOf:
            - $ref: '#/components/schemas/AgreementFileData'
            - type: object
              nullable: true
            description: Data that represents the terms of use PDF document.
          fileName:
            type: string
            description: Name of the agreement file.
            nullable: true
          isDefault:
            type: boolean
            description: If none of the languages matches the client preference, indicates whether this is the default agreement file.
            nullable: true
          isMajorVersion:
            type: boolean
            description: Indicates whether the agreement file is a major version update.
            nullable: true
          language:
            type: string
            description: The language of the agreement file in the format languagecode2-country/regioncode2.
            nullable: true
          '@odata.type':
            type: string
  examples:
    CreateAgreementFileVersionResponse:
      summary: Example response for created agreement file version
      value:
        id: 00000000-0000-0000-0000-000000000007
        displayName: Terms of Use - Spanish v2
        fileName: terms-of-use-es-v2.pdf
        language: es-ES
        isMajorVersion: true
        createdDateTime: '2024-02-01T10:30:00Z'
        '@odata.type': '#microsoft.graph.agreementFileVersion'
    CreateAgreementFileVersionRequest:
      summary: Example request to create an agreement file version
      value:
        displayName: Terms of Use - Spanish v2
        fileName: terms-of-use-es-v2.pdf
        language: es-ES
        isMajorVersion: true
        '@odata.type': '#microsoft.graph.agreementFileVersion'
    GetAgreementFileVersionResponse:
      summary: Example response for getting an agreement file version
      value:
        id: 00000000-0000-0000-0000-000000000007
        displayName: Terms of Use - Spanish v2
        fileName: terms-of-use-es-v2.pdf
        language: es-ES
        isMajorVersion: true
        createdDateTime: '2024-02-01T10:30:00Z'
        '@odata.type': '#microsoft.graph.agreementFileVersion'
    UpdateAgreementFileVersionResponse:
      summary: Example response for updated agreement file version
      value:
        id: 00000000-0000-0000-0000-000000000007
        displayName: Updated Terms of Use - Spanish v2
        fileName: terms-of-use-es-v2.pdf
        language: es-ES
        isMajorVersion: true
        createdDateTime: '2024-02-01T10:30:00Z'
        '@odata.type': '#microsoft.graph.agreementFileVersion'
    UpdateAgreementFileVersionRequest:
      summary: Example request to update an agreement file version
      value:
        displayName: Updated Terms of Use - Spanish v2
        '@odata.type': '#microsoft.graph.agreementFileVersion'
