openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin security.threatIntelligence API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: security.threatIntelligence
  x-ms-docs-toc-type: page
paths:
  /security/threatIntelligence:
    description: Provides operations to manage the threatIntelligence property of the microsoft.graph.security entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get threatIntelligence from security
      operationId: security.GetThreatIntelligence
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.threatIntelligence'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property threatIntelligence in security
      operationId: security.UpdateThreatIntelligence
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.threatIntelligence'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.threatIntelligence'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property threatIntelligence for security
      operationId: security.DeleteThreatIntelligence
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articleIndicators:
    description: Provides operations to manage the articleIndicators property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get articleIndicator
      description: Read the properties and relationships of an articleIndicator object.
      operationId: security.threatIntelligence.ListArticleIndicators
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.articleIndicatorCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to articleIndicators for security
      operationId: security.threatIntelligence.CreateArticleIndicators
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.articleIndicator'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.articleIndicator'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articleIndicators/{articleIndicator-id}:
    description: Provides operations to manage the articleIndicators property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: articleIndicator-id
      in: path
      description: The unique identifier of articleIndicator
      required: true
      schema:
        type: string
      x-ms-docs-key-type: articleIndicator
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get articleIndicator
      description: Read the properties and relationships of an articleIndicator object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-articleindicator-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetArticleIndicators
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.articleIndicator'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property articleIndicators in security
      operationId: security.threatIntelligence.UpdateArticleIndicators
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.articleIndicator'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.articleIndicator'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property articleIndicators for security
      operationId: security.threatIntelligence.DeleteArticleIndicators
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articleIndicators/{articleIndicator-id}/artifact:
    description: Provides operations to manage the artifact property of the microsoft.graph.security.indicator entity.
    parameters:
    - name: articleIndicator-id
      in: path
      description: The unique identifier of articleIndicator
      required: true
      schema:
        type: string
      x-ms-docs-key-type: articleIndicator
    x-ms-docs-grouped-path:
    - /security/threatIntelligence/intelligenceProfileIndicators/{intelligenceProfileIndicator-id}/artifact
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get artifact from security
      description: The artifact related to this indicator.
      operationId: security.threatIntelligence.articleIndicators.GetArtifact
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.artifact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articleIndicators/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.articleIndicators.GetCount-c9c7
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/articles:
    description: Provides operations to manage the articles property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List articles
      description: Get a list of article objects, including their properties and relationships.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-threatintelligence-list-articles?view=graph-rest-1.0
      operationId: security.threatIntelligence.ListArticles
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.articleCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to articles for security
      operationId: security.threatIntelligence.CreateArticles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.article'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.article'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articles/{article-id}:
    description: Provides operations to manage the articles property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: article-id
      in: path
      description: The unique identifier of article
      required: true
      schema:
        type: string
      x-ms-docs-key-type: article
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get article
      description: Read the properties and relationships of an article object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-article-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetArticles
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.article'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property articles in security
      operationId: security.threatIntelligence.UpdateArticles
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.article'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.article'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property articles for security
      operationId: security.threatIntelligence.DeleteArticles
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articles/{article-id}/indicators:
    description: Provides operations to manage the indicators property of the microsoft.graph.security.article entity.
    parameters:
    - name: article-id
      in: path
      description: The unique identifier of article
      required: true
      schema:
        type: string
      x-ms-docs-key-type: article
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List indicators
      description: Get a list of articleIndicator objects that represent indicators of threat or compromise related to the contents of an article.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-article-list-indicators?view=graph-rest-1.0
      operationId: security.threatIntelligence.articles.ListIndicators
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.articleIndicatorCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articles/{article-id}/indicators/{articleIndicator-id}:
    description: Provides operations to manage the indicators property of the microsoft.graph.security.article entity.
    parameters:
    - name: article-id
      in: path
      description: The unique identifier of article
      required: true
      schema:
        type: string
      x-ms-docs-key-type: article
    - name: articleIndicator-id
      in: path
      description: The unique identifier of articleIndicator
      required: true
      schema:
        type: string
      x-ms-docs-key-type: articleIndicator
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get indicators from security
      description: Indicators related to this article.
      operationId: security.threatIntelligence.articles.GetIndicators
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.articleIndicator'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/articles/{article-id}/indicators/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: article-id
      in: path
      description: The unique identifier of article
      required: true
      schema:
        type: string
      x-ms-docs-key-type: article
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.articles.indicators.GetCount-1d6c
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/articles/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.articles.GetCount-3702
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hostComponents:
    description: Provides operations to manage the hostComponents property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostComponent
      description: Read the properties and relationships of a hostComponent object.
      operationId: security.threatIntelligence.ListHostComponents
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostComponentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to hostComponents for security
      operationId: security.threatIntelligence.CreateHostComponents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostComponent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostComponent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostComponents/{hostComponent-id}:
    description: Provides operations to manage the hostComponents property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: hostComponent-id
      in: path
      description: The unique identifier of hostComponent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostComponent
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostComponent
      description: Read the properties and relationships of a hostComponent object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-hostcomponent-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetHostComponents
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostComponent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property hostComponents in security
      operationId: security.threatIntelligence.UpdateHostComponents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostComponent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostComponent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property hostComponents for security
      operationId: security.threatIntelligence.DeleteHostComponents
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostComponents/{hostComponent-id}/host:
    description: Provides operations to manage the host property of the microsoft.graph.security.hostComponent entity.
    parameters:
    - name: hostComponent-id
      in: path
      description: The unique identifier of hostComponent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostComponent
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get host from security
      description: The host related to this component. This is a reverse navigation property. When navigating to components from a host, this should be assumed to be a return reference.
      operationId: security.threatIntelligence.hostComponents.GetHost
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostComponents/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hostComponents.GetCount-3ca4
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hostCookies:
    description: Provides operations to manage the hostCookies property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostCookie
      description: Read the properties and relationships of a hostCookie object.
      operationId: security.threatIntelligence.ListHostCookies
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostCookieCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to hostCookies for security
      operationId: security.threatIntelligence.CreateHostCookies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostCookie'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostCookies/{hostCookie-id}:
    description: Provides operations to manage the hostCookies property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: hostCookie-id
      in: path
      description: The unique identifier of hostCookie
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostCookie
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostCookie
      description: Read the properties and relationships of a hostCookie object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-hostcookie-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetHostCookies
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property hostCookies in security
      operationId: security.threatIntelligence.UpdateHostCookies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostCookie'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property hostCookies for security
      operationId: security.threatIntelligence.DeleteHostCookies
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostCookies/{hostCookie-id}/host:
    description: Provides operations to manage the host property of the microsoft.graph.security.hostCookie entity.
    parameters:
    - name: hostCookie-id
      in: path
      description: The unique identifier of hostCookie
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostCookie
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get host from security
      description: Indicates that a cookie of this name and domain was found related to this host.
      operationId: security.threatIntelligence.hostCookies.GetHost
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostCookies/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hostCookies.GetCount-ca74
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hostPairs:
    description: Provides operations to manage the hostPairs property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostPair
      description: Read the properties and relationships of a hostPair object.
      operationId: security.threatIntelligence.ListHostPairs
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostPairCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to hostPairs for security
      operationId: security.threatIntelligence.CreateHostPairs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPairs/{hostPair-id}:
    description: Provides operations to manage the hostPairs property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: hostPair-id
      in: path
      description: The unique identifier of hostPair
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPair
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostPair
      description: Read the properties and relationships of a hostPair object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-hostpair-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetHostPairs
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property hostPairs in security
      operationId: security.threatIntelligence.UpdateHostPairs
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property hostPairs for security
      operationId: security.threatIntelligence.DeleteHostPairs
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPairs/{hostPair-id}/childHost:
    description: Provides operations to manage the childHost property of the microsoft.graph.security.hostPair entity.
    parameters:
    - name: hostPair-id
      in: path
      description: The unique identifier of hostPair
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPair
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get childHost from security
      description: Host reached via the parentHost.
      operationId: security.threatIntelligence.hostPairs.GetChildHost
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPairs/{hostPair-id}/parentHost:
    description: Provides operations to manage the parentHost property of the microsoft.graph.security.hostPair entity.
    parameters:
    - name: hostPair-id
      in: path
      description: The unique identifier of hostPair
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPair
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get parentHost from security
      description: Host used to reach the childHost.
      operationId: security.threatIntelligence.hostPairs.GetParentHost
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPairs/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hostPairs.GetCount-6e30
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hostPorts:
    description: Provides operations to manage the hostPorts property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostPort
      description: Read the properties and relationships of a hostPort object.
      operationId: security.threatIntelligence.ListHostPorts
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostPortCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to hostPorts for security
      operationId: security.threatIntelligence.CreateHostPorts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostPort'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPort'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPorts/{hostPort-id}:
    description: Provides operations to manage the hostPorts property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: hostPort-id
      in: path
      description: The unique identifier of hostPort
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPort
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostPort
      description: Read the properties and relationships of a hostPort object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-hostport-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetHostPorts
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPort'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property hostPorts in security
      operationId: security.threatIntelligence.UpdateHostPorts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.hostPort'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPort'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property hostPorts for security
      operationId: security.threatIntelligence.DeleteHostPorts
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPorts/{hostPort-id}/host:
    description: Provides operations to manage the host property of the microsoft.graph.security.hostPort entity.
    parameters:
    - name: hostPort-id
      in: path
      description: The unique identifier of hostPort
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPort
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get host from security
      description: The host related to this hostPort. This is a reverse navigation property. When you navigate to hostPorts from a host, assume that this is a return reference.
      operationId: security.threatIntelligence.hostPorts.GetHost
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPorts/{hostPort-id}/mostRecentSslCertificate:
    description: Provides operations to manage the mostRecentSslCertificate property of the microsoft.graph.security.hostPort entity.
    parameters:
    - name: hostPort-id
      in: path
      description: The unique identifier of hostPort
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPort
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get mostRecentSslCertificate from security
      description: The most recent sslCertificate used to communicate on the port.
      operationId: security.threatIntelligence.hostPorts.GetMostRecentSslCertificate
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.sslCertificate'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hostPorts/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hostPorts.GetCount-5189
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts:
    description: Provides operations to manage the hosts property of the microsoft.graph.security.threatIntelligence entity.
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get host
      description: 'Read the properties and relationships of a host object. The host resource is the abstract base type that returns an implementation. A host can be of one of the following types:'
      operationId: security.threatIntelligence.ListHosts
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Create new navigation property to hosts for security
      operationId: security.threatIntelligence.CreateHosts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.host'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}:
    description: Provides operations to manage the hosts property of the microsoft.graph.security.threatIntelligence entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get host
      description: 'Read the properties and relationships of a host object. The host resource is the abstract base type that returns an implementation. A host can be of one of the following types:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-get?view=graph-rest-1.0
      operationId: security.threatIntelligence.GetHosts
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Update the navigation property hosts in security
      operationId: security.threatIntelligence.UpdateHosts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.host'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.host'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Delete navigation property hosts for security
      operationId: security.threatIntelligence.DeleteHosts
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/childHostPairs:
    description: Provides operations to manage the childHostPairs property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List childHostPairs
      description: 'Get the list of hostPair resources associated with a host, where that host is the *parent* and has an outgoing pairing to a *child*. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-childhostpairs?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListChildHostPairs
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostPairCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/childHostPairs/{hostPair-id}:
    description: Provides operations to manage the childHostPairs property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: hostPair-id
      in: path
      description: The unique identifier of hostPair
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPair
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get childHostPairs from security
      description: The hostPairs that are resources associated with a host, where that host is the parentHost and has an outgoing pairing to a childHost.
      operationId: security.threatIntelligence.hosts.GetChildHostPairs
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/childHostPairs/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.childHostPairs.GetCount-d960
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/components:
    description: Provides operations to manage the components property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List components
      description: Get a list of hostComponent resources.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-components?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListComponents
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostComponentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/components/{hostComponent-id}:
    description: Provides operations to manage the components property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: hostComponent-id
      in: path
      description: The unique identifier of hostComponent
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostComponent
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get components from security
      description: The hostComponents that are associated with this host.
      operationId: security.threatIntelligence.hosts.GetComponents
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostComponent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/components/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.components.GetCount-3f6d
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/cookies:
    description: Provides operations to manage the cookies property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List cookies
      description: Get a list of hostCookie resources.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-cookies?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListCookies
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostCookieCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/cookies/{hostCookie-id}:
    description: Provides operations to manage the cookies property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: hostCookie-id
      in: path
      description: The unique identifier of hostCookie
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostCookie
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get cookies from security
      description: The hostCookies that are associated with this host.
      operationId: security.threatIntelligence.hosts.GetCookies
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/cookies/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.cookies.GetCount-d607
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/hostPairs:
    description: Provides operations to manage the hostPairs property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List hostPairs
      description: Get the list of hostPair resources associated with a host, where that host is *either* the *parent* or the *child*.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-hostpairs?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListHostPairs
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostPairCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/hostPairs/{hostPair-id}:
    description: Provides operations to manage the hostPairs property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: hostPair-id
      in: path
      description: The unique identifier of hostPair
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPair
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get hostPairs from security
      description: The hostPairs that are associated with this host, where this host is either the parentHost or childHost.
      operationId: security.threatIntelligence.hosts.GetHostPairs
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/hostPairs/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.hostPairs.GetCount-e637
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/parentHostPairs:
    description: Provides operations to manage the parentHostPairs property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List parentHostPairs
      description: Get the list of hostPair resources associated with a host, where that host is the *child* and has an incoming pairing with a *parent*.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-parenthostpairs?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListParentHostPairs
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostPairCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/parentHostPairs/{hostPair-id}:
    description: Provides operations to manage the parentHostPairs property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: hostPair-id
      in: path
      description: The unique identifier of hostPair
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPair
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get parentHostPairs from security
      description: The hostPairs that are associated with a host, where that host is the childHost and has an incoming pairing with a parentHost.
      operationId: security.threatIntelligence.hosts.GetParentHostPairs
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.hostPair'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/parentHostPairs/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.parentHostPairs.GetCount-51b4
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/passiveDns:
    description: Provides operations to manage the passiveDns property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List passiveDns
      description: 'Get a list of passiveDnsRecord resources associated with a host. This method is a forward DNS lookup that queries the IP address of the specified host using its hostname. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-passivedns?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListPassiveDns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.passiveDnsRecordCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/passiveDns/{passiveDnsRecord-id}:
    description: Provides operations to manage the passiveDns property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: passiveDnsRecord-id
      in: path
      description: The unique identifier of passiveDnsRecord
      required: true
      schema:
        type: string
      x-ms-docs-key-type: passiveDnsRecord
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get passiveDns from security
      description: Passive DNS retrieval about this host.
      operationId: security.threatIntelligence.hosts.GetPassiveDns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.passiveDnsRecord'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/passiveDns/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.passiveDns.GetCount-7c2c
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/passiveDnsReverse:
    description: Provides operations to manage the passiveDnsReverse property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List passiveDnsReverse
      description: Get a collection of passiveDnsRecord resources from a reverse passive DNS retrieval.  A reverse DNS lookup queries the hostname of a host using an IP address.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-passivednsreverse?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListPassiveDnsReverse
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.passiveDnsRecordCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/passiveDnsReverse/{passiveDnsRecord-id}:
    description: Provides operations to manage the passiveDnsReverse property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: passiveDnsRecord-id
      in: path
      description: The unique identifier of passiveDnsRecord
      required: true
      schema:
        type: string
      x-ms-docs-key-type: passiveDnsRecord
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get passiveDnsReverse from security
      description: Reverse passive DNS retrieval about this host.
      operationId: security.threatIntelligence.hosts.GetPassiveDnsReverse
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.passiveDnsRecord'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/passiveDnsReverse/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get the number of the resource
      operationId: security.threatIntelligence.hosts.passiveDnsReverse.GetCount-0421
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/threatIntelligence/hosts/{host-id}/ports:
    description: Provides operations to manage the ports property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph List hostPorts
      description: Get the list of hostPort resources associated with a host.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/security-host-list-ports?view=graph-rest-1.0
      operationId: security.threatIntelligence.hosts.ListPorts
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.security.hostPortCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /security/threatIntelligence/hosts/{host-id}/ports/{hostPort-id}:
    description: Provides operations to manage the ports property of the microsoft.graph.security.host entity.
    parameters:
    - name: host-id
      in: path
      description: The unique identifier of host
      required: true
      schema:
        type: string
      x-ms-docs-key-type: host
    - name: hostPort-id
      in: path
      description: The unique identifier of hostPort
      required: true
      schema:
        type: string
      x-ms-docs-key-type: hostPort
    get:
      tags:
      - security.threatIntelligence
      summary: Microsoft Graph Get ports from security
      description: The hostPorts associated with a host.
[...]
