openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin Identity Authentication Events Flows API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: Identity Authentication Events Flows
  description: Operations related to Identity Authentication Events Flows
paths:
  /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications:
    description: Provides operations to manage the includeApplications property of the microsoft.graph.authenticationConditionsApplications entity.
    parameters:
    - name: authenticationEventsFlow-id
      in: path
      description: The unique identifier of authenticationEventsFlow
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationEventsFlow
    get:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph List includeApplications (for a user flow)
      description: 'List the applications linked to an external identities self-service sign up user flow that''s represented by an externalUsersSelfServiceSignupEventsFlow object. These are the applications for which the authentication experience that''s defined by the user flow is enabled. To find the user flow that''s linked to an application, see Example 4: List user flow associated with specific application ID.'
      operationId: getIdentityAuthenticationEventsFlowsConditionsApplicationsIncludeApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionsapplications-list-includeapplications?view=graph-rest-1.0
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/AuthenticationConditionApplicationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Add includeApplication (to a user flow)
      description: Add or link an application to a user flow, or authenticationEventsFlow. This enables the authentication experience defined by the user flow to be enabled for the application. An application can only be linked to one user flow. The app must have an associated service principal in the tenant.
      operationId: createIdentityAuthenticationEventsFlowsConditionsApplicationsIncludeApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionsapplications-post-includeapplications?view=graph-rest-1.0
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
  ? /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
  : description: Provides operations to manage the includeApplications property of the microsoft.graph.authenticationConditionsApplications entity.
    parameters:
    - name: authenticationEventsFlow-id
      in: path
      description: The unique identifier of authenticationEventsFlow
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationEventsFlow
    - name: authenticationConditionApplication-appId
      in: path
      description: The unique identifier of authenticationConditionApplication
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationConditionApplication
    get:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Get includeApplications from identity
      description: Performs GET operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
      operationId: getIdentityAuthenticationEventsFlowsConditionsApplicationsIncludeApplications1
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Update Include Applications
      description: Performs PATCH operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
      operationId: updateIdentityAuthenticationEventsFlowsConditionsApplicationsIncludeApplications
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Delete authenticationConditionApplication (from a user flow)
      description: Remove or unlink an application from an authenticationEventsFlow object. This disables the customized authentication experience defined for the application.
      operationId: deleteIdentityAuthenticationEventsFlowsConditionsApplicationsIncludeApplications
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionapplication-delete?view=graph-rest-1.0
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: '204'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: authenticationEventsFlow-id
      in: path
      description: The unique identifier of authenticationEventsFlow
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationEventsFlow
    get:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Get the number of the resource
      description: Performs GET operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/$count
      operationId: countIdentityAuthenticationEventsFlowsConditionsApplicationsIncludeApplications
      parameters:
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
  ? /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications
  : description: Provides operations to manage the includeApplications property of the microsoft.graph.authenticationConditionsApplications entity.
    parameters:
    - name: authenticationEventsFlow-id
      in: path
      description: The unique identifier of authenticationEventsFlow
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationEventsFlow
    get:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Get includeApplications from identity
      description: Performs GET operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications
      operationId: getIdentityAuthenticationEventsFlowsGraphExternalUsersSelfServiceSignUpEventsFlowConditionsApplicationsIncludeApplications
      parameters:
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/AuthenticationConditionApplicationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Create Include Applications
      description: Performs POST operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications
      operationId: createIdentityAuthenticationEventsFlowsGraphExternalUsersSelfServiceSignUpEventsFlowConditionsApplicationsIncludeApplications
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
  ? /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
  : description: Provides operations to manage the includeApplications property of the microsoft.graph.authenticationConditionsApplications entity.
    parameters:
    - name: authenticationEventsFlow-id
      in: path
      description: The unique identifier of authenticationEventsFlow
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationEventsFlow
    - name: authenticationConditionApplication-appId
      in: path
      description: The unique identifier of authenticationConditionApplication
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationConditionApplication
    get:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Get includeApplications from identity
      description: Performs GET operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
      operationId: getIdentityAuthenticationEventsFlowsGraphExternalUsersSelfServiceSignUpEventsFlowConditionsApplicationsIncludeApplications1
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Update Include Applications
      description: Performs PATCH operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
      operationId: updateIdentityAuthenticationEventsFlowsGraphExternalUsersSelfServiceSignUpEventsFlowConditionsApplicationsIncludeApplications
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Delete Include Applications
      description: Performs DELETE operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/{authenticationConditionApplication-appId}
      operationId: deleteIdentityAuthenticationEventsFlowsGraphExternalUsersSelfServiceSignUpEventsFlowConditionsApplicationsIncludeApplications
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: '204'
      x-ms-docs-operation-type: operation
  ? /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/$count
  : description: Provides operations to count the resources in the collection.
    parameters:
    - name: authenticationEventsFlow-id
      in: path
      description: The unique identifier of authenticationEventsFlow
      required: true
      schema:
        type: string
      x-ms-docs-key-type: authenticationEventsFlow
    get:
      tags:
      - Identity Authentication Events Flows
      summary: Microsoft Graph Get the number of the resource
      description: Performs GET operation on /identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/$count
      operationId: countIdentityAuthenticationEventsFlowsGraphExternalUsersSelfServiceSignUpEventsFlowConditionsApplicationsIncludeApplications
      parameters:
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 2XX
components:
  parameters:
    Top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    Skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    Count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    Search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    Filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
  responses:
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
          examples:
            ODataCountResponseExample:
              $ref: '#/components/examples/ODataCountResponseExample'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataError'
          examples:
            ODataErrorExample:
              $ref: '#/components/examples/ODataErrorExample'
  schemas:
    InnerError:
      title: InnerError
      type: object
      properties:
        request-id:
          type: string
        date:
          type: string
          format: date-time
        client-request-id:
          type: string
    ODataCountResponse:
      title: ODataCountResponse
      type: integer
      format: int32
      description: The count of entities
    ODataError:
      title: ODataError
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/MainError'
    ErrorDetail:
      title: ErrorDetail
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    MainError:
      title: MainError
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        target:
          type: string
          description: Target of the error
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innerError:
          $ref: '#/components/schemas/InnerError'
  examples:
    ODataErrorExample:
      value:
        error:
          code: BadRequest
          message: The request is invalid.
          target: /resource
          details:
          - code: InvalidParameter
            message: Parameter value is invalid.
            target: parameterName
          innerError:
            request-id: 00000000-0000-0000-0000-000000000001
            date: '2024-01-15T10:30:00Z'
            client-request-id: 00000000-0000-0000-0000-000000000002
    ODataCountResponseExample:
      value: 42
