openapi: 3.1.0
info:
  title: Microsoft Graph Admin Admin.admin security.attackSimulationRoot API
  description: 'Microsoft Graph API for managing administrative resources in Microsoft Entra ID.

    This API enables administrators to manage Microsoft Edge browser settings, Internet Explorer mode configurations,

    site lists, shared browser sites, Microsoft 365 Apps installation options, people insights, service announcements,

    SharePoint settings, Copilot administration, directory administrative units, and admin consent policies.'
  version: 1.0.0
  contact:
    name: Microsoft Graph API Support
    url: https://developer.microsoft.com/graph
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph API v1.0 endpoint
tags:
- name: security.attackSimulationRoot
  x-ms-docs-toc-type: page
paths:
  /security/attackSimulation:
    description: Provides operations to manage the attackSimulation property of the microsoft.graph.security entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get attackSimulation from security
      operationId: security.GetAttackSimulation
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property attackSimulation in security
      operationId: security.UpdateAttackSimulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property attackSimulation for security
      operationId: security.DeleteAttackSimulation
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications:
    description: Provides operations to manage the endUserNotifications property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List endUserNotifications
      description: Get a list of endUserNotification objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-endusernotifications?view=graph-rest-1.0
      operationId: security.attackSimulation.ListEndUserNotifications
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.endUserNotificationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to endUserNotifications for security
      operationId: security.attackSimulation.CreateEndUserNotifications
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications/{endUserNotification-id}:
    description: Provides operations to manage the endUserNotifications property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: endUserNotification-id
      in: path
      description: The unique identifier of endUserNotification
      required: true
      schema:
        type: string
      x-ms-docs-key-type: endUserNotification
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get endUserNotifications from security
      description: Represents an end user's notification for an attack simulation training.
      operationId: security.attackSimulation.GetEndUserNotifications
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property endUserNotifications in security
      operationId: security.attackSimulation.UpdateEndUserNotifications
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotification'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property endUserNotifications for security
      operationId: security.attackSimulation.DeleteEndUserNotifications
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications/{endUserNotification-id}/details:
    description: Provides operations to manage the details property of the microsoft.graph.endUserNotification entity.
    parameters:
    - name: endUserNotification-id
      in: path
      description: The unique identifier of endUserNotification
      required: true
      schema:
        type: string
      x-ms-docs-key-type: endUserNotification
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get details from security
      operationId: security.attackSimulation.endUserNotifications.ListDetails
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.endUserNotificationDetailCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to details for security
      operationId: security.attackSimulation.endUserNotifications.CreateDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications/{endUserNotification-id}/details/{endUserNotificationDetail-id}:
    description: Provides operations to manage the details property of the microsoft.graph.endUserNotification entity.
    parameters:
    - name: endUserNotification-id
      in: path
      description: The unique identifier of endUserNotification
      required: true
      schema:
        type: string
      x-ms-docs-key-type: endUserNotification
    - name: endUserNotificationDetail-id
      in: path
      description: The unique identifier of endUserNotificationDetail
      required: true
      schema:
        type: string
      x-ms-docs-key-type: endUserNotificationDetail
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get details from security
      operationId: security.attackSimulation.endUserNotifications.GetDetails
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property details in security
      operationId: security.attackSimulation.endUserNotifications.UpdateDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endUserNotificationDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property details for security
      operationId: security.attackSimulation.endUserNotifications.DeleteDetails
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/endUserNotifications/{endUserNotification-id}/details/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: endUserNotification-id
      in: path
      description: The unique identifier of endUserNotification
      required: true
      schema:
        type: string
      x-ms-docs-key-type: endUserNotification
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.endUserNotifications.details.GetCount-5759
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/endUserNotifications/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.endUserNotifications.GetCount-421b
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/landingPages:
    description: Provides operations to manage the landingPages property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List landingPages
      description: Get a list of the landingPage objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-landingpage?view=graph-rest-1.0
      operationId: security.attackSimulation.ListLandingPages
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.landingPageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to landingPages for security
      operationId: security.attackSimulation.CreateLandingPages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/landingPages/{landingPage-id}:
    description: Provides operations to manage the landingPages property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: landingPage-id
      in: path
      description: The unique identifier of landingPage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: landingPage
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get landingPage
      description: Get a landingPage associated with an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/landingpage-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetLandingPages
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property landingPages in security
      operationId: security.attackSimulation.UpdateLandingPages
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property landingPages for security
      operationId: security.attackSimulation.DeleteLandingPages
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/landingPages/{landingPage-id}/details:
    description: Provides operations to manage the details property of the microsoft.graph.landingPage entity.
    parameters:
    - name: landingPage-id
      in: path
      description: The unique identifier of landingPage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: landingPage
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get details from security
      description: The detail information for a landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.landingPages.ListDetails
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.landingPageDetailCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to details for security
      operationId: security.attackSimulation.landingPages.CreateDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/landingPages/{landingPage-id}/details/{landingPageDetail-id}:
    description: Provides operations to manage the details property of the microsoft.graph.landingPage entity.
    parameters:
    - name: landingPage-id
      in: path
      description: The unique identifier of landingPage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: landingPage
    - name: landingPageDetail-id
      in: path
      description: The unique identifier of landingPageDetail
      required: true
      schema:
        type: string
      x-ms-docs-key-type: landingPageDetail
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get details from security
      description: The detail information for a landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.landingPages.GetDetails
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property details in security
      operationId: security.attackSimulation.landingPages.UpdateDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property details for security
      operationId: security.attackSimulation.landingPages.DeleteDetails
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/landingPages/{landingPage-id}/details/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: landingPage-id
      in: path
      description: The unique identifier of landingPage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: landingPage
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.landingPages.details.GetCount-8be7
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/landingPages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.landingPages.GetCount-7f61
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/loginPages:
    description: Provides operations to manage the loginPages property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List loginPages
      description: Get a list of the loginPage objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-loginpage?view=graph-rest-1.0
      operationId: security.attackSimulation.ListLoginPages
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.loginPageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to loginPages for security
      operationId: security.attackSimulation.CreateLoginPages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.loginPage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/loginPages/{loginPage-id}:
    description: Provides operations to manage the loginPages property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: loginPage-id
      in: path
      description: The unique identifier of loginPage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: loginPage
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get loginPage
      description: Get a loginPage associated with an attack simulation campaign for a tenant. Login pages are shown to users in attack simulations that use credential harvest and link in attachment social engineering techniques.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/loginpage-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetLoginPages
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property loginPages in security
      operationId: security.attackSimulation.UpdateLoginPages
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.loginPage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property loginPages for security
      operationId: security.attackSimulation.DeleteLoginPages
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/loginPages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.loginPages.GetCount-a7ea
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/operations:
    description: Provides operations to manage the operations property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get attackSimulationOperation
      description: Get an attack simulation operation to track a long-running operation request for a tenant.
      operationId: security.attackSimulation.ListOperations
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attackSimulationOperationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to operations for security
      operationId: security.attackSimulation.CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/operations/{attackSimulationOperation-id}:
    description: Provides operations to manage the operations property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: attackSimulationOperation-id
      in: path
      description: The unique identifier of attackSimulationOperation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: attackSimulationOperation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get attackSimulationOperation
      description: Get an attack simulation operation to track a long-running operation request for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationoperation-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetOperations
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property operations in security
      operationId: security.attackSimulation.UpdateOperations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property operations for security
      operationId: security.attackSimulation.DeleteOperations
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/operations/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.operations.GetCount-e5f7
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/payloads:
    description: Provides operations to manage the payloads property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List payloads
      description: Get a list of payloads for attack simulation campaigns. This operation expects the mandatory parameter source to filter and query the respective data source.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-payloads?view=graph-rest-1.0
      operationId: security.attackSimulation.ListPayloads
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.payloadCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to payloads for security
      operationId: security.attackSimulation.CreatePayloads
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.payload'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/payloads/{payload-id}:
    description: Provides operations to manage the payloads property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: payload-id
      in: path
      description: The unique identifier of payload
      required: true
      schema:
        type: string
      x-ms-docs-key-type: payload
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get payload
      description: Get an attack simulation campaign payload for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/payload-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetPayloads
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property payloads in security
      operationId: security.attackSimulation.UpdatePayloads
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.payload'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property payloads for security
      operationId: security.attackSimulation.DeletePayloads
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/payloads/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.payloads.GetCount-f3a2
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulationAutomations:
    description: Provides operations to manage the simulationAutomations property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List simulationAutomations
      description: Get a list of attack simulation automations for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-simulationautomations?view=graph-rest-1.0
      operationId: security.attackSimulation.ListSimulationAutomations
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationAutomationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to simulationAutomations for security
      operationId: security.attackSimulation.CreateSimulationAutomations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulationAutomations/{simulationAutomation-id}:
    description: Provides operations to manage the simulationAutomations property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: simulationAutomation-id
      in: path
      description: The unique identifier of simulationAutomation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulationAutomation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get simulationAutomation
      description: Get an attack simulation automation for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulationautomation-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetSimulationAutomations
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property simulationAutomations in security
      operationId: security.attackSimulation.UpdateSimulationAutomations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property simulationAutomations for security
      operationId: security.attackSimulation.DeleteSimulationAutomations
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs:
    description: Provides operations to manage the runs property of the microsoft.graph.simulationAutomation entity.
    parameters:
    - name: simulationAutomation-id
      in: path
      description: The unique identifier of simulationAutomation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulationAutomation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List runs
      description: Get a list of the attack simulation automation runs for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulationautomation-list-runs?view=graph-rest-1.0
      operationId: security.attackSimulation.simulationAutomations.ListRuns
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationAutomationRunCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to runs for security
      operationId: security.attackSimulation.simulationAutomations.CreateRuns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/{simulationAutomationRun-id}:
    description: Provides operations to manage the runs property of the microsoft.graph.simulationAutomation entity.
    parameters:
    - name: simulationAutomation-id
      in: path
      description: The unique identifier of simulationAutomation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulationAutomation
    - name: simulationAutomationRun-id
      in: path
      description: The unique identifier of simulationAutomationRun
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulationAutomationRun
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get runs from security
      description: A collection of simulation automation runs.
      operationId: security.attackSimulation.simulationAutomations.GetRuns
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property runs in security
      operationId: security.attackSimulation.simulationAutomations.UpdateRuns
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property runs for security
      operationId: security.attackSimulation.simulationAutomations.DeleteRuns
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: simulationAutomation-id
      in: path
      description: The unique identifier of simulationAutomation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulationAutomation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.simulationAutomations.runs.GetCount-9ec4
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulationAutomations/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.simulationAutomations.GetCount-6071
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/simulations:
    description: Provides operations to manage the simulations property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List simulations
      description: Get a list of attack simulation campaigns for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-simulations?view=graph-rest-1.0
      operationId: security.attackSimulation.ListSimulations
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.simulationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create simulation
      description: Create an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-post-simulation?view=graph-rest-1.0
      operationId: security.attackSimulation.CreateSimulations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/{simulation-id}:
    description: Provides operations to manage the simulations property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: simulation-id
      in: path
      description: The unique identifier of simulation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get simulation
      description: Get an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetSimulations
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update simulation
      description: Update an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-update?view=graph-rest-1.0
      operationId: security.attackSimulation.UpdateSimulations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete simulation
      description: Delete an attack simulation campaign for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/simulation-delete?view=graph-rest-1.0
      operationId: security.attackSimulation.DeleteSimulations
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/{simulation-id}/landingPage:
    description: Provides operations to manage the landingPage property of the microsoft.graph.simulation entity.
    parameters:
    - name: simulation-id
      in: path
      description: The unique identifier of simulation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get landingPage from security
      description: The landing page associated with a simulation during its creation.
      operationId: security.attackSimulation.simulations.GetLandingPage
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.landingPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/{simulation-id}/loginPage:
    description: Provides operations to manage the loginPage property of the microsoft.graph.simulation entity.
    parameters:
    - name: simulation-id
      in: path
      description: The unique identifier of simulation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get loginPage from security
      description: The login page associated with a simulation during its creation.
      operationId: security.attackSimulation.simulations.GetLoginPage
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.loginPage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/{simulation-id}/payload:
    description: Provides operations to manage the payload property of the microsoft.graph.simulation entity.
    parameters:
    - name: simulation-id
      in: path
      description: The unique identifier of simulation
      required: true
      schema:
        type: string
      x-ms-docs-key-type: simulation
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get payload from security
      description: The payload associated with a simulation during its creation.
      operationId: security.attackSimulation.simulations.GetPayload
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payload'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.simulations.GetCount-285e
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/trainings:
    description: Provides operations to manage the trainings property of the microsoft.graph.attackSimulationRoot entity.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph List trainings
      description: Get a list of the training objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attacksimulationroot-list-trainings?view=graph-rest-1.0
      operationId: security.attackSimulation.ListTrainings
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trainingCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to trainings for security
      operationId: security.attackSimulation.CreateTrainings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.training'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/trainings/{training-id}:
    description: Provides operations to manage the trainings property of the microsoft.graph.attackSimulationRoot entity.
    parameters:
    - name: training-id
      in: path
      description: The unique identifier of training
      required: true
      schema:
        type: string
      x-ms-docs-key-type: training
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get training
      description: Get an attack simulation training for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/training-get?view=graph-rest-1.0
      operationId: security.attackSimulation.GetTrainings
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property trainings in security
      operationId: security.attackSimulation.UpdateTrainings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.training'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.training'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property trainings for security
      operationId: security.attackSimulation.DeleteTrainings
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/trainings/{training-id}/languageDetails:
    description: Provides operations to manage the languageDetails property of the microsoft.graph.training entity.
    parameters:
    - name: training-id
      in: path
      description: The unique identifier of training
      required: true
      schema:
        type: string
      x-ms-docs-key-type: training
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get trainingLanguageDetail
      description: Get the language details about an attack simulation training for a tenant.
      operationId: security.attackSimulation.trainings.ListLanguageDetails
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trainingLanguageDetailCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Create new navigation property to languageDetails for security
      operationId: security.attackSimulation.trainings.CreateLanguageDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trainingLanguageDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trainingLanguageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/trainings/{training-id}/languageDetails/{trainingLanguageDetail-id}:
    description: Provides operations to manage the languageDetails property of the microsoft.graph.training entity.
    parameters:
    - name: training-id
      in: path
      description: The unique identifier of training
      required: true
      schema:
        type: string
      x-ms-docs-key-type: training
    - name: trainingLanguageDetail-id
      in: path
      description: The unique identifier of trainingLanguageDetail
      required: true
      schema:
        type: string
      x-ms-docs-key-type: trainingLanguageDetail
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get trainingLanguageDetail
      description: Get the language details about an attack simulation training for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/traininglanguagedetail-get?view=graph-rest-1.0
      operationId: security.attackSimulation.trainings.GetLanguageDetails
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trainingLanguageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Update the navigation property languageDetails in security
      operationId: security.attackSimulation.trainings.UpdateLanguageDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trainingLanguageDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trainingLanguageDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Delete navigation property languageDetails for security
      operationId: security.attackSimulation.trainings.DeleteLanguageDetails
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/trainings/{training-id}/languageDetails/$count:
    description: Provides operations to count the resources in the collection.
    parameters:
    - name: training-id
      in: path
      description: The unique identifier of training
      required: true
      schema:
        type: string
      x-ms-docs-key-type: training
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.trainings.languageDetails.GetCount-b009
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /security/attackSimulation/trainings/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - security.attackSimulationRoot
      summary: Microsoft Graph Get the number of the resource
      operationId: security.attackSimulation.trainings.GetCount-b606
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.emailIdentity:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.identity'
      - title: emailIdentity
        required:
        - '@odata.type'
        type: object
        properties:
          email:
            type: string
            description: Email address of the user.
            nullable: true
          '@odata.type':
            type: string
            default: '#microsoft.graph.emailIdentity'
      x-ms-discriminator-value: '#microsoft.graph.emailIdentity'
    microsoft.graph.training:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: training
        required:
        - '@odata.type'
        type: object
        properties:
          availabilityStatus:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.trainingAvailabilityStatus'
            - type: object
              nullable: true
            description: 'Training availability status. The possible values are: unknown, notAvailable, available, archive, delete, unknownFutureValue.'
          createdBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailIdentity'
            - type: object
              nullable: true
            description: Identity of the user who created the training.
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when the training was created. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            nullable: true
          description:
            type: string
            description: The description for the training.
            nullable: true
          displayName:
            type: string
            description: The display name for the training.
            nullable: true
          durationInMinutes:
            maximum: 2147483647
            minimum: -2147483648
            type: number
            description: Training duration.
            format: int32
            nullable: true
          hasEvaluation:
            type: boolean
            description: Indicates whether the training has any evaluation.
            nullable: true
          lastModifiedBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailIdentity'
            - type: object
              nullable: true
            description: Identity of the user who last modified the training.
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when the training was last modified. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            nullable: true
          source:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.simulationContentSource'
            - type: object
              nullable: true
            description: 'Training content source. The possible values are: unknown, global, tenant, unknownFutureValue.'
          supportedLocales:
            type: array
            items:
              type: string
              nullable: true
            description: Supported locales for content for the associated training.
          tags:
            type: array
            items:
              type: string
              nullable: true
            description: Training tags.
          type:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.trainingType'
            - type: object
              nullable: true
            description: 'The type of training. The possible values are: unknown, phishing, unknownFutureValue.'
          languageDetails:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.trainingLanguageDetail'
            description: Language specific details on a training.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.training'
    ReferenceNumeric:
      enum:
      - -INF
      - INF
      - NaN
      type: string
      nullable: true
    microsoft.graph.landingPage:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: landingPage
        required:
        - '@odata.type'
        type: object
        properties:
          createdBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailIdentity'
            - type: object
              nullable: true
            description: Identity of the user who created the landing page.
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when the landing page was created. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            nullable: true
          description:
            type: string
            description: Description of the landing page as defined by the user.
            nullable: true
          displayName:
            type: string
            description: The display name of the landing page.
            nullable: true
          lastModifiedBy:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.emailIdentity'
            - type: object
              nullable: true
            description: Email identity of the user who last modified the landing page.
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when the landing page was last modified. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
            nullable: true
          locale:
            type: string
            description: Content locale.
            nullable: true
          source:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.simulationContentSource'
            - type: object
              nullable: true
            description: 'The source of the content. The possible values are: unknown, global, tenant, unknownFutureValue.'
          status:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.simulationContentStatus'
            - type: object
              nullable: true
            description: 'The status of the simulation. The possible values are: unknown, draft, ready, archive, delete, unknownFutureValue.'
          supportedLocales:
            type: array
            items:
              type: string
              nullable: true
            description: Supported locales.
          details:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.landingPageDetail'
            description: The detail information for a landing page associated with a simulation during its creation.
            x-ms-navigationProperty: true
          '@odata.type':
            type: string
      x-ms-discriminator-value: '#microsoft.graph.landingPage'
    microsoft.graph.trainingEventsContent:
      title: trainingEventsContent
      required:
      - '@odata.type'
      type: object
      properties:
        assignedTrainingsInfos:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.assignedTrainingInfo'
          description: List of assigned trainings and their information in an attack simulation and training campaign.
        trainingsAssignedUserCount:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Number of users who were assigned trainings in an attack simulation and training campaign.
          format: int32
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.oAuthAppScope:
      title: oAuthAppScope
      enum:
      - unknown
      - readCalendar
      - readContact
      - readMail
      - readAllChat
      - readAllFile
      - readAndWriteMail
      - sendMail
      - unknownFutureValue
      type: string
    microsoft.graph.simulationEvent:
      title: simulationEvent
      required:
      - '@odata.type'
      type: object
      properties:
        count:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Count of the simulation event occurrence in an attack simulation and training campaign.
          format: int32
          nullable: true
        eventName:
          type: string
          description: Name of the simulation event in an attack simulation and training campaign.
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.simulationAutomationRun:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: simulationAutomationRun
        required:
        - '@odata.type'
        type: object
        properties:
          endDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when the run ends in an attack simulation automation.
            format: date-time
            nullable: true
          simulationId:
            type: string
            description: Unique identifier for the attack simulation campaign initiated in the attack simulation automation run.
            nullable: true
          startDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Date and time when the run starts in an attack simulation automation.
            format: date-time
            nullable: true
          status:
            anyOf:
            - $ref: '#/components/schemas/microsoft.graph.simulationAutomationRunStatus'
            - type: object
              nullable: true
[...]
